
<link rel="stylesheet" type="text/css" href="/public/nepadmin/static/css/dmaku2.css" />
<link rel="stylesheet" type="text/css" href="/public/nepadmin/static/css/swiper-bundle.min.css" />
<link rel="stylesheet" type="text/css" href="/public/nepadmin/static/css/login.css" />
<!-- Swiper JS -->
<!--<script src="/public/nepadmin/static/js/swiper-bundle.min.js"></script>-->
<script src="/public/nepadmin/static/js/login.js"></script>
<script src="/public/nepadmin/static/js/loginApp.js"></script>

<style>
    html,
    body {
        height:100%;
        width:100%;
        background: #141e6e;
        background: radial-gradient(at center, #0075c3, #000b61) !important;
    }
    canvas {background: radial-gradient(at center, #0075c3, #000b61) !important;}
    .code_ma{padding: 0px;}
</style>



<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
    <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="472" height="625"></canvas>
</div>
<div class="Login_wrap" style="">
    <div class="Right_box" id="VIEW-login">
        <div id="wechat_logo">
            <div class="wx_ewm">
                <p class="title_text">微信扫码登录更便捷</p>
                <img src="/public/nepadmin/static/images/ewm_bj.png" alt="LOGO" />
            </div>
        </div>
        <div id="user_logo">
            <div class="wx_ewm">
                <p class="title_text">账号密码登录</p>
                <img src="/public/nepadmin/static/images/dn_icon.png" alt="LOGO" />
            </div>
        </div>
        <div class="input_box_wrap" id="wechat_content">
            <p class="wechat_title">微信扫码  安全登录</p>
            <div class="wechat_ewm" style="width: 230px;height: 230px">
                <!--                <img src="/public/nepadmin/static/images/ewm_icon.png" alt="LOGO" />-->
            </div>
            <p class="open_wechat">打开微信 扫一扫登录</p>
            <p class="user_title" id="user_text">账号密码登录</p>
        </div>
        <div class="input_box_wrap layui-form" lay-filter="login-form" id="user_content">
            <div class="login_bpx">
                <img src="/public/nepadmin/images/img/logo.png" alt="LOGO" />
                <p class="logo_desc">欢迎登录后台管理系统</p>
            </div>
            <div class="input_box normal-login-form">

                <div class="account">
                    <img src="/public/nepadmin/images/img/icon1.png" alt="账号" />
                    <input type="text"  name="u_account" value="" lay-verify="required" lay-verType="tips" placeholder="请输入账号" maxlength="11" autocomplete="off" >
                </div>
                <div class="password">
                    <img src="/public/nepadmin/images/img/icon2.png" alt="密码" />
                    <input type="password"   name="u_password" value="" lay-verify="password" lay-verType="tips" placeholder="请输入密码" autocomplete="off">
                </div>
                <div class="Code_box">
                    <div class="yanzhengma">
                        <img src="/public/nepadmin/images/img/icon3.png" alt="验证码" />
                        <input  placeholder="图形验证码" type="text" maxlength="4" name="verifyCode" lay-verify="imgCode" lay-verType="tips">
                    </div>
                    <div class="code_ma" >
                        <img  id="img-captcha" src="/admin/login/verifyCode" class="codeimg" />
                    </div>
                </div>
                <div class="login_btn">
                    <button type="submit" class="layui-btn layui-btn-normal layui-btn-fluid ant-btn-primary" lay-submit lay-filter="login-submit">
                        <i style="display: none" class="layui-icon layui-icon-loading layui-icon layui-anim layui-anim-rotate layui-anim-loop"></i>
                        立即登录
                    </button>

                </div>
                <div class="wx_login">
                    <!--                    <p  id="wechatLogin">微信授权登录</p>-->
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Initialize Swiper -->
<script>

    layui.use(['admin','helper','util','qrcode','form','siam','conf','carousel','api'],function(admin,helper,util,qrcode,form){
        var $ = layui.jquery;
        var view = $('#VIEW-login');
        var wechatLogin = view.find("#wechatLogin");
        var viewQrcode = view.find(".qrcode-image");
        var viewImgVerify = view.find(".codeimg");
        var viewImgVerifyBlock = view.find('.verify-block');
        var viewImgVerifyInput = viewImgVerifyBlock.find('[name=verifyCode]');
        var viewSendsmsBtn = view.find('.sendsms');
        var viewPhoneInput = view.find('[name=username]');
        var viewTabBtn = view.find('.login-type-tab li');
        var siam = layui.siam;
        var carousel = layui.carousel;
        $('.app_name').text(layui.conf.name)

        var currentLoginType = 'password';
        var QRExists = false;
        var btnDisabledCls = 'layui-btn-disabled';
        var smsCountdown = false;

        form.render();
        viewTabBtn.click(function(){
            var type = $(this).attr('login-type');
            $(this).addClass('active').siblings().removeClass('active');
            layer.closeAll();
            loginType[type]();
        })
        $('#wechat_logo').click(function () {
            $(this).hide();
            $('.wechat_ewm').html('')
            $('#user_logo').show()
            $('#wechat_content').show()
            $('#user_content').hide()
            admin.post({
                api: 'LoginWechatLoginUrl',
                async: false,
                data:{},
                success:function (result) {
                    helper.qrcode($('.wechat_ewm'), result.result.url);
                    $('.text_msg').text('微信扫一扫登录')
                    //每3秒 检测是否登录 如果已登录
                    var n = 0;
                    var setInterval_id =    setInterval(function () {
                        admin.post({
                            api:'LoginWechatLogin',
                            data: {"key": result.result.key},
                            success:function(res){
                                if(res.status==1){
                                    clearInterval(setInterval_id)
                                    layer.closeAll();
                                    layer.msg('微信登录成功，正在跳转！',{time:3000,end:function () {
                                            admin.login(res.result.token,res.result['user'],false);
                                            admin.data([
                                                {
                                                    key: 'user',
                                                    value: {
                                                        name : res.result['user']['username'],
                                                    }
                                                }
                                            ]);
                                            // 储存权限
                                            admin.data([
                                                {
                                                    key: 'auth',
                                                    value: res.result.authList
                                                }
                                            ]);
                                            admin.navigate('/');
                                        }});

                                }

                            }
                        });
                        n++;
                        if(n>=60){
                            clearInterval(setInterval_id)
                            layer.closeAll();
                            layer.msg('微信登录已过期');
                        }

                    },5000)
                }
            });

        })
        $('#user_logo').click(function () {
            $(this).hide()
            $('#wechat_logo').show()
            $('#wechat_content').hide()
            $('#user_content').show()
        })
        $('#user_text').click(function () {
            $('#user_logo').hide()
            $('#wechat_logo').show()
            $('#wechat_content').hide()
            $('#user_content').show()
        })


        if(currentLoginType !== 'password'){
            viewTabBtn.each(function(i){
                var elem = viewTabBtn.eq(i);
                if(elem.attr('login-type') === currentLoginType) elem.click();
            })
        }

        viewPhoneInput.on('keyup',checkSendsmsStatus)
        viewImgVerifyInput.on('keyup',checkSendsmsStatus)


        function createQrcode(){
            if(QRExists == false){
                setTimeout(function(){
                    helper.qrcode(viewQrcode,'http://www.layui.com');
                    viewQrcode.find('.layui-icon').hide();
                    QRExists = true;
                },500)
            }
        }
        function checkSendsmsStatus(){
            if(currentLoginType != 'phonecode') return;
            var reg = layui.form.config.verify.phone[0];
            if(smsCountdown == false && reg.test(viewPhoneInput.val()) && viewImgVerifyInput.val().length == 4){
                viewSendsmsBtn.removeClass(btnDisabledCls);
            }else{
                viewSendsmsBtn.addClass(btnDisabledCls);
            }
        }

        var loginType = {
            normalInput:view.find('.normal-login-form'),
            elem:{
                password:view.find('.password-block'),
                phonecode:view.find('.phonecode-block'),
                qrcode:view.find('.qrcode-block')
            },
            password:function(){
                viewImgVerifyBlock.hide();
                this.tabs('password');
            },
            phonecode:function(){
                viewImgVerifyBlock.show();
                this.tabs('phonecode');
                checkSendsmsStatus();
            },
            qrcode:function(){
                createQrcode();
                this.normalInput.hide();
                this.elem.qrcode.show();
                currentLoginType = 'qrcode';
            },
            tabs:function(name){
                this.normalInput.show();
                layui.each(this.elem,function(key,elem){
                    elem.css('display',name == key ? 'block' : 'none');
                })
                currentLoginType = name;
            }
        }


        form.verify({
            password:function(value,el){
                if(currentLoginType == 'password' && value.length < 3) return '登录密码不能少于 3 位';
            },
            imgCode:function(value){
                if(currentLoginType == 'phonecode' && value.length != 4) return '图形验证码错误';
            },
            smsCode:function(value){
                if(currentLoginType == 'phonecode' && (isNaN(value) || value.length != 4))  return '手机验证码错误'
            }
        })

        viewSendsmsBtn.click(function(){
            var self = $(this);
            if(self.hasClass(btnDisabledCls)) return;
            self.addClass(btnDisabledCls);

            var defHtml = self.html();
            var startTime = new Date().getTime();
            var endTime = startTime + 59000;

            smsCountdown = true;
            util.countdown(endTime,startTime,function(date,time,timer){
                var second = date[3];
                self.html(second + ' 秒');
                if(second <= 0){
                    self.removeClass(btnDisabledCls).html(defHtml);
                    smsCountdown = false;
                    clearInterval(timer);
                }
            });


        })

        //提交登录表单
        form.on('submit(login-submit)',function(data){
            var loading = $(this).find('.layui-icon');
            if(loading.is(":visible")) return;

            loading.show();

            admin.get({
                api:'login',
                data:data.field,
                success:function(res){
                    if(res.status!=1){
                        if(res.status==0){
                            $('#img-captcha').attr("src", "/admin/login/verifyCode" + "?random=" + Math.random());
                        }
                        layer.msg(res.msg);return false;
                    }
                    admin.login(res.result.token,res.result['user'],false);//data.field.autoLogin !== 'on'
                    admin.data([
                        {
                            key: 'user',
                            value: {
                                name : res.result['user']['username'],
                            }
                        }
                    ]);
                    // 储存权限
                    admin.data([
                        {
                            key: 'auth',
                            value: res.result.authList
                        }
                    ]);
                    //更新当前用户的权限列表
                    $.ajax({
                        type: "POST",
                        url:  '/admin/auths/getApiList',
                        data:{},
                        headers:{'Token':res.result.token},
                        processData: false,
                        success: function (data) {
                            layui.api = data.result
                            layui.data('nepadmin', {
                                key: 'api'
                                ,value: data.result
                            });
                            admin.navigate('/');
                            console.log(layui.api)
                        }
                    });

                },
                complete:function(){

                    loading.hide();
                }
            });
            return false;
        })

        $("#img-captcha").click(function () {
            $('#img-captcha').attr("src", "/admin/login/verifyCode" + "?random=" + Math.random());
        });

    })
</script>

<!--

</body>
</html>
-->
