.login .logo{ text-align: center;margin: auto}
.login .logo img{ max-width: 200px}
.layui-layer-page{ border-radius: 10px}
.footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 53px;
    border-top: 1px solid #f2f2f2;
    background-color: #fff;
    z-index: 99999999999;
}
.footer-nav .layui-tab-title{
    height: auto !important;
}
.footer-nav .layui-tab-title li {
    position: relative;
    line-height:20px !important;
    min-width: 65px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
}
.footer-nav>.layui-tab-title .layui-this p{
    color: #FFC800 !important;
}

.footer-nav>.layui-tab-title .layui-this:after {
    border: none;
    border-radius: 0;
    border-bottom: 0px solid #16b777
}
.footer-nav img{
    width: 32px;
    height: 32px;
}
.layui-tab .layui-tab-title li{
    width: 20% !important;
    padding: 0 !important;
}
.layui-tab {
    margin:  0 !important;
    text-align: left!important;
}
.layui-tab-bar{display: none}
.content .layui-tab .layui-tab-title li {
    color: #ffffff;
    position: relative;
    line-height: 40px;
    min-width: 65px;
    border: 0px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
}
.content .layui-tab-title {
    border-bottom-width: 0px;
}
.content .layui-tab-brief>.layui-tab-title .layui-this {
    background: #FFC800;//8fbb21
    color: #ffffff;
}
.content .layui-tab-item{margin-bottom: 50px;}
.vip-icon{ width: 30px;height: 30px;display: inline;float: right}
.product_buy_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding:20px ;
    border-top: 1px solid #f2f2f2;
    background-color: #fff;
    z-index: 9999999999;
}

.buy-btn {
    background: rgba(69, 176, 83, 0.9);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;;

}