body{
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    background: #f5f7fb;
    font-size: 0.9375rem;
}
@media (min-width: 1280px) {
    .layui-container {
        max-width: 1200px;
    }
}
.text-center{text-align: center !important;}
.header{
    display: flex;
    justify-content:space-between;
}
.layui-tab .layui-tab-title {
    border-bottom-width: 0px;
    height: 50px;

}
.layui-tab-brief>.layui-tab-title .layui-this {
    color: #467fcf;
    height: 50px;
    line-height: 50px;
}
.layui-tab-brief>.layui-tab-title li {
    margin: 0 0.75rem;
    padding: 0;
    text-align: left;
    min-width: 2rem;

}
.layui-tab-brief>.layui-tab-title li a{
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    color: #9aa0ac;
    background: transparent;
    border-bottom: none;
}
.layui-tab-brief>.layui-tab-title .layui-this a{
    border-color: #467fcf;
    color: #467fcf;
    background: transparent;
    position: relative;

}
.fe-play:before {
    content: "\e9ad";
}
.layui-tab-brief>.layui-tab-title .layui-this:after{
    height: 50px;
    line-height: 50px;
    border:none;border-radius:0;border-bottom:1px solid #467fcf
}
.layui-icon-verticalright:before {
    content: '\e857';
}
.card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
}
.card .card-tabs {
    display: -ms-flexbox;
    display: flex;
}

.card .card-tabs a.card-tabs-item.active {
    background: #fff;
    border-bottom-color: #fff;
}
.card .card-tabs a.card-tabs-item {
    background: #fafbfc;
}
.card .card-tabs .card-tabs-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: block;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
    color: inherit;
    overflow: hidden;
}
.card-tabs-item + .card-tabs-item {
    border-left: 1px solid rgba(0, 40, 100, 0.12);
}
.card-tabs-item + .card-tabs-item {
    border-left: 1px solid rgba(0, 40, 100, 0.12);
}
.layui-table[lay-skin=line] {border:none !important;}
.layui-table  td{border:none;border-top: 1px solid rgba(0, 40, 100, 0.12) !important;}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}
.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}
.list-inline-item {
    display: inline-block;
}
.list-inline-dots .list-inline-item + .list-inline-item:before {
    content: '· ';
    margin-left: -2px;
    margin-right: 3px;
}

.team_img {
    display: inline-block;
    width: 140px;
    height: 140px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    text-align: center!important;
    box-shadow: 0 0 8px #999;
    margin-bottom: 30px;
}