<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$system.title}</title>
    <!-- 引入 layui.css -->
    <link href="/public/web/layui/css/layui.css" rel="stylesheet">
    <link href="/public/web/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/web/css/common.css?v=1.0" rel="stylesheet">
    <style>
        .card-tabs-item + .card-tabs-item {
            border-left: 1px solid rgba(0, 40, 100, 0.12);
        }
        .layui-table[lay-skin=line] {border:none !important;}
        .layui-table  td{border:none;border-top: 1px solid rgba(0, 40, 100, 0.12) !important;}
        .col-auto {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }
        .list-inline {
            padding-left: 0;
            list-style: none;
        }
        .list-inline-item:not(:last-child) {
            margin-right: 0.5rem;
        }
        .list-inline-item {
            display: inline-block;
        }
        .list-inline-dots .list-inline-item + .list-inline-item:before {
            content: '· ';
            margin-left: -2px;
            margin-right: 3px;
        }

    </style>
</head>
<body>
<!--	底部内容-开始	  -->
{include file="index/common/header"}
<!--	底部内容-结束	  -->

<div class="layui-container" style="padding-left: 0.75rem">

    <div style="margin-top:30px;border-top: 3px solid #5eba00 !important;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);border-radius: 3px 3px 0 0;background: #ffffff">
        <div style="margin: 20px;display: flex;justify-content: space-between">
            <h3> {:l('Fixtures',$lang)}</h3>
            <a href="/fixtures" class="layui-btn layui-btn-primary layui-btn-sm"> {:l('More',$lang)}</a>
        </div>
        <table class="layui-table" lay-skin="line" style="background: #ffffff">
            <colgroup>

                <col width="">
                <col width="192">
                <col width="">
                <col width="">
                <col width="">
            </colgroup>

            <tbody>
            {volist name="fixtures.list" id="v"}
            <tr style="color:#467fcf ;text-align: left">

                <td><a style="color:#467fcf ;" href="/league/{$v['league']['id']}">{$v['league']['name']}</a></td>
                <td style="color: #24587e">
                    {:date("m/d H:i",strtotime($v['time']))}
                </td>
                <td style="text-align: left">
                    <a href="/team/{$v['home']['id']}" style="color:#467fcf ;">
                        {if condition="file_exists(EASYSWOOLE_ROOT.'/public/uploads/team_logo/'.$v['home']['id'].'.png')"}
                        <img style="width: 20px" src="/public/uploads/team_logo/{$v['home']['id']}.png">
                        {/if}
                        {$v['home']['name']}
                    </a>
                    <span style="color: #24587e">v</span>
                    <a  href="/team/{$v['home']['id']}" style="color:#467fcf ;">
                        {$v['away']['name']}
                        {if condition="file_exists(EASYSWOOLE_ROOT.'/public/uploads/team_logo/'.$v['away']['id'].'.png')"}
                        <img style="width: 20px" src="/public/uploads/team_logo/{$v['away']['id']}.png">
                        {/if}
                    </a>
                </td>
                <td style="text-align: left">
                    <a style="color:#467fcf ;" href="/competition/{$v.id}">
                        {empty name="v.ss"}
                        {:l('View',$lang)}
                        {else/}
                        {$v['ss']}
                        {/empty}
                    </a>
                </td>


            </tr>
            {/volist}


            </tbody>
        </table>
        <hr style="border-top: 1px solid rgba(0, 40, 100, 0.12);    margin: 2rem 0 !important;     display: block; unicode-bidi: isolate;margin-block-start: 0.5em; margin-block-end: 0.5em;   margin-inline-start: auto; margin-inline-end: auto;">
    </div>

    <div style="border-top: 3px solid #5eba00 !important;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);border-radius: 3px 3px 0 0;background: #ffffff">
        <div style="margin: 20px;display: flex;justify-content: space-between">
            <h3> {:l('Results',$lang)}</h3>
            <a href="/results" class="layui-btn layui-btn-primary layui-btn-sm"> {:l('More',$lang)}</a>
        </div>
        <table class="layui-table" lay-skin="line" style="background: #ffffff">

            <tbody>
            {volist name="results.list" id="v"}
            <tr style="color:#467fcf ;text-align: left">

                <td><a style="color:#467fcf ;" href="/league/{$v['league']['id']}">{$v['league']['name']}</a></td>
                <td style="color: #24587e">
                    {:date("m/d H:i",strtotime($v['time']))}
                </td>
                <td style="text-align: left">
                    <a href="/team/{$v['home']['id']}" style="color:#467fcf ;">
                        {if condition="file_exists(EASYSWOOLE_ROOT.'/public/uploads/team_logo/'.$v['home']['id'].'.png')"}
                        <img style="width: 20px" src="/public/uploads/team_logo/{$v['home']['id']}.png">
                        {/if}
                        {$v['home']['name']}
                    </a>
                    <span style="color: #24587e">v</span>
                    <a  href="/team/{$v['home']['id']}" style="color:#467fcf ;">
                        {$v['away']['name']}
                        {if condition="file_exists(EASYSWOOLE_ROOT.'/public/uploads/team_logo/'.$v['away']['id'].'.png')"}
                        <img style="width: 20px" src="/public/uploads/team_logo/{$v['away']['id']}.png">
                        {/if}
                    </a>
                </td>
                <td style="text-align: left">
                    <a style="color:#467fcf ;" href="/competition/{$v.id}">
                        {empty name="v.ss"}
                        {:l('View',$lang)}
                        {else/}
                        {$v['ss']}
                        {/empty}
                    </a>
                </td>


            </tr>
            {/volist}

            </tbody>
        </table>
        <hr style="border-top: 1px solid rgba(0, 40, 100, 0.12);    margin: 2rem 0 !important;     display: block; unicode-bidi: isolate;margin-block-start: 0.5em; margin-block-end: 0.5em;   margin-inline-start: auto; margin-inline-end: auto;">
    </div>


</div>
<!--	底部内容-开始	  -->
{include file="index/common/footer"}
<!--	底部内容-结束	  -->
<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script>
    layui.use( function(){
        var $ = layui.jquery;
        var table = layui.table;
        var dropdown = layui.dropdown;
        var form = layui.form;

        // 输入框点缀事件 - 搜索示例
        form.on('input-affix(search)', function(data){
            var elem = data.elem; // 输入框
            var value = elem.value; // 输入框的值
            // if(!value){
            //     layer.msg('请输入搜索内容');
            //     return elem.focus()
            // };

            //搜索跳转
            location.href = '/search?q='+ value;
        });
        // 水平对齐方式
        dropdown.render({
            elem: '.lang',
            // align: 'center' // align 已配置在元素 `lay-options` 属性上
            data: [{
                title: 'English',
                lang: 'En',
                id: 1
            },{
                title: '简体中文',
                lang: 'Cn',
                id: 2
            }],
            click: function(item){
                var url = window.location.href;
                window.location.href =  replaceUrlParam(url,'lang',item.lang)
            }
        });
        $('.Skip_Esports').click(function () {
            var url = window.location.href;
            window.location.href =  replaceUrlParam(url,'skipE',1)
        })
        function replaceUrlParam(url, paramName, paramValue) {
            var urlObj = new URL(url);
            urlObj.searchParams.set(paramName, paramValue);
            return urlObj.toString();
        }
    });
</script>
</body>
</html>
