<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}</title>
    <!-- 引入 layui.css -->
    <link href="/public/web/layui/css/layui.css" rel="stylesheet">
    <link href="/public/web/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/web/css/common.css?v=1.0" rel="stylesheet">
    <style>
        .card-tabs-item + .card-tabs-item {
            border-left: 1px solid rgba(0, 40, 100, 0.12);
        }
        .layui-table[lay-skin=line] {border:none !important;}
        .layui-table  td{border:none;border-top: 1px solid rgba(0, 40, 100, 0.12) !important;}
        .col-auto {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }
        .list-inline {
            padding-left: 0;
            list-style: none;
        }
        .list-inline-item:not(:last-child) {
            margin-right: 0.5rem;
        }
        .list-inline-item {
            display: inline-block;
        }
        .list-inline-dots .list-inline-item + .list-inline-item:before {
            content: '· ';
            margin-left: -2px;
            margin-right: 3px;
        }
        .layui-table th{ border: none !important;}
    </style>
</head>
<body>
<!--	底部内容-开始	  -->
{include file="index/common/header"}
<!--	底部内容-结束	  -->

<div class="layui-container" style="padding-left: 0.75rem;margin-bottom: 20px;">
    <div class="" style="background: none">

        <div class="" style="display: flex;justify-content: left">
            <div style="text-align: left !important;">
                <div class="team_img" style="width: 100px;height: 100px;margin-top: 20px">
                    <img  src="/public/uploads/team_logo/{$team['id']}.png">
                </div>
            </div>
            <div>
                <div   style="text-align: left">

                    <div class="layui-padding-3">
                        <h1 style="color: #5f5f5f">
                            <img style="width: 20px" src="/public/uploads/country/{$team['cc']}.svg">
                            {$team.name}
                        </h1>

<!--                        <p class="layui-padding-1">-->
<!--                            <b>Leagues Played</b>: <span class="layui-badge-rim">未找到对应接口</span>-->

<!--                        </p>-->
<!--                        <p class="layui-padding-1">-->
<!--                            <b>Links</b>: <span class="layui-badge-rim">未找到对应接口</span>-->
<!--                        </p>-->
<!--                        <p class="layui-padding-1">-->
<!--                            <b>Related Teams</b>: <span class="layui-badge-rim">未找到对应接口</span>-->
<!--                        </p>-->


                    </div>

                </div>

            </div>

        </div>
    </div>
    <div>
        <div class="card">
            <div class="card-tabs text-center">
                <a href="javascript:" class="card-tabs-item active" data-id="matches">
                    {:l('Matches',$lang)}
                </a>
                <a href="javascript:" class="card-tabs-item" data-id="fixtures">
                    {:l('Fixtures',$lang)}
                </a>
                <a href="javascript:" class="card-tabs-item" data-id="results">
                    {:l('Results',$lang)}
                </a>
                <a href="javascript:" class="card-tabs-item" data-id="squad">
                    {:l('Squad',$lang)}
                </a>


            </div>
        </div>
    </div>
    <div id="matches"  class="contents">

        <div  style="margin-top:30px;border-top: 3px solid #5eba00 !important;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);border-radius: 3px 3px 0 0;background: #ffffff">
            <div style="margin: 20px;display: flex;justify-content: space-between">
                <h3> {:l('Fixtures',$lang)}</h3>
                <a href="/fixtures" class="layui-btn layui-btn-primary layui-btn-sm"> {:l('More',$lang)}</a>
            </div>
            <table  id="fixtures_table" lay-filter="fixtures_table"></table>
        </div>

        <div style="border-top: 3px solid #5eba00 !important;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);border-radius: 3px 3px 0 0;background: #ffffff;margin-top: 30px;">
            <div style="margin: 20px;display: flex;justify-content: space-between">
                <h3> {:l('Results',$lang)}</h3>
                <a href="/results" class="layui-btn layui-btn-primary layui-btn-sm"> {:l('More',$lang)}</a>
            </div>
            <table  id="results_table" lay-filter="results_table"></table>
        </div>
    </div>
    <div id="fixtures"  class="contents" style="display: none">
        <div style="margin-top:30px;border-top: 3px solid #5eba00 !important;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);border-radius: 3px 3px 0 0;background: #ffffff">
            <div style="margin: 20px;display: flex;justify-content: space-between">
                <h3> {:l('Fixtures',$lang)}</h3>
                <a href="/fixtures" class="layui-btn layui-btn-primary layui-btn-sm"> {:l('More',$lang)}</a>
            </div>
            <table  id="fixtures_table_1" lay-filter="fixtures_table_1"></table>
        </div>
     </div>
    <div id="results"  class="contents" style="display: none">
       <div style="border-top: 3px solid #5eba00 !important;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);border-radius: 3px 3px 0 0;background: #ffffff">
           <div style="margin: 20px;display: flex;justify-content: space-between">
               <h3> {:l('Results',$lang)}</h3>
               <a href="/results" class="layui-btn layui-btn-primary layui-btn-sm"> {:l('More',$lang)}</a>
           </div>
           <table  id="results_table_1" lay-filter="results_table_1"></table>
       </div>
   </div>
    <div id="squad"  class="contents" style="display: none">
        <table  id="team_squad" lay-filter="team_squad"></table>

        <hr style="border-top: 1px solid rgba(0, 40, 100, 0.12);    margin: 2rem 0 !important;     display: block; unicode-bidi: isolate;margin-block-start: 0.5em; margin-block-end: 0.5em;   margin-inline-start: auto; margin-inline-end: auto;">
    </div>


</div>
<!--	底部内容-开始	  -->
{include file="index/common/footer"}
<!--	底部内容-结束	  -->
<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script src="/public/web/js/fixbar.js"></script>
<script>
    layui.use( function(){
        var $ = layui.jquery;
        var table = layui.table;
        var dropdown = layui.dropdown;
        var form = layui.form;

        // 输入框点缀事件 - 搜索示例
        form.on('input-affix(search)', function(data){
            var elem = data.elem; // 输入框
            var value = elem.value; // 输入框的值
            //搜索跳转
            location.href = '/search?q='+ value;
        });
        // 水平对齐方式
        dropdown.render({
            elem: '.lang',
            // align: 'center' // align 已配置在元素 `lay-options` 属性上
            data: [{
                title: 'English',
                lang: 'En',
                id: 1
            },{
                title: '简体中文',
                lang: 'Cn',
                id: 2
            }],
            click: function(item){
                var url = window.location.href;
                window.location.href =  replaceUrlParam(url,'lang',item.lang)
            }
        });
        $('.Skip_Esports').click(function () {
            var url = window.location.href;
            window.location.href =  replaceUrlParam(url,'skipE',1)
        })
        function replaceUrlParam(url, paramName, paramValue) {
            var urlObj = new URL(url);
            urlObj.searchParams.set(paramName, paramValue);
            return urlObj.toString();
        }

        $('.card-tabs-item').click(function (){
            $('.card-tabs-item').removeClass('active');
            $(this).addClass('active');
            $('.contents').hide();
            var id = $(this).attr('data-id')
            $('#'+id).show();
        })
        // 球队阵容
        var team_squad =  table.render({
            elem: '#team_squad',
            url: '/getTeamSquad', // 真实接口
            where:{"team_id":"{$team.id}"},
            page:false,
            cols: [[
                { title: "{:l('No',$lang)}", field: 'shirtnumber',width: 70},
                { title: "{:l('Name',$lang)}", field: 'name',minWidth: 120,templet:function (d) {
                        return '<a href="/player/'+d.id+'"  style="color: #467fcf">'+d.name+'</a>';
                    }},
                { title: "{:l('Birth',$lang)}", field: 'birthdate',width: 120},
                { title: "{:l('Age',$lang)}", field: 'age',width: 100},
                { title: "{:l('Country',$lang)}", field: 'cc',width: 100,templet:function (d) {
                        return '<img src="/public/uploads/country/'+d.cc+'.svg" style="height: 20px">';
                    }},
                { title: "{:l('Position',$lang)}", field: 'position',width: 100},
                { title: "{:l('Height',$lang)}", field: 'height',width: 100},
                { title: "{:l('Weight',$lang)}", field: 'weight',width: 100},
                { title: "{:l('Preferred_Foot',$lang)}", field: 'foot',width: 120},
            ]]
        });
        // 结果
        var results_table =  table.render({
            elem: '#results_table',
            url: '/getEnded', // 真实接口
            where:{"team_id":"{$team.id}"},
            // height: 'full-35', // 最大高度减去其他容器已占有的高度差
            css: [ // 重设当前表格样式
                '.layui-table-tool-temp{padding-right: 145px;}'
            ].join(''),
            limit:15,
            page:true,
            page: { // 支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next'], //自定义分页布局
                groups: 5, //只显示 1 个连续页码
                prev:'Prev',
                next:'Next',
                theme: '#1E9FFF',
            },

            limits:[15,50,100,200,500],
            totalRow: false, // 开启合计行
            cols: [[
                { title: "{:l('League',$lang)}", field: 'League',width: 240,templet:function (d) {
                        return '<a style="color:#467fcf ;" href="/league/'+d.league.id+'">'+d.league.name+'</a>'
                    }},
                { title: 'Date', field: 'time',width: 110},
                { title: 'R', field: 'view.round',width: 40,templet:function (d) {
                        return d.view.round;
                    }},
                { title: "{:l('Home',$lang)} V {:l('Away',$lang)}", field: "round",minWidth: 240,templet:function (d) {
                        console.log(d.view)
                        var home_pos = d.view.home_pos?' <span style="color: red;font-size: 0.75rem">['+d.view.home_pos+']</span> ':'';
                        var away_pos = d.view.away_pos?' <span style="color: red;font-size: 0.75rem">['+d.view.away_pos+']</span> ':'';

                        var html ='<p style="position: relative;"> <a href="/team/'+d.home.id+'" style="color:#467fcf ;"><img style="width: 20px" src="/public/uploads/team_logo/'+d.home.id+'.png">' +home_pos+ d.home.name+ '</a>\n' +
                            '<span style="color: #24587e">v</span>\n' +
                            '<a  href="/team/'+d.home.id+'" style="color:#467fcf ;">' + d.away.name+away_pos+ '<img style="width: 20px" src="/public/uploads/team_logo/'+d.away.id+'.png">\n' + '</a></p>'
                        return html;
                    }},
                { title: '-', field: 'ss',width: 70,templet:function (d) {
                    switch (d.win){
                        case 1:return '  <span class="layui-badge layui-bg-green"  style="width: 20px;">W</span>';break;
                        case 0:return '<span class="layui-badge layui-bg-orange" style="width: 20px;">D</span>';break;
                        case -1:return '<span class="layui-badge layui-bg-red" style="width: 20px;">L</span>';break;
                    }
                }},
                { title: '-', field: 'ss',width: 70,templet:function (d) {
                        var view = d.ss?d.ss: "{:l('View',$lang)}";
                          return '<a style="color:#467fcf ;" href="/competition/'+d.id+'">'+view+ '</a>'
                    }}
            ]]
        });
        // 赛程
        var fixtures_table =  table.render({
            elem: '#fixtures_table',
            url: '/getUpcoming', // 真实接口
            where:{"league_id":"{$league.id}"},
            // height: 'full-35', // 最大高度减去其他容器已占有的高度差
            css: [ // 重设当前表格样式
                '.layui-table-tool-temp{padding-right: 145px;}'
            ].join(''),
            limit:15,
            page:false,
            limits:[50,100,200,500],
            totalRow: false, // 开启合计行
            cols: [[

                { title: "{:l('League',$lang)}", field: 'League',width: 240,templet:function (d) {
                        return '<a style="color:#467fcf ;" href="/league/'+d.league.id+'">'+d.league.name+'</a>'
                    }},
                { title: 'Date', field: 'time',width: 110},
                { title: 'R', field: 'view.round',width: 60,templet:function (d) {
                        return d.view.round;
                    }},
                { title: "{:l('Home',$lang)} V {:l('Away',$lang)}", field: "round",minWidth: 240,templet:function (d) {
                        console.log(d.view)
                        var home_pos = d.view.home_pos?' <span style="color: red;font-size: 0.75rem">['+d.view.home_pos+']</span> ':'';
                        var away_pos = d.view.away_pos?' <span style="color: red;font-size: 0.75rem">['+d.view.away_pos+']</span> ':'';

                        var html ='<p style="position: relative;"> <a href="/team/'+d.home.id+'" style="color:#467fcf ;"><img style="width: 20px" src="/public/uploads/team_logo/'+d.home.id+'.png">' +home_pos+ d.home.name+ '</a>\n' +
                            '<span style="color: #24587e">v</span>\n' +
                            '<a  href="/team/'+d.home.id+'" style="color:#467fcf ;">' + d.away.name+away_pos+ '<img style="width: 20px" src="/public/uploads/team_logo/'+d.away.id+'.png">\n' + '</a></p>'
                        return html;
                    }},
                { title: '-', field: 'ss',width: 70,templet:function (d) {
                        var view = d.ss?d.ss: "{:l('View',$lang)}";
                          return '<a style="color:#467fcf ;" href="/competition/'+d.id+'">'+view+ '</a>'
                    }},
            ]]
        });
        // 结果
        var results_table_1 =  table.render({
            elem: '#results_table_1',
            url: '/getEnded', // 真实接口
            where:{"team_id":"{$team.id}"},
            // height: 'full-35', // 最大高度减去其他容器已占有的高度差
            css: [ // 重设当前表格样式
                '.layui-table-tool-temp{padding-right: 145px;}'
            ].join(''),
            limit:15,
            page:true,
            page: { // 支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next'], //自定义分页布局
                groups: 5, //只显示 1 个连续页码
                prev:'Prev',
                next:'Next',
                theme: '#1E9FFF',
            },

            limits:[15,50,100,200,500],
            totalRow: false, // 开启合计行
            cols: [[
                { title: "{:l('League',$lang)}", field: 'League',width: 240,templet:function (d) {
                        return '<a style="color:#467fcf ;" href="/league/'+d.league.id+'">'+d.league.name+'</a>'
                    }},
                { title: 'Date', field: 'time',width: 110},
                { title: 'R', field: 'view.round',width: 40,templet:function (d) {
                        return d.view.round;
                    }},
                { title: "{:l('Home',$lang)} V {:l('Away',$lang)}", field: "round",minWidth: 240,templet:function (d) {
                        console.log(d.view)
                        var home_pos = d.view.home_pos?' <span style="color: red;font-size: 0.75rem">['+d.view.home_pos+']</span> ':'';
                        var away_pos = d.view.away_pos?' <span style="color: red;font-size: 0.75rem">['+d.view.away_pos+']</span> ':'';

                        var html ='<p style="position: relative;"> <a href="/team/'+d.home.id+'" style="color:#467fcf ;"><img style="width: 20px" src="/public/uploads/team_logo/'+d.home.id+'.png">' +home_pos+ d.home.name+ '</a>\n' +
                            '<span style="color: #24587e">v</span>\n' +
                            '<a  href="/team/'+d.home.id+'" style="color:#467fcf ;">' + d.away.name+away_pos+ '<img style="width: 20px" src="/public/uploads/team_logo/'+d.away.id+'.png">\n' + '</a></p>'
                        return html;
                    }},
                { title: '-', field: 'ss',width: 70,templet:function (d) {
                        switch (d.win){
                            case 1:return '  <span class="layui-badge layui-bg-green"  style="width: 20px;">W</span>';break;
                            case 0:return '<span class="layui-badge layui-bg-orange" style="width: 20px;">D</span>';break;
                            case -1:return '<span class="layui-badge layui-bg-red" style="width: 20px;">L</span>';break;
                        }
                    }},
                { title: '-', field: 'ss',width: 70,templet:function (d) {
                        var view = d.ss?d.ss: "{:l('View',$lang)}";
                        return '<a style="color:#467fcf ;" href="/competition/'+d.id+'">'+view+ '</a>'
                    }}
            ]]
        });
        // 赛程
        var fixtures_table_1 =  table.render({
            elem: '#fixtures_table_1',
            url: '/getUpcoming', // 真实接口
            where:{"league_id":"{$league.id}"},
            // height: 'full-35', // 最大高度减去其他容器已占有的高度差
            css: [ // 重设当前表格样式
                '.layui-table-tool-temp{padding-right: 145px;}'
            ].join(''),
            limit:15,
            page:false,
            limits:[50,100,200,500],
            totalRow: false, // 开启合计行
            cols: [[

                { title: "{:l('League',$lang)}", field: 'League',width: 240,templet:function (d) {
                        return '<a style="color:#467fcf ;" href="/league/'+d.league.id+'">'+d.league.name+'</a>'
                    }},
                { title: 'Date', field: 'time',width: 110},
                { title: 'R', field: 'view.round',width: 60,templet:function (d) {
                        return d.view.round;
                    }},
                { title: "{:l('Home',$lang)} V {:l('Away',$lang)}", field: "round",minWidth: 240,templet:function (d) {
                        console.log(d.view)
                        var home_pos = d.view.home_pos?' <span style="color: red;font-size: 0.75rem">['+d.view.home_pos+']</span> ':'';
                        var away_pos = d.view.away_pos?' <span style="color: red;font-size: 0.75rem">['+d.view.away_pos+']</span> ':'';

                        var html ='<p style="position: relative;"> <a href="/team/'+d.home.id+'" style="color:#467fcf ;"><img style="width: 20px" src="/public/uploads/team_logo/'+d.home.id+'.png">' +home_pos+ d.home.name+ '</a>\n' +
                            '<span style="color: #24587e">v</span>\n' +
                            '<a  href="/team/'+d.home.id+'" style="color:#467fcf ;">' + d.away.name+away_pos+ '<img style="width: 20px" src="/public/uploads/team_logo/'+d.away.id+'.png">\n' + '</a></p>'
                        return html;
                    }},
                { title: '-', field: 'ss',width: 70,templet:function (d) {
                        var view = d.ss?d.ss: "{:l('View',$lang)}";
                          return '<a style="color:#467fcf ;" href="/competition/'+d.id+'">'+view+ '</a>'
                    }},
            ]]
        });
    });
</script>
</body>
</html>
