<div class="layui-fluid"id="AuthGroup-edit" lay-title="编辑权限分组">
    <div class="layui-row layui-col-space15" style="margin-top: 20px">
        <form class="layui-form" action="" lay-filter="edit-AuthGroup-element">
            <input type="hidden" name="id" id="id" >
            <div class="layui-form-item">
                <label class="layui-form-label">所属上级</label>
                <div class="layui-input-block">
                    <div id="edit_auth_rule_ids"  class="xm-select-demo"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分组名称：</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" placeholder="请输入权限分组名称 如：财务组" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注说明：</label>
                <div class="layui-input-block">
                    <input type="text" name="remark"  placeholder="请输入备注信息 可不填" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="edit-AuthGroup-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect','upload'], function (admin, table, form) {
        var $ = layui.jquery;
        var form =layui.form;
        var upload =layui.upload;
        var view = $('#AuthGroup-edit');
        var xmSelect = layui.xmSelect;
        var element = layui.element;
        var token = admin.loginToken;
        var popup_data = POPUP_DATA.data
        form.val("edit-AuthGroup-element", popup_data);
        form.render(null, 'edit-AuthGroup-form');
        var index = parent.layer.index
        form.on('submit(edit-AuthGroup-element)', function (data) {
            admin.post({
                api: 'AuthEditAuthGroup',
                async: false,
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }

                }
            });
            return false;
        });
        // var demo1 = xmSelect.render({
        //     el: '#edit_auth_rule_ids',
        //     autoRow: true,
        //     filterable: true,
        //     tree: {
        //         show: true,
        //         showFolderIcon: true,
        //         showLine: true,
        //         indent: 20,
        //         expandedKeys: [ -3 ],
        //     },
        //     toolbar: {
        //         show: true,
        //         list: ['ALL', 'REVERSE', 'CLEAR']
        //     },
        //     filterable: true,
        //     height: 'auto',
        //     data: function(){
        //         return [
        //             {name: '销售员', value: -1, disabled: true, children: [
        //                     {name: '张三1', value: 1, selected: true, children: []},
        //                     {name: '李四1', value: 2, selected: true},
        //                     {name: '王五1', value: 3, disabled: true},
        //                 ]},
        //             {name: '奖品', value: -2, children: [
        //                     {name: '奖品3', value: -3, children: [
        //                             {name: '苹果3', value: 14, selected: true},
        //                             {name: '香蕉3', value: 15},
        //                             {name: '葡萄3', value: 16},
        //                         ]},
        //                     {name: '苹果2', value: 4, selected: true, disabled: true},
        //                     {name: '香蕉2', value: 5},
        //                     {name: '葡萄2', value: 6},
        //                 ]},
        //         ]
        //     }
        // })
       var edit_auth_rule_ids;

        // //远程获取产品
        admin.post({
            api: 'AuthGetAllAuthRule',
            async: false,
            data:{'auth_rule_ids':popup_data['auth_rule_ids']},
            success: function (res) {
                edit_auth_rule_ids =xmSelect.render({
                    el: document.querySelector('#edit_auth_rule_ids'),
                    tips: '请勾选功能权限',
                    tree: {

                        //是否显示树状结构
                        show: true,
                        //是否展示三角图标
                        showFolderIcon: true,
                        //是否显示虚线
                        showLine: true,
                        //间距
                        indent: 20,
                        //默认展开节点的数组, 为 true 时, 展开所有节点
                        //expandedKeys: popup_data['auth_rule_ids'],
                        // expandedKeys: true,
                        //是否严格遵守父子模式
                        strict: true,
                        //是否开启极简模式
                        simple: true,
                        //点击节点是否展开
                        clickExpand: true,
                        //点击节点是否选中
                        clickCheck: true
                    },
                    toolbar: {show: true},
                    autoRow:false,
                    name:'auth_rule_ids',
                    filterable: false,
                    height: '550px',
                    data:res.result
                })
                // edit_auth_rule_ids.setValue(popup_data['auth_rule_ids']);
                console.log(popup_data['auth_rule_ids'])

            }
        });
    });
</script>