<div class="layui-fluid" id="Promoter" lay-title="推广人信息">
    <style>
        .check{color: red}
    </style>
    <div class="layui-row layui-col-space15" style="margin-top: 20px">
        <form class="layui-form" action="" lay-filter="component-form-element">

            <div class="layui-col-md12" >
                <div class="layui-form-item">
                    <label class="layui-form-label">代理商</label>
                    <div class="layui-input-block">
                        <div id="user_agent_id"  class="xm-select-demo"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button  class="layui-btn" lay-submit lay-filter="bind_agent">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect','layedit','laydate','upload'], function (admin, table, form) {
        var $ = layui.jquery;
        var form =layui.form;
        var view = $('#Promoter');
        var xmSelect = layui.xmSelect;
        var element = layui.element;
        var laydate = layui.laydate;
        var token = admin.loginToken;
        var popup_data = POPUP_DATA.data

        console.log(popup_data)
        var user_agent_id = xmSelect.render({
            el: document.querySelector('#user_agent_id'),
            tips: '请选择代理商',
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'agent_id',
            height: '400px',
        })

        //远程获取产品
        admin.post({
            api: 'AgentAll',
            success:function (res) { user_agent_id.update({data:res.result});}
        });
        var index = parent.layer.index
        form.on('submit(bind_agent)', function (data) {

            admin.post({
                api: 'UserBindAgentId',
                data:{"agent_id":data.field.agent_id,'user_ids':popup_data},
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }
                }
            });
            return false;
        });

    });
</script>