<div class="layui-fluid"id="admins-edit" lay-title="编辑账户">
    <style>.layui-transfer-active .layui-btn {
        color: #ff5722;
    }
    .layui-transfer-active .layui-btn-disabled {
        color: #C9C9C9;
    }
    #uploads-view img{ padding: 10px;min-height: 200px;}
    </style>
    <div class="layui-row layui-col-space10">
        <form class="layui-form" action="" lay-filter="user-form-element">
            <input type="hidden" name="id">
            <div class="layui-col-md6" style="padding: 10px;">
                <fieldset class="layui-elem-field">
                    <legend>基本信息</legend>
                    <div class="layui-field-box">
                        <div class="">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">用户账号*</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="username" lay-verify="required" placeholder="请输入用户账号" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">用户昵称*</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="nickname" lay-verify="required" placeholder="请输入用户昵称" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">登录密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="password"  placeholder="请输入登录密码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">请输入6到12位密码 为空则不修改</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">提现密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="cash_password"  placeholder="请输入提现密码" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">请输入6位数字密码 为空则不修改</div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">账户余额</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="balance"   autocomplete="off" class="layui-input" disabled>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">VIP级别</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="level" autocomplete="off" class="layui-input" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">充值余额</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="balance_in"   autocomplete="off" class="layui-input" disabled>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">提现余额</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="balance_out" autocomplete="off" class="layui-input" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">总充值</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="sum_balance_in"   autocomplete="off" class="layui-input" disabled>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">总提现</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="sum_balance_out" autocomplete="off" class="layui-input" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-md12 ">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">头像</label>
                                    <div class="layui-input-block">
                                        <input type="hidden" value=""  name="avatar"  class="upload_avatar_value">
                                        <button type="button" class="layui-btn layui-btn-normal system_upload_avatar">上传用户头像</button>
                                        <div class="layui-upload-list">
                                            <img class="layui-upload-img upload_success_avatar" src="/public/uploads/user/default_avatar.png" id="avatar"  style="height: 100px">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">

                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="user-form-element">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="layui-col-md6" style="padding: 10px">
                <fieldset class="layui-elem-field">
                    <legend>推荐信息</legend>
                    <div class="layui-field-box">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">代理ID</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="agent_id"   autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">代理编码</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="agent_name"   autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">推荐人ID</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="parent_id"   autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">推荐人姓名</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="parent_name"   autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">1级推荐激活</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="invitation_active_1"   autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">1级推荐人数</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="invitation_sum_1" autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">2级推荐激活</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="invitation_active_2"   autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">2级推荐人数</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="invitation_sum_2" autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">3级推荐激活</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="invitation_active_3"   autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">3级推荐人数</label>
                                <div class="layui-input-inline">
                                    <input type="number" name="invitation_sum_3" autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>状态信息</legend>
                    <div class="layui-field-box">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">账户状态</label>
                                <div class="layui-input-inline">
                                    <input type="radio" name="status" value="1" title="正常" checked="" disabled>
                                    <input type="radio" name="status" value="0" title="禁用" disabled>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">是否激活</label>
                                <div class="layui-input-inline">
                                    <input type="radio" name="is_active" value="1" title="已激活" checked="" disabled>
                                    <input type="radio" name="is_active" value="0" title="未激活" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">大V标识</label>
                                <div class="layui-input-inline">
                                    <input type="radio" name="is_v" value="1" title="已标识" checked="" disabled>
                                    <input type="radio" name="is_v" value="0" title="未标识" disabled>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend>最后登录信息</legend>
                    <div class="layui-field-box">

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">登录时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="last_login_time"  autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">登录IP</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="last_login_ip"   autocomplete="off" class="layui-input" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect','upload','transfer','util'], function (admin, table, form) {
        var $ = layui.$
            ,transfer = layui.transfer
            ,layer = layui.layer
            ,util = layui.util
            ,form =layui.form
            ,upload =layui.upload;
        var token = admin.loginToken;
        var view = $('#admins-edit');
        var popup_data = POPUP_DATA.data
        popup_data.password='';
        $('#avatar').attr('src', popup_data.avatar)
        form.val("user-form-element", popup_data);
        form.render(null, 'user-form-element');
        //上传图片
        var upload_avatar = upload.render({
            elem: '.system_upload_avatar' //绑定元素
            ,headers: {token: token}
            , url: '/admin/system/upload'
            ,data:{'directory':'user'}
            ,accept: 'file'
            , before: function (obj) {
                let _this = this;
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    _this.item.parent('.layui-input-block').find('.layui-upload-list img').attr('src', result);
                });
            }
            ,done: function (res) {
                let _this = this;
                layer.msg(res.msg);
                if (res.status==1) {
                    _this.item.parents('.layui-input-block').find('.upload_avatar_value').val(res.result.path);
                }
            }
            ,error: function () {
                let _this = this;
                _this.item.parents('.layui-upload-list').find('p')
                    .html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>')
                    .find('.demo-reload').on('click', function () {
                    upload_avatar.upload();
                })
                ;
                //请求异常回调
                layer.msg('网络请求错误')
            }
        });
        var index = parent.layer.index
        form.on('submit(user-form-element)', function (data) {
            admin.post({
                api: 'UserEdit',
                async: false,
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }
                }
            });
            return false;
        });


    });
</script>