<link rel="stylesheet" href="/public/nepadmin/css/formSelects.css" media="all">
<style>
    .layui-table-cell {  padding: 0 5px;  }
    .xm-select-dl{
        top:unset !important;
    }
</style>
<div class="layui-fluid" id="VIEW-user-list-table" lay-title="客户列表">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form" lay-filter="search_user" id="search_user">
                        <input type="hidden" name="order" id="order" value="id desc">
                        <input type="hidden" name="create_order_num"  value="all">
                        <div class="layui-input-inline" style="width: 140px">
                            <div id="user_search_agent_id"  class="xm-select-demo"></div>
                        </div>
                        <div class="layui-input-inline" style="width: 140px">
                            <div id="user_search_employee_id"  class="xm-select-demo"></div>
                        </div>
                        <div class="layui-input-inline" style="width: 100px">
                            <select name="status">
                                <option value="">客户类型</option>
                                <option value="1">注册客户</option>
                                <option value="2">模拟客户</option>
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px">
                            <select name="status">
                                <option value="">账户状态</option>
                                <option value="1">正常</option>
                                <option value="2">禁用</option>
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px">
                            <select name="is_active">
                                <option value="">是否激活</option>
                                <option value="1">已激活</option>
                                <option value="2">未激活</option>
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px">
                            <select name="is_v">
                                <option value="">是否大V</option>
                                <option value="1">大V</option>
                                <option value="2">非大V</option>
                            </select>
                        </div>

                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="id" placeholder="请输入客户ID" style="width: 120px">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="username" placeholder="请输入客户账户" style="width: 120px">
                        </div>
                        <div class="layui-input-inline" >
                            <input type="text" class="layui-input" name="parent_id" placeholder="推荐人ID" style="width: 120px">
                        </div>
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" class="layui-input" name="create_time" id="user_create_time" placeholder="注册时间">
                        </div>

                        <div class="layui-input-inline">
                            <div class="layui-btn layui-btn " lay-submit lay-filter="search-user">立即搜索</div>
                            <button type="reset" class="layui-btn   layui-btn-primary">重置</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body ">
                    <table id="user-list-table" lay-filter="user-list-table"></table>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/html" id="user_toolbar">
    <div class="layui-btn-container">
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="UserAdd" lay-event="add" data-type='add' >新增用户</div>
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="UserBindAgentId" lay-event="bind_agent_id" >批量绑定代理</div>
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="UserBindEmployeeId" lay-event="bind_employee_id" >批量绑定员工</div>
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="UserBindPromoter" lay-event="bind_promoter" >批量绑定上级</div>
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="UserGiveVip" lay-event="give_vip">设置VIP级别</div>
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="UserJoinBlack" lay-event="add">批量拉黑</div>
        <div class="layui-btn layui-btn-sm layui-btn-primary table-action" lay-event="refresh" data-type="refresh">刷新页面</div>
    </div>
</script>
<!-- 用户列表bar tool -->
<script type="text/html" id="user_bar">
    {{# if( layui.siam.vifAuth('UserEdit') ){}}
        <a class="layui-btn layui-btn-xs layui-btn-primary" data-siam-auth="UserEdit" lay-event="edit">编辑</a>
    {{#  } }}

    <button class="layui-btn layui-btn-xs layui-btn-primary handle_{{d.id}}" lay-event="handle" >
        更多操作<i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>
</script>
<script type="text/html" id="isVTpl">
    <input type="checkbox" name="is_v" value="{{d.id}}" lay-skin="switch" lay-text="已标识|未标识" lay-filter="is_v" {{ d.is_v == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="doStatusTpl">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<script>
    layui.use(['admin', 'table', 'form', 'dropdown','laydate','xmSelect', 'jquery','siam'], function (admin, table, form, dropdown, $) {
        var $ = layui.jquery;
        var xmSelect = layui.xmSelect;
        var dropdown = layui.dropdown;
        var laydate = layui.laydate;
        var view = $('#VIEW-user-list-table');
        var tableFilter = 'user-list-table';

        form.render();
        laydate.render({elem: '#user_create_time',type: 'date',range:true});
        var table_row_data;
        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: tableFilter,
            api: 'UserLists',
            page: true,
            limit:15,
            limits:[15,30,50,100,200,500,1000,2000,5000],
            autoSort: true, //禁用前端自动排序。注意：该参数为 layui 2.4.4 新增
            totalRow:true,
            cols: [[
                { title: '', type: 'checkbox', fixed: true, width: 40 },
                { title: '头像', field: 'avatar',fixed: true,width: 40,templet: function(d){ var html =d.avatar? '<img src="'+d.avatar+'" width="30px" height="30px"/>':'';
                        return html;
                    }},
                { title: '客户ID', field: 'id', fixed: true,width: 60, fixed: true},

                { title: '客户账号', field: 'username',width: 100},
                { title: '客户昵称', field: 'nickname',minWidth: 120},
                { title: '推荐人ID', field: 'parent_id',width: 80},
                { title: '所属代理', field: 'agent_name',width: 80},
                { title: '所属员工', field: 'employee_name',width: 80},
                // { title: '账户余额', field: 'balance_s',width: 90,totalRow:true},
                { title: '充值余额', field: 'balance_in',width: 90,totalRow:true},
                { title: '提现余额', field: 'balance_out',width: 90,totalRow:true},
                { title: '总充值', field: 'sum_balance_in',width: 90,totalRow:true},
                { title: '总提现', field: 'sum_balance_out',width: 90,totalRow:true},
                { title: '邀请码', field: 'invitation_code',width: 70},
                { title: '大V标识', field: 'is_v',width: 80,templet:'#isVTpl'},
                { title: '账号状态', field: 'is_black',width: 80,templet:'#doStatusTpl'},
                { title: '1级推荐', field: 'invitation_active',width: 86,templet:function (d) {
                        return d.invitation_active_1+'/'+d.invitation_sum_1
                    }},
                { title: '2级推荐', field: 'invitation_active',width: 86,templet:function (d) {
                        return d.invitation_active_2+'/'+d.invitation_sum_2
                    }},
                { title: '3级推荐', field: 'invitation_active',width: 86,templet:function (d) {
                        return d.invitation_active_3+'/'+d.invitation_sum_3
                    }},
                { title: 'VIP级别', field: 'vip_name',width: 80},
                { title: '是否激活', field: 'is_active',width: 70,templet:function (d) {
                        return d.is_active==1?'<span class="layui-badge layui-bg-blue">已激活</span> ':'<span class="layui-badge layui-bg-gray">未激活</span>';
                    }},

                { title: '注册时间', field: 'create_time',width: 150,fixed: 'right', sort: true},
                {title: '操作', fixed: 'right', toolbar:'#user_bar',width: 140},

            ]],
            toolbar: '#user_toolbar',
            done:function (res) {
                console.log('渲染数据-开始')
                // bindTableToolbarFunction();
                layui.each(res.result,function (index,item) {
                    var data=[] ;
                    if( layui.siam.vifAuth('UserChangeBalanceIn') ){
                        data.push({title: '变更充值余额',id: item.id,nickname:item.nickname,black_cause:item.black_cause})
                    }
                    if( layui.siam.vifAuth('UserChangeBalanceOut') ){
                        data.push({title: '变更提现余额',id: item.id,nickname:item.nickname,black_cause:item.black_cause})
                    }
                    if( layui.siam.vifAuth('UserGiveVip') ){
                        data.push({title: '设置VIP级别',id: item.id,nickname:item.nickname,black_cause:item.black_cause})
                    }

                    if( layui.siam.vifAuth('UserBindPromoter') ){
                        data.push(  {title: '更换上级',id: item.id,nickname:item.nickname,black_cause:item.black_cause})
                    }
                    // if( layui.siam.vifAuth('UserJoinBlack') ){
                    //     data.push( {title: '拉黑用户',id: item.id,nickname:item.nickname,black_cause:item.black_cause})
                    // }


                    dropdown.render({
                        elem: '.handle_'+item.id
                        ,data: data
                        ,click: function(obj){
                            switch (obj.title){
                                case '变更充值余额':changeBalanceIn(obj.id);break;
                                case '变更提现余额':changeBalanceOut(obj.id);break;
                                case '设置VIP级别':giveVip([obj.id]);break;
                                case '更换上级':promoter([obj.id]);break;
                                case '拉黑用户':joinBlack(obj.id,obj.black_cause);break;
                            }

                        }
                    });
                })
                console.log('渲染数据-结束')
            }
        });


        //监听状态
        form.on('switch(is_v)', function(obj){
            var value = obj.elem.checked==true?1:0;
            admin.post({
                api: 'UserIsV',
                data:{value:value,id:this.value},
                success:function (res) {
                    admin.modal.success(res.msg,{area:['400px']});
                    if(res.status==0){table.reload( 'user-list-table');}
                }
            });
        });
        //监听状态
        form.on('switch(status)', function(obj){
            var value = obj.elem.checked==true?1:0;
            admin.post({
                api: 'UserDoStatus',
                data:{value:value,id:this.value},
                success:function (res) {
                    admin.modal.success(res.msg,{area:['400px']});
                    if(res.status==0){table.reload( 'user-list-table');}
                }
            });
        });

        // 监听筛选用户
        form.on('submit(search-user)', function (data) {
            table.reload('user-list-table', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        //监听工具条
        table.on('tool(user-list-table)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;
            console.log(layEvent)
            if(layEvent === 'handle'){
                table_row_data = data
            } else if(layEvent === 'del'){
                layer.open({
                    title: '温馨提示'
                    ,content: '确定删除此用户？删除后数据将不可恢复！'
                    ,btn: ['确认','取消']
                    ,yes:function () {
                        admin.post({
                            api: 'delUser',
                            async: false,
                            data:{ids:[data.id]},
                            success:function (res) {
                                if(res.status==1){
                                    admin.modal.success(res.msg,{end:function () {
                                            table.reload( 'user-list-table');
                                        }})
                                }else{
                                    admin.modal.warn(res.msg)
                                }

                            }
                        });
                    }
                });
            } else if(layEvent === 'edit'){
                admin.popup({
                    //网页地址或本地目录
                    url:'/user/edit',
                    area: ['90%', '90%'],
                    //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                    data:{data:data},
                    end:function () {
                        table.reload( 'user-list-table');
                    }
                })
            }
        });
        // 工具栏事件
        table.on('toolbar(user-list-table)', function(obj){
            var type = $(this).attr('data-type')
            var checkStatus = table.checkStatus(tableFilter)
                ,data = checkStatus.data;
            var ids = [];
            $.each(data,function(i){ ids[i] = data[i]['id']; });
            var checkedCount = table.checkStatus(tableFilter).data.length;
            switch (obj.event) {
                case   'refresh':
                    layui.view.tab.refresh();
                    break;
                case 'add':
                    admin.popup({
                        //网页地址或本地目录
                        title:'添加用户',
                        url:'/user/add',
                        area: ['800px', '90%'],
                        //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                        data:{},
                        end:function () {
                            table.reload( 'user-list-table');
                        }
                    })
                    break;
                case   'del':
                    if (checkedCount == 0) {
                        layer.msg('请先选择要删除的用户');
                    } else {
                        layer.open({
                            title: '温馨提示'
                            ,content: '确定删除选中用户？删除后数据将不可恢复！'
                            ,btn: ['确认','取消']
                            ,yes:function () {
                                admin.post({
                                    api: 'delUser',
                                    async: false,
                                    data:{ids:ids},
                                    success:function (res) {
                                        if(res.status==1){
                                            admin.modal.success(res.msg,{end:function () {
                                                    table.reload( 'user-list-table');
                                                }})
                                        }else{
                                            admin.modal.warn(res.msg)
                                        }

                                    }
                                });
                            }
                        });
                    }
                    break;
                case   'give_vip':
                    if (checkedCount == 0) {
                        layer.msg('请先选择要设置VIP级别的用户');
                    } else {
                        giveVip(ids)
                    }
                    break;
                case   'bind_promoter':
                    if (checkedCount == 0) {
                        layer.msg('请先选择要设置绑定上级的用户');
                    } else {
                        promoter(ids)
                    }
                    break;
                case   'bind_agent_id':
                    if (checkedCount == 0) {
                        layer.msg('请先选择要绑定代理的用户');
                    } else {
                        admin.popup({
                            //网页地址或本地目录
                            title:'绑定代理',
                            url:'/user/agent',
                            area: ['600px', '500px'],
                            //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                            data:{"data":ids},
                            end:function () {
                                table.reload( 'user-list-table');
                            }
                        })
                    }
                    break;
                    case   'bind_employee_id':
                    if (checkedCount == 0) {
                        layer.msg('请先选择要绑定员工的用户');
                    } else {
                        admin.popup({
                            //网页地址或本地目录
                            title:'绑定员工',
                            url:'/user/employee',
                            area: ['600px', '500px'],
                            //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                            data:{"data":ids},
                            end:function () {
                                table.reload( 'user-list-table');
                            }
                        })
                    }
                    break;
                case   'export':
                    layer.msg('正在导出中，请耐心等待', {icon: 16,shade: 0.5,time:60000});
                    admin.post({
                        api: 'UserExp',
                        data:form.val("search_user"),
                        timeout:60000,
                        success:function (res) {
                            layer.closeAll();
                            layer.msg(res.msg);
                            if(res.status==1){
                                window.location.href = res.result.src
                            }
                        }
                    });

                    break;
            }
        });



        //验证会员是否过期
        function VerifyMemberExpiration(member_expiry_time) {
            var time1 = new Date(member_expiry_time);
            var time2 = new Date();
            if(time1>time2){
                return true
            }else{
                return false
            }
        }

        //赠送会员
        function giveVip(user_ids){
            admin.popup({
                //网页地址或本地目录
                title:'设置VIP级别',
                url:'/user/give_vip',
                area: ['600px', '400px'],
                //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                data:{"data":user_ids},
                end:function () {
                     table.reload( 'user-list-table');
                }
            })
            return false;
        }
        //拉黑用户
        function joinBlack(user_id,black_cause=''){
            console.log(black_cause)
            //例子2
            layer.prompt({
                formType: 2,
                value: black_cause,
                title: '请输入拉黑原因',
                area: ['700px', '350px'] //自定义文本域宽高
            }, function(value, index, elem){
                admin.post({
                    api: 'UserJoinBlack',
                    async: false,
                    data:{user_id:user_id,value: 1,black_cause:value},
                    success:function (res) {
                        if(res.status==1){
                            layer.closeAll();
                            admin.modal.success(res.msg,{end:function () {
                                    table.reload( 'user-list-table');
                                }})
                        }else{
                            admin.modal.warn(res.msg)
                        }

                    }
                });
            });

        }

        //绑定上级
        function promoter(user_ids){
            admin.popup({
                //网页地址或本地目录
                title:'绑定上级',
                url:'/user/promoter',
                area: ['600px', '500px'],
                //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                data:{"data":user_ids},
                end:function () {
                    table.reload( 'user-list-table');
                }
            })

        }
        //绑定代理商
        function agent(user_ids){
            admin.popup({
                title:'绑定代理商',
                url:'/user/agent',
                area: ['600px', '500px'],
                data:{"data":user_ids},
                end:function () {
                    table.reload( 'user-list-table');
                }
            })
        }
        //绑定员工
        function employee(user_ids){
            admin.popup({
                title:'绑定员工',
                url:'/user/employee',
                area: ['600px', '500px'],
                data:{"data":user_ids},
                end:function () {
                    table.reload( 'user-list-table');
                }
            })
        }
        //增加余额
        function changeBalanceIn(user_id){
            layer.open({
                type: 1,
                title: '请输入要变更的余额数',
                // skin: 'layui-layer-rim', //加上边框
                area: ['500px', '300px'], //宽高
                btn: ['确定', '取消'],
                content: '  <div class="layui-form" style="padding: 20px;padding-right: 40px">\n' +
                    '                    <div class="layui-form-item" >\n' +
                    '                        <label class="layui-form-label" >变更金额:</label>\n' +
                    '                        <div class="layui-input-block" >\n' +
                    '                            <input type="number" name="add_amount" id="add_amount" class="layui-input" placeholder="请输入金额" autocomplete="off" />\n' +
                    '                        </div>\n' +
                    '                    </div>\n' +
                    '                    <div class="layui-form-item">\n' +
                    '                        <label class="layui-form-label" >变更原因:</label>\n' +
                    '                        <div class="layui-input-block" >\n' +
                    '                            <input type="text" name="remark" id="remark" class="layui-input" placeholder="请输入变更原因" autocomplete="off" />\n' +
                    '                        </div>\n' +
                    '                    </div>\n' +
                    '    </div>',

                yes:function (){
                    var amount = $('#add_amount').val();
                    var remark = $('#remark').val();
                    layer.closeAll();
                    admin.post({
                        api: 'UserChangeBalanceIn',
                        async: false,
                        data:{"user_id":user_id,'amount':amount,'remark':remark},
                        success:function (res) {
                            if(res.status==1){
                                layer.closeAll();
                                admin.modal.success(res.msg,{end:function () {
                                        table.reload( 'Member-list-table');
                                    }})
                            }else{
                                admin.modal.warn(res.msg)
                            }

                        }
                    });


                }
            });
            // //例子2
            // layer.prompt({
            //     formType: 0,
            //     value: 5,
            //     title: '请输入要变更的余额数',
            // }, function(value, index, elem){
            //     admin.post({
            //         api: 'UserAddBalance',
            //         async: false,
            //         data:{"user_id":user_id,'amount':value},
            //         success:function (res) {
            //             if(res.status==1){
            //                 layer.closeAll();
            //                 admin.modal.success(res.msg,{end:function () {
            //                         table.reload( 'Member-list-table');
            //                     }})
            //             }else{
            //                 admin.modal.warn(res.msg)
            //             }
            //
            //         }
            //     });
            // });


        }
        function changeBalanceOut(user_id){
            layer.open({
                type: 1,
                title: '请输入要变更的余额数',
                // skin: 'layui-layer-rim', //加上边框
                area: ['500px', '300px'], //宽高
                btn: ['确定', '取消'],
                content: '  <div class="layui-form" style="padding: 20px;padding-right: 40px">\n' +
                    '                    <div class="layui-form-item" >\n' +
                    '                        <label class="layui-form-label" >变更金额:</label>\n' +
                    '                        <div class="layui-input-block" >\n' +
                    '                            <input type="number" name="add_amount" id="add_amount" class="layui-input" placeholder="请输入金额" autocomplete="off" />\n' +
                    '                        </div>\n' +
                    '                    </div>\n' +
                    '                    <div class="layui-form-item">\n' +
                    '                        <label class="layui-form-label" >变更原因:</label>\n' +
                    '                        <div class="layui-input-block" >\n' +
                    '                            <input type="text" name="remark" id="remark" class="layui-input" placeholder="请输入变更原因" autocomplete="off" />\n' +
                    '                        </div>\n' +
                    '                    </div>\n' +
                    '    </div>',

                yes:function (){
                    var amount = $('#add_amount').val();
                    var remark = $('#remark').val();
                    layer.closeAll();
                    admin.post({
                        api: 'UserChangeBalanceOut',
                        async: false,
                        data:{"user_id":user_id,'amount':amount,'remark':remark},
                        success:function (res) {
                            if(res.status==1){
                                layer.closeAll();
                                admin.modal.success(res.msg,{end:function () {
                                        table.reload( 'Member-list-table');
                                    }})
                            }else{
                                admin.modal.warn(res.msg)
                            }

                        }
                    });


                }
            });

        }

        var user_search_agent_id = xmSelect.render({
            el: document.querySelector('#user_search_agent_id'),
            tips: '请选择代理商',
            toolbar: {show: true},
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'agent_id',
            filterable: false, //是否开启搜索
            height: '400px',
            data: []
        })
        //远程获取产品
        admin.post({
            api: 'AgentAll',
            async: false,
            data: {},
            success:function (res) {user_search_agent_id.update({data:res.result});}
        });
        var user_search_employee_id = xmSelect.render({
            el: document.querySelector('#user_search_employee_id'),
            tips: '请选择员工',
            toolbar: {show: true},
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'agent_id',
            filterable: false, //是否开启搜索
            height: '400px',
            data: []
        })
        //远程获取产品
        admin.post({
            api: 'EmployeeAll',
            async: false,
            data: {},
            success:function (res) {user_search_employee_id.update({data:res.result});}
        });
    })
</script>