<link rel="stylesheet" href="/public/nepadmin/css/formSelects.css" media="all">
<style>
    .layui-table-cell {  padding: 0 5px;  }
    .xm-select-dl{
        top:unset !important;
    }
</style>
<div class="layui-fluid" id="VIEW-user-list-table" lay-title="客户列表">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form" lay-filter="search_user" id="search_user">
                        <input type="hidden" name="order" id="order" value="id desc">
                        <input type="hidden" name="create_order_num"  value="all">
                        <div class="layui-input-inline" style="width: 180px">
                            <div id="search_agent_id"  class="xm-select-demo"></div>
                        </div>
                        <div class="layui-input-inline" style="width: 100px">
                            <select name="status">
                                <option value="">客户类型</option>
                                <option value="1">注册客户</option>
                                <option value="2">模拟客户</option>
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px">
                            <select name="status">
                                <option value="">账户状态</option>
                                <option value="1">正常</option>
                                <option value="2">禁用</option>
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px">
                            <select name="is_active">
                                <option value="">是否激活</option>
                                <option value="1">已激活</option>
                                <option value="2">未激活</option>
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 100px">
                            <select name="is_v">
                                <option value="">是否大V</option>
                                <option value="1">大V</option>
                                <option value="2">非大V</option>
                            </select>
                        </div>

                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="id" placeholder="请输入客户ID" style="width: 120px">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="username" placeholder="请输入客户账户" style="width: 120px">
                        </div>
                        <div class="layui-input-inline" >
                            <input type="text" class="layui-input" name="parent_id" placeholder="推荐人ID" style="width: 120px">
                        </div>
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" class="layui-input" name="create_time" id="user_create_time" placeholder="注册时间">
                        </div>

                        <div class="layui-input-inline">
                            <div class="layui-btn layui-btn " lay-submit lay-filter="search-user">立即搜索</div>
                            <button type="reset" class="layui-btn   layui-btn-primary">重置</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body ">
                    <table id="user-list-table" lay-filter="user-list-table"></table>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/html" id="user_toolbar">
    <div class="layui-btn-container">
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="UserBindResellerId" lay-event="bindResellerId" data-type="bindResellerId">批量绑定代理</div>
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="UserExp" lay-event="export" data-type='export' >导出当前</div>
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="UserAdd" lay-event="add" data-type='add' >添加用户</div>
        <div class="layui-btn layui-btn-sm layui-btn-primary table-action" lay-event="refresh" data-type="refresh">刷新页面</div>
    </div>
</script>
<!-- 用户列表bar tool -->
<script type="text/html" id="user_bar">
    {{# if( layui.siam.vifAuth('UserEdit') ){}}
        <a class="layui-btn layui-btn-xs layui-btn-primary" data-siam-auth="UserEdit" lay-event="edit">编辑</a>
    {{#  } }}

    <button class="layui-btn layui-btn-xs layui-btn-primary handle_{{d.id}}" lay-event="handle" >
        更多操作<i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>
</script>
<script type="text/html" id="addWechatTpl">
    <input type="checkbox" name="add_wechat" value="{{d.id}}" lay-skin="switch" lay-text="已添加|未添加" lay-filter="add_wechat" {{ d.add_wechat == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="isTestTpl">
    <input type="checkbox" name="is_test" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="is_test" {{ d.is_test == 1 ? 'checked' : '' }}>
</script>
<script>
    layui.use(['admin', 'table', 'form', 'dropdown','laydate','xmSelect', 'jquery','siam'], function (admin, table, form, dropdown, $) {
        var $ = layui.jquery;
        var xmSelect = layui.xmSelect;
        var dropdown = layui.dropdown;
        var laydate = layui.laydate;
        var view = $('#VIEW-user-list-table');
        var tableFilter = 'user-list-table';

        form.render();
        laydate.render({elem: '#user_create_time',type: 'date',range:true});
        var table_row_data;
        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: tableFilter,
            api: 'UserLists',
            page: true,
            limit:15,
            limits:[15,30,50,100,200,500,1000,2000,5000],
            autoSort: true, //禁用前端自动排序。注意：该参数为 layui 2.4.4 新增
            totalRow:true,
            cols: [[
                { title: '', type: 'checkbox', fixed: true, width: 40 },
                { title: '头像', field: 'avatar',fixed: true,width: 40,templet: function(d){ var html =d.avatar? '<img src="'+d.avatar+'" width="30px" height="30px"/>':'';
                        return html;
                    }},
                { title: '客户ID', field: 'id', fixed: true,width: 60, fixed: true},

                { title: '客户账号', field: 'username',width: 100},
                { title: '客户昵称', field: 'nickname',minWidth: 120},
                { title: '推荐人ID', field: 'parent_id',width: 80},
                { title: '账户余额', field: 'balance_s',width: 90,totalRow:true},
                { title: '充值余额', field: 'balance_in_s',width: 90,totalRow:true},
                { title: '提现余额', field: 'balance_out_s',width: 90,totalRow:true},
                { title: '总充值', field: 'sum_balance_in_s',width: 90,totalRow:true},
                { title: '总提现', field: 'sum_balance_out_s',width: 90,totalRow:true},
                { title: '1级推荐', field: 'invitation_active',width: 86,templet:function (d) {
                        return d.invitation_active_1+'/'+d.invitation_sum_1
                    }},
                { title: '2级推荐', field: 'invitation_active',width: 86,templet:function (d) {
                        return d.invitation_active_2+'/'+d.invitation_sum_2
                    }},
                { title: '3级推荐', field: 'invitation_active',width: 86,templet:function (d) {
                        return d.invitation_active_3+'/'+d.invitation_sum_3
                    }},
                { title: 'VIP级别', field: 'level',width: 80},
                { title: '会员状态', field: 'is_member',width: 70,templet:function (d) {
                    if(d.is_member==1){
                       return  VerifyMemberExpiration(d.member_expiry_time)?'已开通':'已过期';
                    }else{
                        return '未开通';
                    }
                }},
                { title: '注册时间', field: 'create_time',width: 150,fixed: 'right', sort: true},
                {title: '操作', fixed: 'right', toolbar:'#user_bar',width: 140},

            ]],
            toolbar: '#user_toolbar',
            done:function (res) {
                console.log('渲染数据-开始')
                // bindTableToolbarFunction();
                layui.each(res.result,function (index,item) {
                    var data=[] ;

                    if( layui.siam.vifAuth('UserGiveMember') ){
                        data.push({title: '赠送会员',id: item.id,nickname:item.nickname,black_cause:item.black_cause})
                    }
                    if( layui.siam.vifAuth('UserBalanceDetailsLists') ){
                        data.push(  {title: '账单列表',id: item.id,nickname:item.nickname,black_cause:item.black_cause})
                    }
                    // if( layui.siam.vifAuth('UserBindPromoter') ){
                    //     data.push(  {title: '绑定上级',id: item.id,nickname:item.nickname,black_cause:item.black_cause})
                    // }
                    if( layui.siam.vifAuth('UserJoinBlack') ){
                        data.push( {title: '拉黑用户',id: item.id,nickname:item.nickname,black_cause:item.black_cause})
                    }
                    if( layui.siam.vifAuth('UserAddRevisitRecord') ){
                        data.push( {title: '跟进记录',id: item.id,nickname:item.nickname,black_cause:item.black_cause})
                    }
                    if( layui.siam.vifAuth('UserAddress') ){
                        data.push( {title: '收货地址',id: item.id,nickname:item.nickname,black_cause:item.black_cause})
                    }

                    dropdown.render({
                        elem: '.handle_'+item.id
                        ,data: data
                        ,click: function(obj){
                            switch (obj.title){
                                case '赠送会员':giveMember([obj.id]);break;
                                case '账单列表':balanceDetails(obj.id,obj.nickname);break;
                                case '绑定上级':promoter(obj.id);break;
                                case '跟进记录':revisitRecord(obj.id);break;
                                case '拉黑用户':joinBlack(obj.id,obj.black_cause);break;
                                case '收货地址':address(obj.id,obj.nickname);break;
                            }

                        }
                    });
                })
                console.log('渲染数据-结束')
            }
        });


        //监听状态
        form.on('switch(add_wechat)', function(obj){
            var value = obj.elem.checked==true?1:0;
            admin.post({
                api: 'UserDoAddWechat',
                data:{value:value,id:this.value},
                success:function (res) {
                    admin.modal.success(res.msg,{area:['400px']});
                    if(res.status==0){table.reload( 'user-list-table');}
                }
            });
        });
        //监听状态
        form.on('switch(is_test)', function(obj){
            var value = obj.elem.checked==true?1:0;
            admin.post({
                api: 'UserIsTest',
                data:{value:value,id:this.value},
                success:function (res) {
                    admin.modal.success(res.msg,{area:['400px']});
                    if(res.status==0){table.reload( 'user-list-table');}
                }
            });
        });
        // 监听筛选用户
        form.on('submit(search-user)', function (data) {
            table.reload('user-list-table', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        //监听工具条
        table.on('tool(user-list-table)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;
            console.log(layEvent)
            if(layEvent === 'handle'){
                table_row_data = data
            } else if(layEvent === 'del'){
                layer.open({
                    title: '温馨提示'
                    ,content: '确定删除此用户？删除后数据将不可恢复！'
                    ,btn: ['确认','取消']
                    ,yes:function () {
                        admin.post({
                            api: 'delUser',
                            async: false,
                            data:{ids:[data.id]},
                            success:function (res) {
                                if(res.result.status==1){
                                    admin.modal.success(res.msg,{end:function () {
                                            table.reload( 'user-list-table');
                                        }})
                                }else{
                                    admin.modal.warn(res.msg)
                                }

                            }
                        });
                    }
                    ,success: function(layero, index){
                        this.enterEsc = function(event){
                            if(event.keyCode === 13){
                                admin.post({
                                    api: 'delUser',
                                    async: false,
                                    data:{ids:[data.id]},
                                    success:function (res) {
                                        if(res.result.status==1){
                                            admin.modal.success(res.msg,{end:function () {
                                                    table.reload( 'user-list-table');
                                                }})
                                        }else{
                                            admin.modal.warn(res.msg)
                                        }

                                    }
                                });
                                return false; //阻止系统默认回车事件
                            }
                        };
                        $(document).on('keydown', this.enterEsc);	//监听键盘事件，关闭层
                    }
                    ,end: function(){
                        $(document).off('keydown', this.enterEsc);	//解除键盘关闭事件
                    }
                });
            } else if(layEvent === 'edit'){
                admin.popup({
                    //网页地址或本地目录
                    url:'/user/edit',
                    area: ['90%', '90%'],
                    //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                    data:{data:data},
                    end:function () {
                        table.reload( 'user-list-table');
                    }
                })
            }else if(layEvent === 'address'){
                admin.popup({
                    //网页地址或本地目录
                    title:"收货地址",
                    url:'/user/address',
                    area: ['800px', '90%'],
                    //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                    data:{data:data},
                    end:function () {
                        table.reload( 'user-list-table');
                    }
                })
            }
        });
        // 工具栏事件
        table.on('toolbar(user-list-table)', function(obj){
            var type = $(this).attr('data-type')
            var checkStatus = table.checkStatus(tableFilter)
                ,data = checkStatus.data;
            var ids = [];
            $.each(data,function(i){ ids[i] = data[i]['id']; });
            var checkedCount = table.checkStatus(tableFilter).data.length;
            switch (type) {
                case   'refresh':
                    layui.view.tab.refresh();
                    break;
                case 'add':
                    admin.popup({
                        //网页地址或本地目录
                        title:'添加用户',
                        url:'/user/add',
                        area: ['800px', '90%'],
                        //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                        data:{},
                        end:function () {
                            table.reload( 'user-list-table');
                        }
                    })
                    break;
                case   'del':
                    if (checkedCount == 0) {
                        layer.msg('请先选择要删除的用户');
                    } else {
                        layer.open({
                            title: '温馨提示'
                            ,content: '确定删除选中用户？删除后数据将不可恢复！'
                            ,btn: ['确认','取消']
                            ,yes:function () {
                                admin.post({
                                    api: 'delUser',
                                    async: false,
                                    data:{ids:ids},
                                    success:function (res) {
                                        if(res.status==1){
                                            admin.modal.success(res.msg,{end:function () {
                                                    table.reload( 'user-list-table');
                                                }})
                                        }else{
                                            admin.modal.warn(res.msg)
                                        }

                                    }
                                });
                            }
                        });
                    }
                    break;
                case   'giveMember':
                    console.log('点击批量赠送会员')
                    if (checkedCount == 0) {
                        layer.msg('请先选择要赠送会员的用户');
                    } else {
                        giveMember(ids)
                    }
                    break;
                case   'bindResellerId':
                    if (checkedCount == 0) {
                        layer.msg('请先选择要绑定运营商的用户');
                    } else {
                        admin.popup({
                            //网页地址或本地目录
                            title:'绑定运营商',
                            url:'/user/bind_reseller',
                            area: ['600px', '500px'],
                            //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                            data:{"data":ids},
                            end:function () {
                                table.reload( 'user-list-table');
                            }
                        })
                    }
                    break;
                case   'export':
                    layer.msg('正在导出中，请耐心等待', {icon: 16,shade: 0.5,time:60000});
                    admin.post({
                        api: 'UserExp',
                        data:form.val("search_user"),
                        timeout:60000,
                        success:function (res) {
                            layer.closeAll();
                            layer.msg(res.msg);
                            if(res.status==1){
                                window.location.href = res.result.src
                            }
                        }
                    });

                    break;
            }
        });



        //验证会员是否过期
        function VerifyMemberExpiration(member_expiry_time) {
            var time1 = new Date(member_expiry_time);
            var time2 = new Date();
            if(time1>time2){
                return true
            }else{
                return false
            }
        }
        // 绑定事件集合处理(表格加载完毕和表格刷新的时候调用)
        function bindTableToolbarFunction() {
            view.find('.table-action').click(function () {
                var type = $(this).attr('data-type')
                var checkStatus = table.checkStatus(tableFilter)
                    ,data = checkStatus.data;
                var ids = [];
                $.each(data,function(i){ ids[i] = data[i]['id']; });
                var checkedCount = table.checkStatus(tableFilter).data.length;
                switch (type) {
                    case   'refresh':
                        layui.view.tab.refresh();
                        break;
                    case 'add':
                        admin.popup({
                            //网页地址或本地目录
                            title:'添加用户',
                            url:'/user/add',
                            area: ['800px', '90%'],
                            //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                            data:{},
                            end:function () {
                                table.reload( 'user-list-table');
                            }
                        })
                        break;
                    case   'del':
                        if (checkedCount == 0) {
                            layer.msg('请先选择要删除的用户');
                        } else {
                            layer.open({
                                title: '温馨提示'
                                ,content: '确定删除选中用户？删除后数据将不可恢复！'
                                ,btn: ['确认','取消']
                                ,yes:function () {
                                    admin.post({
                                        api: 'delUser',
                                        async: false,
                                        data:{ids:ids},
                                        success:function (res) {
                                            if(res.status==1){
                                                admin.modal.success(res.msg,{end:function () {
                                                        table.reload( 'user-list-table');
                                                    }})
                                            }else{
                                                admin.modal.warn(res.msg)
                                            }

                                        }
                                    });
                                }
                            });
                        }
                        break;
                        case   'giveMember':
                            console.log('点击批量赠送会员')
                        if (checkedCount == 0) {
                            layer.msg('请先选择要赠送会员的用户');
                        } else {
                            giveMember(ids)
                        }
                        break;
                }
            })
        }
        //赠送会员
        function giveMember(user_ids){
            admin.popup({
                //网页地址或本地目录
                title:'赠送会员',
                url:'/user/give_member',
                area: ['600px', '400px'],
                //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                data:{"data":user_ids},
                end:function () {
                     table.reload( 'user-list-table');
                }
            })
            return false;
        }
        //拉黑用户
        function joinBlack(user_id,black_cause=''){
            console.log(black_cause)
            //例子2
            layer.prompt({
                formType: 2,
                value: black_cause,
                title: '请输入拉黑原因',
                area: ['700px', '350px'] //自定义文本域宽高
            }, function(value, index, elem){
                admin.post({
                    api: 'UserJoinBlack',
                    async: false,
                    data:{user_id:user_id,value: 1,black_cause:value},
                    success:function (res) {
                        if(res.status==1){
                            layer.closeAll();
                            admin.modal.success(res.msg,{end:function () {
                                    table.reload( 'user-list-table');
                                }})
                        }else{
                            admin.modal.warn(res.msg)
                        }

                    }
                });
            });

        }
        //跟进记录
        function revisitRecord(user_id){
            admin.popup({
                //网页地址或本地目录
                title:'跟进记录列表',
                url:'/user/revisit_record',
                area: ['90%', '98%'],
                //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                data:{"data":user_id},
                end:function () {
                    table.reload( 'user-list-table');
                }
            })

        }
        //跟进记录
        function promoter(user_id){
            admin.popup({
                //网页地址或本地目录
                title:'绑定推广人',
                url:'/user/promoter',
                area: ['600px', '500px'],
                //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                data:{"data":user_id},
                end:function () {
                    table.reload( 'user-list-table');
                }
            })

        }
        //账单记录
        function balanceDetails(user_id,nickname){
            admin.popup({

                //网页地址或本地目录
                title:'【'+nickname+'】的账单记录',
                url:'/user/balance_details',
                area: ['90%', '90%'],
                //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                data:{"data":user_id},
                end:function () {
                    table.reload( 'user-list-table');
                }
            })
        }
        //收货地址
        function address(user_id,nickname){
            admin.popup({

                //网页地址或本地目录
                title:'【'+nickname+'】的收货地址',
                url:'/user/address',
                area: ['90%', '90%'],
                //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                data:{"data":user_id},
                end:function () {
                    table.reload( 'user-list-table');
                }
            })
        }

        var search_agent_id = xmSelect.render({
            el: document.querySelector('#search_agent_id'),
            tips: '请选择代理商',
            toolbar: {show: true},
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'agent_id',
            filterable: false, //是否开启搜索
            height: '400px',
            data: []
        })
        //远程获取产品
        admin.post({
            api: 'AgentAll',
            async: false,
            data: {},
            success:function (res) {search_agent_id.update({data:res.result});}
        });
    })
</script>