<div class="layui-fluid" lay-title="系统配置">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">系统基本设置</li>

                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <form class="layui-form" action="" lay-filter="basic_system_config_form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">系统名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" lay-verify="required" placeholder="系统名称" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">系统域名</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="host" lay-verify="required" placeholder="如：https://www.xxxx.com" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">前端域名</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="web_host" lay-verify="required" placeholder="如：https://www.xxxx.com" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">apikey</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="apikey" lay-verify="required" placeholder="betsapi网站接口Token" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">QPS时间</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="qps_time" lay-verify="required" placeholder="QPS N秒内允许访问次数" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">QPS次数</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="qps_num" lay-verify="required" placeholder="QPS N秒内允许访问次数" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">测试地址</label>
                                    <div class="layui-input-block">
                                        <a style="line-height: 40px;color: #1e9fff" href="/index/index/limiter" target="_blank">打开此连接，N秒内F5刷新多次，触发限流</a>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">站点状态</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="is_open" value="1" title="正常" checked="">
                                        <input type="radio" name="is_open" value="0" title="关闭">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="button" class="layui-btn" lay-submit lay-filter="basic_system_config_sub">立即提交</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="layui-tab-item">
                            <form class="layui-form" action="" lay-filter="recharge_system_config_form">

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="submit" class="layui-btn" lay-submit lay-filter="recharge_system_config_sub">立即提交</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>

<script>
    layui.use(['admin', 'form','laydate','upload'], function (admin, form) {
        var $ = layui.$;
        var laydate = layui.laydate;
        var element = layui.element;
        var form = layui.form;
        var token = admin.loginToken;

        laydate.render({elem: '#withdrawal_start_time',type: 'time'});
        laydate.render({elem: '#withdrawal_end_time',type: 'time'});
        //获取系统配置信息
        admin.post({
            api: 'getSystem',
            success:function (res) {
                var data = res.result
                //给表单赋值
                form.val("basic_system_config_form", data);

                form.render();

            }
        });

        //任务配置
        form.on('submit(tasks_system_config_sub)', function (data) {
            admin.post({
                api: 'SystemSaveTasksConfig',
                async: false,
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{area:['400'],end:function () {}})
                    }else{
                        admin.modal.info(res.msg)
                    }
                }
            });
            return false;
        });

        //更新系统配置
        form.on('submit(basic_system_config_sub)', function (data) {
            admin.post({
                api: 'SystemSaveSystem',
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{area:['400'],end:function () {

                            }})
                    }else{
                        admin.modal.info(res.msg)
                    }

                }
            });
            return false;
        });


    });
</script>