<link rel="stylesheet" href="/public/nepadmin/css/formSelects.css" media="all">
<style>
    .layui-table-cell {  padding: 0 5px;  }
    .xm-select-dl{
        top:unset !important;
    }
</style>
<div class="layui-fluid" id="VIEW-UserReward-list-table" lay-title="提现记录明细列表">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">筛选数据</div>
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form"  lay-filter="search-StoreCashOut-form" id="search-StoreCashOut-form">
                        <div class="layui-input-inline" style="width: 100px" >
                            <select name="balance_type">
                                <option value="">入账方式</option>
                                <option value="2">提现余额</option>
                                <option value="1">充值余额</option>
                            </select>
                        </div>

                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="username" placeholder="用户昵称或者手机号" >
                        </div>


                      
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="start" id="UserReward_start" autocomplete="off" placeholder="起始时间">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input"  name="end" id="UserReward_end" autocomplete="off" placeholder="截取时间">
                        </div>
                        <div class="layui-input-inline">
                        <div class="layui-btn layui-btn " lay-submit lay-filter="search-UserReward">立即搜索</div>
                        <button type="reset" class="layui-btn   layui-btn-primary">重置</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body nepadmin-pad-l10 nepadmin-pad-r10">
                    <div class="layui-btn-container">
                        <div class="layui-btn-container">
                            <div class="layui-btn layui-btn-sm  table-action" data-siam-auth="UserRewardExp" data-type="export">导出当前</div>
                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action" data-type="refresh">刷新页面</div>
                        </div>
                    </div>
                    <table id="UserReward-list-table" lay-filter="UserReward-list-table"></table>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    layui.use(['admin', 'table', 'form', 'dropdown','laydate','xmSelect', 'jquery'], function (admin, table, form, dropdown, $) {
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var xmSelect = layui.xmSelect;
        var view = $('#VIEW-UserReward-list-table');
        var tableFilter = 'UserReward-list-table';
        laydate.render({elem: '#UserReward_start',type:'datetime'});
        laydate.render({elem: '#UserReward_end',type:'datetime'});

        form.render();
        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: tableFilter,
            api: 'UserRewardLists',
            page: true,
            limits:[10,20,50,100,200,500,1000,2000],
            totalRow:true,
            cols: [[
                { title: 'id', field: 'id',width: 60},
                { title: '奖励类型', field: 'title',width: 100},
                { title: '客户账户', field: 'username',minWidth: 140,templet: function(d){
                        return '【'+d.user_id+'】'+d.username+'【'+d.nickname+'】'
                    }},
                { title: '入账金额', field: 'balance',totalRow: '{{= parseInt(d.TOTAL_NUMS) }} 元'},

                { title: '入账方式', field: 'status',templet: function(d){
                        switch (d.balance_type){
                            case 1:  return '<span class="layui-badge layui-bg-blue">入充值余额</span>';break;
                            case 2:  return '<span class="layui-badge layui-bg-green">入提现余额</span>';break;
                        }
                }},

                { title: '入账状态', field: 'reward_type',templet: function(d){
                    return d.status==1?'<span class="layui-badge layui-bg-red">入账成功</span>':'<span class="layui-badge layui-bg-gray">入账失败</span>';
                    }},
                { title: '备注', field: 'remark'},
                { title: '入账时间', field: 'create_time',width: 156},

            ]]
        });
        view.find('.table-action').click(function () {
            var type = $(this).attr('data-type')
            var checkStatus = table.checkStatus('UserReward-list-table')
                ,data = checkStatus.data;
            var ids = [];
            $.each(data,function(i){ ids[i] = data[i]['id']; });
            var checkedCount = table.checkStatus(tableFilter).data.length;
            switch (type) {
                case   'export':
                    layer.open({
                        title: '温馨提示'
                        ,content: '确定导出当前订单？'
                        ,btn: ['确认','取消']
                        ,yes:function () {
                            var http = 'https:' == document.location.protocol ? 'https' : 'http';
                            var host = http+'://'+window.location.host+'/';
                            var data = form.val("search-StoreCashOut-form");
                            layer.closeAll();
                            window.open(host+'admin/UserReward/exp?'+formateObjToParamStr(data));
                        }
                    });
                    break;
                case   'refresh':
                    layui.view.tab.refresh();
                    break;
            }
        })
        // 监听筛选用户
        form.on('submit(search-UserReward)', function (data) {
            table.reload( 'UserReward-list-table', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });


        //监听工具条
        table.on('tool(UserReward-list-table)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;
            console.log(1)
           if(layEvent === 'check_pay_status'){
                layer.open({
                    title: '温馨提示'
                    ,content: '检测到此订单打款失败时会自动退款余额给用户！'
                    ,btn: ['确认','取消']
                    ,yes:function () {

                        admin.post({
                            api: 'UserRewardCheck',
                            async: false,
                            data:{id:data.id},
                            success:function (res) {
                                if(res.status==1){
                                    admin.modal.success(res.msg,{end:function () {
                                            table.reload( 'UserReward-list-table');
                                        }})
                                }else{
                                    admin.modal.warn(res.msg)
                                }

                            }
                        });
                    }

                });
            }
        });
        function filter(str) { // 特殊字符转义
            str += ''; // 隐式转换
            str = str.replace(/%/g, '%25');
            str = str.replace(/\+/g, '%2B');
            str = str.replace(/ /g, '%20');
            str = str.replace(/\//g, '%2F');
            str = str.replace(/\?/g, '%3F');
            str = str.replace(/&/g, '%26');
            str = str.replace(/\=/g, '%3D');
            str = str.replace(/#/g, '%23');
            return str;
        }

        function formateObjToParamStr(paramObj) {
            const sdata = [];
            for (let attr in paramObj) {
                sdata.push(`${attr}=${filter(paramObj[attr])}`);
            }
            return sdata.join('&');
        };
    })
</script>