<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}</title>
    <link rel="stylesheet" href="/public/web/layui/css/layui.css">
    <link rel="stylesheet" href="/public/web/css/common.css">
    <style>
        .blog_main{ border-radius: 10px;background: #f1f1f1;}



    </style>
</head>
<body>

<div style="position: relative;">
    <div style="border-bottom-left-radius:20px;border-bottom-right-radius:40px; position: relative;">
        <img src="/public/static/img/invitation.png" style="width: 100%;">
    </div>
    <div class="layui-panel layui-padding-3 " style="position: relative;margin-bottom: 60px;">
        <div class=""  >
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-md12 layui-padding-2">
                    <h2>{$system['currency']}{$commission_money}</h2>
                    <p>{:l('COMMISSION_EARNED',$lang)}</p>
                </div>
                <div class="layui-col-xs6 layui-col-md6  layui-padding-2">
                    <h2>{$invitation_num??0}</h2>
                    <p>	{:l('INVITATION_NUMBER',$lang)}</p>
                </div>
                <div class="layui-col-xs6 layui-col-md6  layui-padding-2">
                    <h2>{$activate_num??0}</h2>
                    <p>{:l('ACTIVATE_NUMBER',$lang)}</p>
                </div>

                <div class="layui-col-xs6 layui-col-md6  layui-padding-2">
                    <button type="button" class="layui-btn layui-bg-orange layui-btn-fluid layui-btn-radius" id="copy">{:l('COPY_INVITATION_LINK',$lang)}</button>
                </div>
                <div class="layui-col-xs6 layui-col-md6  layui-padding-2">
                    <div type="button" class="layui-btn layui-btn-fluid layui-btn-radius" id="poster">{:l('INVITATION_QR_CODE',$lang)}</div>
                </div>
                <textarea style="height: 1px;opacity: 0" name="copyTxt" id="copyTxt" readonly>{$promotion_link}</textarea>
            </div>

            <div class="layui-card">
                <div class="layui-card-header"><h2>{:l('REWARD',$lang)}1</h2></div>
                <div class="layui-card-body">
                    <div style="display: flex;">
                        <div><img src="/public/static/img/gold_02.png" style="height: 50px;display: inline-block"></div>
                        <div>  <p class="layui-font-18">
                            {eq name="lang" value="Cn"}
                                如果您的好友升级到VIP1或更高，您将获得{$system['tasks_config']['task_invitation_active_money']??0}奖励。
                            {else/}
                                If your friend upgrades to VIP1 or higher, you will receive a reward of {$system['tasks_config']['task_invitation_active_money']??0}.
                            {/eq}
                           </p></div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header"><h2>{:l('REWARD',$lang)}2</h2></div>
                <div class="layui-card-body">
                    <div class="layui-row" style="text-align: center">
                        <div class="layui-col-xs4 layui-col-md4 layui-padding-2">
                            <h2 class="layui-font-green layui-font-22">{:round($system['product_config']['yield_level_1']*100,0)}%</h2>
                            <p>{:l('LEVEL',$lang)}1</p>
                        </div>
                        <div class="layui-col-xs4 layui-col-md4  layui-padding-2">
                            <h2 class="layui-font-green layui-font-22">{:round($system['product_config']['yield_level_2']*100,0)}%</h2>
                            <p>{:l('LEVEL',$lang)}2</p>
                        </div>
                        <div class="layui-col-xs4 layui-col-md4  layui-padding-2">
                            <h2 class="layui-font-green layui-font-22">{:round($system['product_config']['yield_level_3']*100,0)}%</h2>
                            <p>{:l('LEVEL',$lang)}3</p>
                        </div>
                        <div class="layui-col-xs12 layui-col-md12  layui-padding-2">
                            <p class="layui-font-18" style="text-align: left">
                                {eq name="lang" value="Cn"}
                                如果您的朋友已经投资了这个平台，您将获得总投资的{:round($system['product_config']['yield_level_1']*100,0)}%。
                                {else/}
                                If your friend has already invested in this platform, you will receive {:round($system['product_config']['yield_level_1']*100,0)}% of the total investment.
                                {/eq}

                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header"><h2>{:l('MY_TEAM',$lang)}</h2></div>
                <div class="layui-card-body">
                    <div class="layui-bg-orange layui-padding-2 layui-margin-2" style="border-radius: 10px;display: flex;justify-content: space-between;text-align: center">
                        <div>
                            <h1 class="layui-font-24" style="line-height: 46px">{:l('LEVEL',$lang)}1</h1>
                        </div>
                        <div style="padding-left: 20px;">
                            <h2 class="layui-font-22">{$activate_num??0}</h2>
                            <p>{:l('ACTIVATE_NUMBER',$lang)}</p>
                        </div>
                        <div style="padding-left: 20px;">
                            <h2 class="layui-font-22">{$invitation_num??0}</h2>
                            <p>{:l('INVITATION_NUMBER',$lang)}</p>
                        </div>
                    </div>
                    <div class="layui-bg-orange layui-padding-2 layui-margin-2" style="border-radius: 10px;display: flex;justify-content: space-between;text-align: center">
                        <div>
                            <h1 class="layui-font-24" style="line-height: 46px">{:l('LEVEL_2',$lang)}</h1>
                        </div>
                        <div style="padding-left: 20px;">
                            <h2 class="layui-font-22">{$activate_num_2??0}</h2>
                            <p>{:l('ACTIVATE_NUMBER',$lang)}</p>
                        </div>
                        <div style="padding-left: 20px;">
                            <h2 class="layui-font-22">{$invitation_num_2??0}</h2>
                            <p>{:l('INVITATION_NUMBER',$lang)}</p>
                        </div>
                    </div>
                    <div class="layui-bg-orange layui-padding-2 layui-margin-2" style="border-radius: 10px;display: flex;justify-content: space-between;text-align: center">
                        <div>
                            <h1 class="layui-font-24" style="line-height: 46px">{:l('LEVEL_3',$lang)}</h1>
                        </div>
                        <div style="padding-left: 20px;">
                            <h2 class="layui-font-22">{$activate_num_3??0}</h2>
                            <p>{:l('ACTIVATE_NUMBER',$lang)}</p>
                        </div>
                        <div style="padding-left: 20px;">
                            <h2 class="layui-font-22">{$invitation_num_3??0}</h2>
                            <p>{:l('INVITATION_NUMBER',$lang)}</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="layui-card" style="background: #f2f2f2">
                <div class="layui-card-body">
                    <h2>{:l('RULES',$lang)}</h2>
                    <h4 style="line-height: 30px;"> {:l('COMMISSION_RATE',$lang)} (LV1): {:round($system['product_config']['yield_level_1']*100,0)}%</h4>
                    <h4 style="line-height: 30px;"> {:l('COMMISSION_RATE',$lang)} (LV2): {:round($system['product_config']['yield_level_2']*100,0)}%</h4>
                    <h4 style="line-height: 30px;"> {:l('COMMISSION_RATE',$lang)} (LV3): {:round($system['product_config']['yield_level_2']*100,0)}%</h4>

                </div>
            </div>
        </div>
    </div>
</div>
<!--	底部内容-开始	  -->
{include file="index/common/footer_nav"}
<!--	底部内容-结束	  -->

<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script>
    layui.use(function(){
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        var util = layui.util;
        var element = layui.element;
        element.on('tab(nav)', function(data){
            var id = this.getAttribute('lay-id')
            $('.product_type').removeClass('layui-show').removeClass('layui-hide').addClass('layui-hide');
            $('.product_type_'+id).removeClass('layui-hide').addClass('layui-show');
            console.log(this); //当前Tab标题所在的原始DOM元素
            console.log(data.index); //得到当前Tab的所在下标
            console.log(data.elem); //得到当前的Tab大容器
        });
        $('#copy').click(function () {
            var copyText = document.getElementById("copyTxt");
            copyText.select(); // 选择对象
            document.execCommand("Copy");
            layer.msg('copy success');
        })
        $('#poster').click(function () {

            // var json_data =JSON.parse( "{:json_encode($posters)}");
            var json_data ={:json_encode($posters)};
            layer.photos({
                photos: {
                    "title": "Photos Demo",
                    "start": 0,
                    "data": json_data
                }
            });
        })
    });
</script>
</body>
</html>
