<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$system.title}_{$title}</title>
    <link rel="stylesheet" href="/public/web/layui/css/layui.css">
    <link rel="stylesheet" href="/public/web/css/common.css">
</head>
<body style="background: #f1f1f1">
<div class="layui-panel layui-padding-2">
    <img src="/public/static/img/logo.svg" style="height: 40px">
</div>
<div class="layui-panel" style="background: #f1f1f1">
    <div class="layui-padding-3">
        <div class="layui-inline" style="width: 50%">
            <h2 class="layui-font-18" style="color: #0e90d2;">{$user.nickname}</h2>
            <p>{$user.username}</p>
        </div>
        <div class="layui-inline" style="float: right;width: 50%;text-align: right">
            <div class="layui-inline">
                <img src="{$user.avatar}" style="width: 50px;height: 50px" class="layui-circle">
            </div>
        </div>
    </div>
</div>
<div style="position:relative;" >
    <div class="layui-panel"  style="height: 250px">
        <div class="product_type product_type_1 layui-show" >
            <img src="/public/static/img/001.png" alt="" style="    width: 100%;display: block;">
            <div style="left: 20px; right: 20px;top: 20px;position: absolute;">
                <div class="title">
                    <h3 class="layui-font-20"><font style="vertical-align: inherit;color: #ffffff">产品月收入</font></h3>
                </div>
            </div>
        </div>
        <div class="product_type product_type_2 layui-hide" >
            <img src="/public/static/img/002.png" alt="" style="    width: 100%;display: block;">
            <div style="left: 20px; right: 20px;top: 20px;position: absolute;">
                <div class="title">
                    <h3 class="layui-font-20"><font style="vertical-align: inherit;color: #ffffff">每日收入</font></h3>
                </div>
            </div>
        </div>
        <div class="product_type product_type_3 layui-hide">
            <img src="/public/static/img/003.png" alt="" style="    width: 100%;display: block;">
            <div style="left: 20px; right: 20px;top: 20px;position: absolute;">
                <div class="title">
                    <h3 class="layui-font-20"><font style="vertical-align: inherit;color: #ffffff">使用中的产品</font></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="margin: 0;top: 200px;left: 5px;right: 5px;border-radius: 10px; position: absolute;background-color: #003b87;background: linear-gradient(181deg, #003b87 10%, #f5f9ff 100%);">
        <div class="layui-tab layui-tab-brief" lay-filter="nav" >
            <ul class="layui-tab-title">
                <li lay-id="1" class="layui-this">长期</li>
                <li lay-id="2">每日</li>
                <li lay-id="3" >活动</li>
            </ul>
            <div class="layui-tab-content layui-bg-gray" style="background: #f1f1f1" >
                <div class="layui-tab-item layui-show">
                    {volist name='product' id="v"}

                    {eq name='v.type' value="1"}
                    <div class="layui-panel layui-padding-4" style="border-radius: 20px;margin-bottom: 10px;margin-bottom: 10px;margin-bottom: 10px">
                        <div class="layui-row" style="margin-bottom: 20px">
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <div style="width: 50%">
                                    <h3><em class="currency">{$system['currency']}</em>{$v['price']}</h3>
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">每件价格</font></font></span>
                                </div>
                            </div>
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <div style="display: inline;text-align: right">
                                    <img src="/public/static/img/lv{$v['level']}.svg" class="vip-icon">
                                </div>
                            </div>
                        </div>

                        <div class="layui-row">
                            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                <p>{$v['revenue_days']}天</p>
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">可收益天数</font></font></span>
                            </div>
                            <div class="layui-col-xs4 layui-col-sm4 layui-col-md">
                                <p><em class="currency">{$system['currency']}</em>{:round($v['price']*$v['daily_yield'],2)}</p>
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">每日收入</font></font></span>
                            </div>
                            <div class="layui-col-xs4 layui-col-sm4 layui-col-md">
                                <p><em class="currency">{$system['currency']}</em>{:round($v['price']*$v['daily_yield']*$v['revenue_days'],2)}</p>
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">总收入</font></font></span>
                            </div>
                        </div>
                        <div class="layui-inline" style="text-align: right;width: 100%;margin-top: 20px;">
                            <a href="/product_details/{$v.id}" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger" style="width: 80px"  >去购买</a>
                        </div>
                    </div>
                    {/eq}
                    {/volist}
                </div>
                <div class="layui-tab-item">
                    {volist name='product' id="v"}
                    {eq name='v.type' value="2"}
                    <div class="layui-panel layui-padding-4" style="border-radius: 20px;margin-bottom: 10px;margin-bottom: 10px;margin-bottom: 10px">
                        <div class="layui-row" style="margin-bottom: 20px">
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <div style="width: 50%">
                                    <h3><em class="currency">{$system['currency']}</em>{$v['price']}</h3>
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">每件价格</font></font></span>
                                </div>
                            </div>
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <div style="display: inline;text-align: right">
                                    <img src="/public/static/img/lv{$v['level']}.svg" class="vip-icon">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                <p>{$v['revenue_days']}天</p>
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">可收益天数</font></font></span>
                            </div>
                            <div class="layui-col-xs4 layui-col-sm4 layui-col-md">
                                <p><em class="currency">{$system['currency']}</em>{:round($v['price']*$v['daily_yield'],2)}</p>
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">每日收入</font></font></span>
                            </div>
                            <div class="layui-col-xs4 layui-col-sm4 layui-col-md">
                                <p><em class="currency">{$system['currency']}</em>{:round($v['price']*$v['daily_yield']*$v['revenue_days'],2)}</p>
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">总收入</font></font></span>
                            </div>
                        </div>
                        <div class="layui-inline" style="text-align: right;width: 100%;margin-top: 20px;">
                            <a href="/product_details/{$v.id}" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger" style="width: 80px"  >去购买</a>
                        </div>
                    </div>
                    {/eq}
                    {/volist}
                </div>
                <div class="layui-tab-item">
                    {volist name='product' id="v"}
                    {eq name='v.type' value="3"}
                    <div class="layui-panel layui-padding-4" style="border-radius: 20px;margin-bottom: 10px;margin-bottom: 10px;margin-bottom: 10px">
                        <div class="layui-row" style="margin-bottom: 20px">
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <div style="width: 50%">
                                    <h3><em class="currency">{$system['currency']}</em>{$v['price']}</h3>
                                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">每件价格</font></font></span>
                                </div>
                            </div>
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <div style="display: inline;text-align: right">
                                    <img src="/public/static/img/lv{$v['level']}.svg" class="vip-icon">
                                </div>
                            </div>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                <p>{$v['revenue_days']}天</p>
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">可收益天数</font></font></span>
                            </div>
                            <div class="layui-col-xs4 layui-col-sm4 layui-col-md">
                                <p><em class="currency">{$system['currency']}</em>{:round($v['price']*$v['daily_yield'],2)}</p>
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">每日收入</font></font></span>
                            </div>
                            <div class="layui-col-xs4 layui-col-sm4 layui-col-md">
                                <p><em class="currency">{$system['currency']}</em>{:round($v['price']*$v['daily_yield']*$v['revenue_days'],2)}</p>
                                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">总收入</font></font></span>
                            </div>
                        </div>
                        <div class="layui-inline" style="text-align: right;width: 100%;margin-top: 20px;">
                            <a href="/product_details/{$v.id}" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger" style="width: 80px"  >去购买</a>
                        </div>
                    </div>
                    {/eq}
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="layui-tab layui-tab-brief footer-nav">
    <ul class="layui-tab-title">
        <li class="layui-this"><a href="/">主页</a></li>
        <li><a href="/blog">博客</a></li>
        <li><a href="/invitation">邀请</a></li>
        <li><a href="/tasks">任务大厅</a></li>
        <li><a href="/my">个人中心</a></li>
    </ul>
</div>
<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script>
    layui.use(function(){
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        var util = layui.util;
        var element = layui.element;
        element.on('tab(nav)', function(data){
            var id = this.getAttribute('lay-id')
            $('.product_type').removeClass('layui-show').removeClass('layui-hide').addClass('layui-hide');
            $('.product_type_'+id).removeClass('layui-hide').addClass('layui-show');
            console.log(this); //当前Tab标题所在的原始DOM元素
            console.log(data.index); //得到当前Tab的所在下标
            console.log(data.elem); //得到当前的Tab大容器
        });

    });
</script>
</body>
</html>
