<div class="layui-fluid" id="view-Upcoming-add" lay-title="编辑接口">
    <style>
        #view-api-add .number {
            width: 60px;
        }
    </style>

    <form class="layui-form" action="" onSubmit="return false;" lay-filter="add-upcoming-element">
        <input type="hidden" name="id">
        <div class="layui-row layui-col-space15" style="background: #f1f1f1;padding: 10px;">
            <div class="layui-col-md5">
                <div class="layui-card">
                    <div class="layui-card-header">基本信息</div>
                    <div class="layui-card-body">
                        <div class="layui-form-item">
                            <label class="layui-form-label">联赛</label>
                            <div class="layui-input-block">
                                <div id="add_league_id"  class="xm-select-demo"></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">主队</label>
                            <div class="layui-input-block">
                                <div id="add_home_id"  class="xm-select-demo"></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">客队</label>
                            <div class="layui-input-block">
                                <div id="add_away_id"  class="xm-select-demo"></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">开始时间*</label>
                            <div class="layui-input-block">
                                <input type="text" name="time" id="Upcoming_time" value="" lay-verify="required" placeholder="比赛开始时间" autoComplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">比赛时长*</label>
                            <div class="layui-input-block">
                                <input type="number" name="extra[length]" value="" lay-verify="required" placeholder="比赛时长 如：90 单位分钟" autoComplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">比分*</label>
                            <div class="layui-input-block">
                                <input type="text" name="ss" value="" lay-verify="required"
                                       placeholder="当前比分 如：1-2" autoComplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">轮次</label>
                            <div class="layui-input-block">
                                <input type="number" name="round" value="" placeholder="轮次 如：6" autoComplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button  class="layui-btn upcoming_add" lay-submit lay-filter="upcoming_add">
                                    立即提交
                                </button>
                                <button type="reset" class="layui-btn layui-btn-primary">充值</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">全场分数（必填）</div>
                    <div class="layui-card-body">
                        <table class="layui-table" lay-size="sm">
                            <thead>
                            <tr>
                                <th>半/全场</th>
                                <th>主队</th>
                                <th>客队</th>
                            </tr>
                            </thead>
                            <tbody id="request_params" class="detail_body">
                            <tr class="detail">
                                <td><span>半场</span></td>
                                <td><input name="scores[h]" type="number" lay-verify="required" value="" class="layui-input"></td>
                                <td><input name="scores[a]" type="number" lay-verify="required" value="" class="layui-input"></td>
                            </tr>
                            <tr class="detail">
                                <td><span>全场</span></td>
                                <td><input name="scores[h]" type="number" lay-verify="required" value="" class="layui-input"></td>
                                <td><input name="scores[a]" type="number" lay-verify="required" value="" class="layui-input"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">比赛数据（建议填写）</div>
                    <div class="layui-card-body">
                        <table class="layui-table" lay-size="sm">
                            <thead>
                            <tr>
                                <th>数据项</th>
                                <th>主队</th>
                                <th>客队</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr class="detail">
                                <td><span>进球</span></td>
                                <td><input name="stats[goals][]"  type="number" value="" placeholder="请输入主队进球次数" class="layui-input home_golds"></td>
                                <td><input name="stats[goals][]" type="number" value="" placeholder="请输入客队进球次数" class="layui-input away_golds"></td>
                            </tr>
                            <tr class="detail">

                                <td><span>角球</span></td>
                                <td><input name="stats[corners][]" type="number" value="" placeholder="请输入主队角球次数" class="layui-input"></td>
                                <td><input name="stats[corners][]" type="number" value="" placeholder="请输入客队角球次数" class="layui-input"></td>
                            </tr>
                            <tr class="detail">
                                <td><span>黄牌</span></td>
                                <td><input name="stats[yellowcards][]" type="number" value="" placeholder="请输入主队黄牌次数" class="layui-input"></td>
                                <td><input name="stats[yellowcards][]" type="number" value="" placeholder="请输入客队黄牌次数" class="layui-input"></td>
                            </tr>
                            <tr class="detail">

                                <td><span>红牌</span></td>
                                <td><input name="stats[redcards][]" type="number" value="" placeholder="请输入主队红牌次数" class="layui-input"></td>
                                <td><input name="stats[redcards][]" type="number" value="" placeholder="请输入客队红牌次数" class="layui-input"></td>
                            </tr>
                            <tr class="detail">
                                <td><span>判罚</span></td>
                                <td><input name="stats[penalties][]" type="number" value="" placeholder="请输入主队判罚次数" class="layui-input"></td>
                                <td><input name="stats[penalties][]" type="number" value="" placeholder="请输入客队判罚次数" class="layui-input"></td>
                            </tr>
                            <tr class="detail">
                                <td><span>换人</span></td>
                                <td><input name="stats[substitutions][]" type="number" value="" placeholder="请输入主队换人次数" class="layui-input"></td>
                                <td><input name="stats[substitutions][]" type="number" value="" placeholder="请输入客队换人次数" class="layui-input"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">额外数据（可不填）</div>
                    <div class="layui-card-body">
                        <table class="layui-table" lay-size="sm">
                            <thead>
                            <tr>
                                <th>类型</th>
                                <th>名称</th>
                                <th>国家简称</th>
                                <th>id</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr class="detail">
                                <td><span>主队经理</span></td>
                                <td><input name="extra[home_manager][name]" type="text" value="" placeholder="经理姓名 可不填" class="layui-input"></td>
                                <td><input name="extra[home_manager][cc]" type="text" value="" placeholder="国家简称 可不填" class="layui-input"></td>
                                <td><input name="extra[home_manager][id]" type="number" value="" placeholder="经理ID 可不填" class="layui-input"></td>
                            </tr>
                            <tr class="detail">
                                <td><span>客队经理</span></td>
                                <td><input name="extra[away_manager][name]" type="text" value="" placeholder="经理姓名 可不填" class="layui-input"></td>
                                <td><input name="extra[away_manager][cc]" type="text" value="" placeholder="国家简称 可不填" class="layui-input"></td>
                                <td><input name="extra[away_manager][id]" type="number" value="" placeholder="经理ID 可不填" class="layui-input"></td>
                            </tr>
                            <tr class="detail">
                                <td><span>裁判</span></td>
                                <td><input name="extra[referee][name]" type="text" value="" placeholder="裁判姓名 可不填" class="layui-input"></td>
                                <td><input name="extra[referee][cc]" type="text" value="" placeholder="裁判所属国家简称 可不填" class="layui-input"></td>
                                <td><input name="extra[referee][id]" type="number" value="" placeholder="裁判ID 可不填" class="layui-input"></td>

                            </tr>

                            <tr class="detail">
                                <td><span>主队排名</span></td>
                                <td ><input name="extra[home_pos]" type="number" value="" placeholder="主队排名 可不填" class="layui-input"></td>
                                <td><span>客队排名</span></td>
                                <td ><input name="extra[away_pos]" type="number" value="" placeholder="客队排名 可不填" class="layui-input"></td>
                            </tr>

                            <tr class="detail">
                                <td><span>比赛场馆</span></td>
                                <td  colspan="3"><input name="extra[stadium]" type="text" value=""  placeholder="比赛场馆 可不填" class="layui-input"></td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="layui-col-md7 ">

                <div class="layui-card">
                    <div class="layui-card-header">比赛事件（建议填写 可不填）</div>
                    <div class="layui-card-body">
                        <div class="layui-btn-gro">
                            <span class="layui-btn layui-btn-sm layui-btn-normal event_add">添加事件</span>
                            <span class="layui-btn layui-btn-sm layui-btn-normal generate_event">根据比分生成事件</span>
                        </div>


                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="120">
                                <col width="120">
                                <col>
                                <col width="160">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>事件类型</th>
                                <th>时间</th>
                                <th>事件描述</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="event_params" class="detail_body">
                            <!--                            <tr class="detail">-->
                            <!--                                <td><select name="event_type[]">-->
                            <!--                                    <option value="1">主队进球</option>-->
                            <!--                                    <option value="2">客队进球</option>-->
                            <!--                                    <option value="3">主队角球</option>-->
                            <!--                                    <option value="4">客队角球</option>-->
                            <!--                                    </select>-->
                            <!--                                </td>-->
                            <!--                                <td><input name="event_time[]" lay-verify="required" type="number" value="" placeholder="事件发生时间" class="layui-input"></td>-->

                            <!--                                <td><input name="event_text[]" lay-verify="required" type="text" value="" placeholder="请输入事件内容" class="layui-input"></td>-->
                            <!--                                <td class="handler">-->
                            <!--                                    <div class="layui-btn-group">-->
                            <!--                                        <span class="layui-btn layui-btn-sm layui-btn-danger event_del">删除</span>-->
                            <!--                                        <span class="layui-btn layui-btn-sm event_up">上移</span>-->
                            <!--                                        <span class="layui-btn layui-btn-sm event_down">下移</span>-->
                            <!--                                    </div>-->

                            <!--                                </td>-->
                            <!--                            </tr>-->

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-card" style="background: #ffffff">
                    <div class="layui-card-header">比赛赔率 </div>
                    <div class="layui-card-body layui-row  layui-col-space5" style="padding: 0px;background: #f1f1f1;margin:5px">
                        <div class="layui-col-md12 layui-btn-group" style="background: #ffffff">
                            <span class="layui-btn layui-btn-sm" id="generate_odds">根据比分事件生成赔率</span>
                            <span class="layui-btn layui-btn-sm layui-btn-danger" id="clear_odds">清空</span>
                        </div>
                        <div class="layui-col-md6 ">
                            <div class="layui-card">
                                <div class="layui-card-header">1X2</div>
                                <div class="layui-card-body">
                                    <table class="layui-table" lay-size="sm">
                                        <colgroup><col width="70"><col><col><col>
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>比分</th>
                                            <th>胜</th>
                                            <th>平</th>
                                            <th>负</th>
                                        </tr>
                                        </thead>
                                        <tbody id="odds_1_1">
                                        <tr>
                                            <td><input name="odds[1_1][0][ss]" type="text" value="0-0" placeholder="比分" class="layui-input"></td>
                                            <td><input name="odds[1_1][0][home_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>
                                            <td><input name="odds[1_1][0][draw_od]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>
                                            <td><input name="odds[1_1][0][away_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 ">
                            <div class="layui-card">
                                <div class="layui-card-header">亚洲让盘</div>
                                <div class="layui-card-body layui-row">
                                    <table class="layui-table" lay-size="sm">
                                        <colgroup><col width="70"><col><col><col></colgroup>
                                        <thead>
                                        <tr>
                                            <th>比分</th>
                                            <th>胜</th>
                                            <th>让球</th>
                                            <th>负</th>
                                        </tr>
                                        </thead>
                                        <tbody id="odds_1_2">
                                            <tr>
                                                <td><input name="odds[1_2][0][ss]" type="text" value="0-0" placeholder="比分" class="layui-input"></td>
                                                <td><input name="odds[1_2][0][home_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>
                                                <td><input name="odds[1_2][0][handicap]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>
                                                <td><input name="odds[1_2][0][away_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 ">
                            <div class="layui-card">
                                <div class="layui-card-header">进球总数</div>
                                <div class="layui-card-body layui-row">
                                    <table class="layui-table" lay-size="sm">
                                        <colgroup><col width="70"><col><col><col></colgroup>
                                        <thead>
                                        <tr>
                                            <th>比分</th>
                                            <th>胜</th>
                                            <th>让球</th>
                                            <th>负</th>
                                        </tr>
                                        </thead>
                                        <tbody id="odds_1_3">
                                        <tr>
                                            <td><input name="odds[1_3][0][ss]" type="text" value="0-0" placeholder="比分" class="layui-input"></td>
                                            <td><input name="odds[1_3][0][over_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>
                                            <td><input name="odds[1_3][0][handicap]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>
                                            <td><input name="odds[1_3][0][under_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 ">
                            <div class="layui-card">
                                <div class="layui-card-header">亚洲角盘球</div>
                                <div class="layui-card-body layui-row">
                                    <table class="layui-table" lay-size="sm">
                                        <colgroup><col width="70"><col><col><col></colgroup>
                                        <thead>
                                            <tr>
                                                <th>比分</th>
                                                <th>胜</th>
                                                <th>让球</th>
                                                <th>负</th>
                                            </tr>
                                        </thead>
                                        <tbody id="odds_1_4">
                                        <tr>
                                            <td><input name="odds[1_3][0][ss]" type="text" value="0-0" placeholder="比分" class="layui-input"></td>
                                            <td><input name="odds[1_4][0][over_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>
                                            <td><input name="odds[1_4][0][handicap]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>
                                            <td><input name="odds[1_4][0][under_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </form>
</div>
<script>

    layui.use(['admin', 'jquery', 'form', 'xmSelect', 'laydate'], function (admin, code, helper) {
        var $ = layui.jquery;
        var form = layui.form


        var xmSelect = layui.xmSelect;
        var view = $('#view-Upcoming-add');
        var token = admin.loginToken;
        var laydate = layui.laydate;
        var index = parent.layer.index
        var popup_data = POPUP_DATA.data
        laydate.render({elem: '#Upcoming_time',type:'datetime'});
        //给表单赋值
        form.val("add-upcoming-element", popup_data);
        form.render(null, 'add-upcoming-element');

        //提交
        form.on('submit(upcoming_add)', function (data) {
            console.log(data.field)
            admin.post({
                api: 'UpcomingAdd',
                data: data.field,
                success: function (res) {
                    if (res.status == 1) {
                        admin.modal.success(res.msg, {end: function () {
                                parent.layer.close(index)}
                        })
                    } else {
                        admin.modal.warn(res.msg)
                    }
                }
            });
            return false;
        });
        //生成比分
        view.find("input[name=ss]").blur(function () {
            var ss = $(this).val();
            if(ss){
                var score = ss.split("-")
                $('.home_golds').val(score[0])
                $('.away_golds').val(score[1])
            }
        });
        //根据比分生成事件
        $('#view-Upcoming-add .generate_event').click(function () {

            var data = form.val("add-upcoming-element")
            var ss = $('input[name=ss]').val()
            if(!ss){
                layer.msg('请先输入比分');return false;
            }
            var score = ss.split("-")
            var length = score[0]>score[1]?score[0]:score[1];
            var short = score[0]>score[1]?score[1]:score[0];
            var list = [] ;
            var home_name = add_home_id.getValue('nameStr')
            var away_name = add_away_id.getValue('nameStr')

            for(var i=1;i<=length;i++){
                list.push(i+'-0')
                var html = '';
                html = ' <tr class="detail">\n' +
                    '<td>' +
                    '<select name="event_type[]">' +
                    '<option value="1" selected>主队进球</option>' +
                    '<option value="2">客队进球</option>' +
                    '<option value="3">主队角球</option>' +
                    '<option value="4">客队角球</option>' +
                    '</select>' +
                    '</td>\n' +
                    '                              <td><input name="event_time[]" lay-verify="required" type="number" value="" class="layui-input"></td>\n' +
                    '                              <td><input name="event_text[]" lay-verify="required" type="text" value="'+i+'st Goal - ('+home_name+')" class="layui-input"></td>\n' +
                    '                              <td class="handler">\n' +
                    '                              <div class="layui-btn-group">\n' +
                    '                                <span class="layui-btn layui-btn-sm layui-btn-danger event_del">删除</span>\n' +
                    '                                <span class="layui-btn layui-btn-sm event_up">上移</span>\n' +
                    '                                <span class="layui-btn layui-btn-sm event_down">下移</span>\n' +
                    '                              </div>\n' +
                    '                              </div>\n' +
                    '                              </td>\n' +
                    '                            </tr>';
                view.find('#event_params').append(html)


            }
            for(var m=1;m<=short;m++){
                var html = '';
                html = ' <tr class="detail">\n' +
                    '<td>' +
                    '<select name="event_type[]">' +
                    '<option value="1">主队进球</option>' +
                    '<option value="2" selected>客队进球</option>' +
                    '<option value="3">主队角球</option>' +
                    '<option value="4">客队角球</option>' +
                    '</select>' +
                    '</td>\n' +
                    '                              <td><input name="event_time[]" lay-verify="required" type="number" value="" class="layui-input"></td>\n' +
                    '                              <td><input name="event_text[]" lay-verify="required" type="text" value="'+m+'st Goal - ('+away_name+')" class="layui-input"></td>\n' +
                    '                              <td class="handler">\n' +
                    '                              <div class="layui-btn-group">\n' +
                    '                                <span class="layui-btn layui-btn-sm layui-btn-danger event_del">删除</span>\n' +
                    '                                <span class="layui-btn layui-btn-sm event_up">上移</span>\n' +
                    '                                <span class="layui-btn layui-btn-sm event_down">下移</span>\n' +
                    '                              </div>\n' +
                    '                              </div>\n' +
                    '                              </td>\n' +
                    '                            </tr>';
                view.find('#event_params').append(html)
            }
            form.render(null, 'add-upcoming-element');

        })
        //移除
        $(document).on("click", ".event_del", function () {
            $(this).parent().parent().parent().remove();
        })
        //上移
        $(document).on("click",".event_up",function(){var tr = $(this).parent().parent().parent();tr.prev().before(tr);})
        //下移
        $(document).on("click",".event_down",function(){var tr = $(this).parent().parent().parent();tr.next().after(tr);})
        $(document).on("click", ".event_add", function () {
            var html = '';
            html = ' <tr class="detail">\n' +
                '<td>' +
                '<select name="event_type[]">' +
                '<option value="1">主队进球</option>' +
                '<option value="2">客队进球</option>' +
                '<option value="3">主队角球</option>' +
                '<option value="4">客队角球</option>' +
                '</select>' +
                '</td>\n' +
                '                              <td><input name="event_time[]" lay-verify="required" type="number" value="" class="layui-input"></td>\n' +
                '                              <td><input name="event_text[]" lay-verify="required" type="text" value="" class="layui-input"></td>\n' +
                '                              <td class="handler">\n' +
                '                              <div class="layui-btn-group">\n' +
                '                                <span class="layui-btn layui-btn-sm layui-btn-danger event_del">删除</span>\n' +
                '                                <span class="layui-btn layui-btn-sm event_up">上移</span>\n' +
                '                                <span class="layui-btn layui-btn-sm event_down">下移</span>\n' +
                '                              </div>\n' +
                '                              </td>\n' +
                '                            </tr>';
            view.find('#event_params').append(html)
            form.render(null, 'add-upcoming-element');
        })

        //根据事件生成赔率
        $('#view-Upcoming-add #clear_odds').click(function () {
            $('#odds_1_1').html('');
            $('#odds_1_2').html('');
            $('#odds_1_3').html('');
            $('#odds_1_4').html('');
        })
        $('#view-Upcoming-add #generate_odds').click(function () {
            var golds = [];

            $('select[name="event_type[]"]').each(function(index,item){
                golds.push($(item).val());
            });

            addOdds(golds);  //生成赔率
            form.render(null, 'add-upcoming-element');

        })

        var add_league_id = xmSelect.render({
            el: document.querySelector('#add_league_id'),
            tips: '请选择联赛',
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'league_id',
            height: '400px',
            toolbar: { show: true },
            filterable: true,
            remoteSearch: true,
            remoteMethod: function(val, cb, show){
                //这里如果val为空, 则不触发搜索
                if(!val){
                    return cb([]);
                }
                //远程获取产品
                admin.post({
                    api: 'LeagueAll',
                    async: false,
                    data:{
                        keyword: val,
                    },
                    success:function (res) {
                        cb(res.result)
                    },
                    error:function (e){
                        cb([]);
                    }
                });
            },
        })
        var add_home_id = xmSelect.render({
            el: document.querySelector('#add_home_id'),
            tips: '请选择主队',
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'home_id',
            height: '400px',
            toolbar: { show: true },
            filterable: true,
            remoteSearch: true,
            remoteMethod: function(val, cb, show){
                //这里如果val为空, 则不触发搜索
                if(!val){
                    return cb([]);
                }
                //远程获取产品
                admin.post({
                    api: 'TeamAll',
                    async: false,
                    data:{
                        keyword: val,
                    },
                    success:function (res) {
                        cb(res.result)
                    },
                    error:function (e){
                        cb([]);
                    }
                });
            },
        })
        var add_away_id = xmSelect.render({
            el: document.querySelector('#add_away_id'),
            tips: '请选择客队',
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'away_id',
            height: '400px',
            toolbar: { show: true },
            filterable: true,
            remoteSearch: true,
            remoteMethod: function(val, cb, show){
                //这里如果val为空, 则不触发搜索
                if(!val){
                    return cb([]);
                }
                //远程获取产品
                admin.post({
                    api: 'TeamAll',
                    async: false,
                    data:{
                        keyword: val,
                    },
                    success:function (res) {
                        cb(res.result)
                    },
                    error:function (e){
                        cb([]);
                    }
                });
            },
        })

        function addOdds(golds){
            var home_golds = 0;
            var away_golds = 0;
            var key = 1;
            //1X2赔率
            var html = '';
            html = ' <tr>\n' +
                '        <td><input name="odds[1_1][0][ss]" type="text" value="0-0" placeholder="比分" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_1][0][home_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_1][0][draw_od]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_1][0][away_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>\n' +
                '    </tr>';
            view.find('#odds_1_1').append(html)
            //亚洲让盘赔率
            html = ' <tr>\n' +
                '        <td><input name="odds[1_2][0][ss]" type="text" value="0-0" placeholder="比分" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_2][0][home_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_2][0][handicap]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_2][0][away_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>\n' +
                '    </tr>';
            view.find('#odds_1_2').append(html)
            //进球总数赔率
            html = ' <tr>\n' +
                '        <td><input name="odds[1_3][0][ss]" type="text" value="0-0" placeholder="比分" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_3][0][over_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_3][0][handicap]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_3][0][under_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>\n' +
                '    </tr>';
            view.find('#odds_1_3').append(html)
            //亚洲角盘球赔率
            html = ' <tr>\n' +
                '        <td><input name="odds[1_4]['+key+'][ss]" type="text" value="0-0" placeholder="比分" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_4]['+key+'][over_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_4]['+key+'][handicap]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>\n' +
                '        <td><input name="odds[1_4]['+key+'][under_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>\n' +
                '    </tr>';
            view.find('#odds_1_4').append(html)
            layui.each(golds,function (index,item) {
                if(item==1){
                    home_golds++;
                }else{
                    away_golds++;
                }
                //1X2赔率
                html = '';
                html = ' <tr>\n' +
                    '        <td><input name="odds[1_1]['+key+'][ss]" type="text" value="'+home_golds+'-'+away_golds+'" placeholder="比分" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_1]['+key+'][home_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_1]['+key+'][draw_od]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_1]['+key+'][away_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>\n' +
                    '    </tr>';
                view.find('#odds_1_1').append(html)
                //亚洲让盘赔率
                html = ' <tr>\n' +
                    '        <td><input name="odds[1_2]['+key+'][ss]" type="text" value="'+home_golds+'-'+away_golds+'" placeholder="比分" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_2]['+key+'][home_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_2]['+key+'][handicap]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_2]['+key+'][away_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>\n' +
                    '    </tr>';
                view.find('#odds_1_2').append(html)
                //进球总数赔率
                html = ' <tr>\n' +
                    '        <td><input name="odds[1_3]['+key+'][ss]" type="text" value="'+home_golds+'-'+away_golds+'" placeholder="比分" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_3]['+key+'][over_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_3]['+key+'][handicap]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_3]['+key+'][under_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>\n' +
                    '    </tr>';
                view.find('#odds_1_3').append(html)
                //亚洲角盘球赔率
                html = ' <tr>\n' +
                    '        <td><input name="odds[1_4]['+key+'][ss]" type="text" value="'+home_golds+'-'+away_golds+'" placeholder="比分" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_4]['+key+'][over_od]" type="number" value="" placeholder="主胜赔率" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_4]['+key+'][handicap]" type="number" value="" placeholder="打平赔率" class="layui-input"></td>\n' +
                    '        <td><input name="odds[1_4]['+key+'][under_od]" type="number" value="" placeholder="客胜赔率" class="layui-input"></td>\n' +
                    '    </tr>';
                view.find('#odds_1_4').append(html)
                key++;

            })

            form.render(null, 'add-upcoming-element');
        }
    })

</script>