<div class="layui-fluid"id="Upcoming-add" lay-title="新增">
    <div class="layui-row layui-col-space15" style="margin-top: 20px">
        <form class="layui-form" action="" lay-filter="add-Upcoming-element">
            <input type="hidden" name="id">
            <div class="layui-form-item">
                <label class="layui-form-label">联赛</label>
                <div class="layui-input-block">
                    <input type="text" name="league_name"  placeholder="客队" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">主队</label>
                <div class="layui-input-block">
                    <input type="text" name="home_name"  placeholder="客队" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客队</label>
                <div class="layui-input-block">
                    <input type="text" name="away_name"  placeholder="客队" autocomplete="off" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-block">
                    <input type="text" name="time" id="Upcoming_time" value="" lay-verify="required" placeholder="比赛开始时间" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add-Upcoming-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect','upload'], function (admin, table, form) {
        var $ = layui.jquery;
        var form =layui.form;
        var view = $('#Upcoming-add');
        var xmSelect = layui.xmSelect;
        var laydate = layui.laydate;
        var popup_data = POPUP_DATA.data
        $('input[name=league_name]').val(popup_data.league.name)
        $('input[name=home_name]').val(popup_data.home.name)
        $('input[name=away_name]').val(popup_data.away.name)

        laydate.render({elem: '#Upcoming_time',type:'datetime'});
        form.val("add-Upcoming-element", popup_data);
        form.render(null, 'add-Upcoming-element');


        var index = parent.layer.index
        form.on('submit(add-Upcoming-element)', function (data) {
            admin.post({
                api: 'UpcomingEdit',
                async: false,
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }
                }
            });
            return false;
        });


    });
</script>