<link rel="stylesheet" href="/public/nepadmin/css/formSelects.css" media="all">
<style>
    .xm-select-dl {
        top: unset !important;
    }

    .layui-table-cell {
        padding: 0 5px;
    }
</style>
<div class="layui-fluid" id="VIEW-Upcoming-list-table" lay-title="即将开始的比赛列表">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">筛选数据</div>
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form" lay-filter="search_Upcoming"
                          id="search_Upcoming">
                        <input type="hidden" name="order" id="order" value="id desc">
                       
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="name" placeholder="即将开始的比赛名称">
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input" name="start_time" id="Upcoming_start" autocomplete="off" placeholder="起始时间">
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="