<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}_{$system.title}</title>
    <link rel="stylesheet" href="/public/web/layui/css/layui.css">
    <link rel="stylesheet" href="/public/site/css/common.css">
</head>
<body style="background: #F5F5F5">
<div class="index_header">
    <img src="/public/site/img/banner.png" style="max-height: 320px;width: 100%">
    <a href="/" style="position:absolute;top: 20px;left: 20px"><img src="/public/site/img/logo.png" style="width:60px;"></a>
    <a href="/vip" style="position:absolute;top: 20px;right: 20px">
        <img src="/public/site/img/vipx.png" style="width:24px;">
    </a>
</div>
<div class="product_nav" style="overflow: hidden">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs4" >
            <div class="product_type active" data-type="1">Long Term</div>
        </div>
        <div class="layui-col-xs4">
            <div class="product_type"  data-type="2">Short Term</div>
        </div>
        <div class="layui-col-xs4 ">
            <div class="product_type"  data-type="3">Activity</div>
        </div>
    </div>
</div>

<div class="product_list product_type_1">
    {volist name='product' id="v"}
    {eq name='v.type' value="1"}
    <div class="product_details">
        <div class="product_title">
            <div class="left">
                {$v.name} <img src="/public/site/img/lv{$v['level']}.svg">
            </div>
            <a href="/product_details/{$v.id}" class="right">
                Buy
            </a>
        </div>
        <div class="product_info">
            <div class="left">
                <img src="{$v.image}">
            </div>
            <div class="right">
                <p>
                    <span>Price</span>
                    <span class="price">{$v['price']}</span>
                </p>
                <p>
                    <span>Days</span>
                    <span class="value">{$v['revenue_days']}</span>
                </p>
                <p>
                    <span>Daily Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield'],2)}</span>
                </p>
                <p>
                    <span>Total Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield']*$v['revenue_days'],2)}</span>
                </p>
            </div>
        </div>
    </div>
    {/eq}
    {/volist}

    <!--        <div class="product_details">-->
    <!--            <div class="product_title">-->
    <!--                <div class="left">-->
    <!--                    Catering delicacies<img src="/public/site/img/lv{$v['level']}.svg">-->
    <!--                </div>-->
    <!--                <a class="right">-->
    <!--                    Buy-->
    <!--                </a>-->
    <!--            </div>-->
    <!--            <div class="product_info">-->
    <!--                <div class="left">-->
    <!--                    <img src="/public/site/img/product@3x.png">-->
    <!--                </div>-->
    <!--                <div class="right">-->
    <!--                    <p>-->
    <!--                        <span>Price</span>-->
    <!--                        <span class="price">₦20000.00</span>-->
    <!--                    </p>-->
    <!--                    <p>-->
    <!--                        <span>Days</span>-->
    <!--                        <span class="value">5</span>-->
    <!--                    </p>-->
    <!--                    <p>-->
    <!--                        <span>Daily Income</span>-->
    <!--                        <span class="value">₦175000.00</span>-->
    <!--                    </p>-->
    <!--                    <p>-->
    <!--                        <span>Total Income</span>-->
    <!--                        <span class="value">₦875000.00</span>-->
    <!--                    </p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

</div>
<div class="product_list product_type_2 layui-hide">
    {volist name='product' id="v"}
    {eq name='v.type' value="2"}
    <div class="product_details">
        <div class="product_title">
            <div class="left">
                {$v.name} <img src="/public/site/img/lv{$v['level']}.svg">
            </div>
            <a href="/product_details/{$v.id}" class="right">Buy</a>
        </div>
        <div class="product_info">
            <div class="left">
                <img src="{$v.image}">
            </div>
            <div class="right">
                <p>
                    <span>Price</span>
                    <span class="price">{$system['currency']}{$v['price']}</span>
                </p>
                <p>
                    <span>Days</span>
                    <span class="value">{$v['revenue_days']}</span>
                </p>
                <p>
                    <span>Daily Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield'],2)}</span>
                </p>
                <p>
                    <span>Total Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield']*$v['revenue_days'],2)}</span>
                </p>
            </div>
        </div>
    </div>
    {/eq}
    {/volist}
</div>
<div class="product_list product_type_3 layui-hide">
    {volist name='product' id="v"}
    {eq name='v.type' value="3"}
    <div class="product_details">
        <div class="product_title">
            <div class="left">
                {$v.name} <img src="/public/site/img/lv{$v['level']}.svg">
            </div>
            <a href="/product_details/{$v.id}" class="right">
                Buy
            </a>
        </div>
        <div class="product_info">
            <div class="left">
                <img src="{$v.image}">
            </div>
            <div class="right">
                <p>
                    <span>Price</span>
                    <span class="price">{$system['currency']}{$v['price']}</span>
                </p>
                <p>
                    <span>Days</span>
                    <span class="value">{$v['revenue_days']}</span>
                </p>
                <p>
                    <span>Daily Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield'],2)}</span>
                </p>
                <p>
                    <span>Total Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield']*$v['revenue_days'],2)}</span>
                </p>
            </div>
        </div>
    </div>
    {/eq}
    {/volist}

</div>
<!--	底部内容-开始	  -->
{include file="index/common/service"}
<!--	底部内容-结束	  -->
<!--	底部内容-开始	  -->
{include file="index/common/footer_menu"}
<!--	底部内容-结束	  -->

<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script>
    layui.use(function(){
        var  $= layui.jquery;
        var  layer= layui.layer;

        $('.product_type').click(function () {
            var type = $(this).attr('data-type')
            $('.product_type').removeClass('active');
            $(this).addClass('active')
            $('.product_list').removeClass('layui-hide')
            $('.product_list').removeClass('layui-show')
            $('.product_list').addClass('layui-hide')
            $('.product_type_'+type).removeClass('layui-hide').addClass('layui-show')
        })

    });
</script>
</body>
</html>
