<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}</title>
    <link rel="stylesheet" href="/public/web/layui/css/layui.css">
    <link rel="stylesheet" href="/public/site/css/common.css">
</head>
<body style="background: #f1f1f1">
<div class="layui-panel layui-padding-3" style="top: 0;background: linear-gradient( 270deg, #FD7B0D 0%, #FEC46D 100%);border: none;">
    <a  href="javascript:history.back(-1)" style="color: #ffffff;font-weight: bold;background: none" ><i class="layui-icon layui-icon-left layui-font-20">&nbsp;&nbsp;{$title}</i></a>
</div>

<div class="layui-margin-3"  >

    <div class="layui-panel-window layui-font-16" style="border-radius: 8px;margin-bottom: 100px">
        {volist name="mail" id="v" }
            <div class="mail" data-content='{$v.contents|raw}' data-title='{$v.title}'>
                <h3>{$v.title}</h3>
                <p style="margin-top: 10px;font-size: 12px;color: #818393">{$v.create_time}</p>
                <hr>
            </div>
        {/volist}

    </div>

</div>


<!--	底部内容-开始	  -->
{include file="index/common/page_service"}
<!--	底部内容-结束	  -->
<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>


<script>
    layui.use(function(){
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        var slider = layui.slider;
        var element = layui.element;
        $('.mail').click(function(){
            var title = $(this).attr('data-title')
            var contents = $(this).attr('data-content')
            layer.open({
                type: 1,
                area: ['90%', '300px'], // 宽高
                title: false, // 不显示标题栏
                closeBtn: true,
                shadeClose: true, // 点击遮罩关闭层
                content: '<div style="padding: 16px;border-radius: 10px">' +
                    '<h3 class="layui-padding-1">'+title+'</h3>' +
                    '<p class="layui-padding-1 layui-font-16"> ' +
                    '      <textarea placeholder="" rows="10" class="layui-textarea" style="border: none">'+contents+'</textarea>\n' +
                    '</p>' +
                    '</div>'
            });
        })
    });
</script>
</body>
</html>
