<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}</title>
    <link rel="stylesheet" href="/public/web/layui/css/layui.css">
    <link rel="stylesheet" href="/public/site/css/common.css">
</head>
<body style="background: #F5F5F5">
<div class="user_header">
    <div class="user_info" >
        <div href="/info" class="user_avatar">
            <div class="info">
                <a href="/info"><img src="{$user.avatar}" style="width: 50px;height: 50px" class="layui-circle" ></a>

                <div style="padding-left: 10px">
                    <a href="/info" class="layui-font-18" style="line-height: 18px;font-weight: bold;color: #ffffff" >
                        <img src="/public/static/img/lv{$my_vip['level']??0}.svg"  style="width: 18px;height: 18px;display: inline" >
                        <p style="display: inline;font-family: PingFang SC, PingFang SC;font-weight: normal;font-size: 14px;color: #FFFFFF;line-height: 22px;">
                            {$user.nickname}
                        </p>
                    </a>
                    <p style="margin-top: 5px;font-family: PingFang SC, PingFang SC;font-weight: 400;font-size: 14px;color: #FFFFFF;line-height: 20px;">{:substr_replace($user['username'],'******',2,6)} ID:{:autoFillDigits($user['id'])}</p>
                </div>
            </div>

            <a href="/vip" style="line-height: 40px;" >
                <img src="/public/site/img/vip.png" style="width: 30px;height: 30px;display: inline" >
<!--                <i class="layui-icon layui-icon-right layui-font-16"></i>-->
            </a>
        </div>


    </div>
</div>
<div class="user_contents" id="user_contents" style="overflow: hidden">
    <div class="user_card">
        <div style="width: 100%">
            <p style="font-family: PingFang SC, PingFang SC;font-weight: 400;font-size: 15px;color: #3D3D3D;line-height: 24px;">
               {empty name="next_vip"}
                    Your VIP level is already at its highest level
                {else/}
                Vip Level Upgrade <span><span style="color:#FF8211 ">{$system['currency']}{$buy_money}</span>/{$system['currency']}{$next_vip.require_buy}</span>
                {/empty}
            </p>

            <div style="margin-top: 10px">
                <div style="display: flex;justify-content: left">
                    {empty name="next_vip"}
                        <div class="layui-progress layui-progress-big" style="width: 100%;margin: 5px;">
                            <div class="layui-progress-bar layui-bg-orange" style="background: linear-gradient( 270deg, #FD7B0D 0%, #FEC46D 100%);" lay-percent="100%" ></div>
                        </div>
                        <img src="/public/static/img/lv{$my_vip['level']}.svg" style="height: 30px;width: 30px">
                    {else/}
                        <img src="/public/static/img/lv{$my_vip['level']??0}.svg" style="height: 30px;width: 30px">
                        <div class="layui-progress layui-progress-big" style="width: 100%;margin: 5px;">
                            <div class="layui-progress-bar layui-bg-orange" style="background: linear-gradient( 270deg, #FD7B0D 0%, #FEC46D 100%);" lay-percent="30%" ></div>
                        </div>
                        <img src="/public/static/img/lv{$my_vip['level']+1}.svg" style="height: 30px;width: 30px">
                    {/empty}
                </div>
            </div>
        </div>
    </div>
    <div class="user_card">

        <div class="layui-row">
            <div class="layui-col-md4  layui-col-xs4 ">
                <div class="user-item">
                    <p class="item-title">{$system['currency']}{$user.balance_in??0.00}</p>
                    <p class="item-label">{:l('RECHARGE',$lang)}</p>
                </div>
            </div>
            <div class="layui-col-md4  layui-col-xs4 ">
                <div class="user-item">
                    <p class="item-title"><em class="currency">{$system['currency']}</em>{$user.balance_out??0.00}</p>
                    <p class="item-label">{:l('WITHDRAWAL',$lang)}</p>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs4 ">
                <div class="user-item">
                    <p class="item-title"><em class="currency">{$system['currency']}</em>{$reward_money??0.00}</p>
                    <p class="item-label">{:l('TASKS_REWARD',$lang)}</p>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs4">
                <div class=" user-item">
                    <p class="item-title"><em class="currency">{$system['currency']}</em>{$buy_money??0.00}</p>
                    <p class="item-label">{:l('BUY',$lang)}</p>
                </div>
            </div>
            <div class="layui-col-md4  layui-col-xs4 ">
                <div class="user-item">
                    <p class="item-title"><em class="currency">{$system['currency']}</em>{$order_settlement_money??0.00}</p>
                    <p class="item-label">{:l('PRODUCT_INCOME',$lang)}</p>
                </div>
            </div>



            <div class="layui-col-md4  layui-col-xs4 ">
                <div class="user-item">
                    <p class="item-title">{$order_num??0}</p>
                    <p class="item-label">{:l('ORDERS',$lang)}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="user_card">
       <div  style="display: flex;justify-content: space-between">
            <a href="/recharge"  style="width: 100%">
                <img src="/public/site/img/recharge.png" style="width: 20px;height: 20px;display: inline" >
                <p style="display: inline;font-size: 14px;line-height: 20px;">Recharge</p>
            </a>
           <p style="color: #BEBEBE;font-weight: bold;font-size:20px;line-height: 20px;"><i class="layui-icon layui-icon-right"></i></p>
       </div>
    </div>
    <div class="user_card">
        <div  style="display: flex;justify-content: space-between">
            <a href="/withdraw" style="width: 100%">
                <img src="/public/site/img/withdrawal.png" style="width: 20px;height: 20px;display: inline" >
                <p style="display: inline;font-size: 14px;line-height: 20px;">Withdrawal</p>
            </a>
            <p style="color: #BEBEBE;font-weight: bold;font-size:20px;line-height: 20px;"><i class="layui-icon layui-icon-right"></i></p>
        </div>
    </div>
    <div class="user_card">
        <div  style="display: flex;justify-content: space-between">
            <a href="/orders" style="width: 100%">
                <img src="/public/site/img/order.png" style="width: 20px;height: 20px;display: inline" >
                <p style="display: inline;font-size: 14px;line-height: 20px;">Order</p>
            </a>
            <p style="color: #BEBEBE;font-weight: bold;font-size:20px;line-height: 20px;"><i class="layui-icon layui-icon-right"></i></p>
        </div>
    </div>
    <div class="user_card">
        <div  style="display: flex;justify-content: space-between">
            <a href="/mail" style="width: 100%">
                <img src="/public/site/img/mail.png" style="width: 20px;height: 20px;display: inline" >
                <p style="display: inline;font-size: 14px;line-height: 20px;">Mail</p>
            </a>
            <p style="color: #BEBEBE;font-weight: bold;font-size:20px;line-height: 20px;"><i class="layui-icon layui-icon-right"></i></p>
        </div>
    </div>
    <div class="user_card">
        <div  style="display: flex;justify-content: space-between">
            <a href="/vip" style="width: 100%">
                <img src="/public/site/img/vip.png" style="width: 20px;height: 20px;display: inline" >
                <p style="display: inline;font-size: 14px;line-height: 20px;">Vip</p>
            </a>
            <p style="color: #BEBEBE;font-weight: bold;font-size:20px;line-height: 20px;"><i class="layui-icon layui-icon-right"></i></p>
        </div>
    </div>
    <div class="user_card">
        <div  style="display: flex;justify-content: space-between">
            <a href="/about" style="width: 100%">
                <img src="/public/site/img/about.png" style="width: 20px;height: 20px;display: inline" >
                <p style="display: inline;font-size: 14px;line-height: 20px;">About</p>
            </a>
            <p style="color: #BEBEBE;font-weight: bold;font-size:20px;line-height: 20px;"><i class="layui-icon layui-icon-right"></i></p>
        </div>
    </div>
    <div class="user_card">
        <div  style="display: flex;justify-content: space-between">
            <a href="/balanceDetails" style="width: 100%">
                <img src="/public/site/img/bill.png" style="width: 20px;height: 20px;display: inline" >
                <p style="display: inline;font-size: 14px;line-height: 20px;">Bill</p>
            </a>
            <p style="color: #BEBEBE;font-weight: bold;font-size:20px;line-height: 20px;"><i class="layui-icon layui-icon-right"></i></p>
        </div>
    </div>
    <h2 style="margin-bottom: 10px">set up</h2>
    <div class="user_card">
        <div  style="display: flex;justify-content: space-between">
            <a href="/info" style="width: 100%">
                <img src="/public/site/img/info.png" style="width: 20px;height: 20px;display: inline" >
                <p style="display: inline;font-size: 14px;line-height: 20px;">Info</p>
            </a>
            <p style="color: #BEBEBE;font-weight: bold;font-size:20px;line-height: 20px;"><i class="layui-icon layui-icon-right"></i></p>
        </div>
    </div>
    <div class="user_card">
        <div  style="display: flex;justify-content: space-between">
            <a href="/tradePassword" style="width: 100%">
                <img src="/public/site/img/trade_pass.png" style="width: 20px;height: 20px;display: inline" >
                <p style="display: inline;font-size: 14px;line-height: 20px;">Trade Password</p>
            </a>
            <p style="color: #BEBEBE;font-weight: bold;font-size:20px;line-height: 20px;"><i class="layui-icon layui-icon-right"></i></p>
        </div>
    </div>
    <div class="user_card">
        <div  style="display: flex;justify-content: space-between">
            <a href="/password" style="width: 100%">
                <img src="/public/site/img/password.png" style="width: 20px;height: 20px;display: inline" >
                <p style="display: inline;font-size: 14px;line-height: 20px;">Password</p>
            </a>
            <p style="color: #BEBEBE;font-weight: bold;font-size:20px;line-height: 20px;"><i class="layui-icon layui-icon-right"></i></p>
        </div>
    </div>
    <div class="user_card">
        <div  style="display: flex;justify-content: space-between;width: 100%">
            <a href="/logout" style="width: 100%">
                <img src="/public/site/img/logout.png" style="width: 20px;height: 20px;display: inline" >
                <p style="display: inline;font-size: 14px;line-height: 20px;">Logout</p>
            </a>
            <p style="color: #BEBEBE;font-weight: bold;font-size:20px;line-height: 20px;"><i class="layui-icon layui-icon-right"></i></p>
        </div>
    </div>

</div>


<!--	底部内容-开始	  -->
{include file="index/common/footer_menu"}
<!--	底部内容-结束	  -->

<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>

<script>
    layui.use(function(){
        var  $= layui.jquery;
        var  layer= layui.layer;
        var flow = layui.flow;
        $('#copy').click(function () {
            var copyText = document.getElementById("copyTxt");
            copyText.select(); // 选择对象
            document.execCommand("Copy");
            layer.msg('copy success');
        })
        $('#poster').click(function () {
            // var json_data =JSON.parse( "{:json_encode($posters)}");
            var json_data ={:json_encode($posters)};
            layer.photos({
                photos: {
                    "title": "Photos Demo",
                    "start": 0,
                    "data": json_data
                }
            });
        })
        $('.recharge').click(function () {
            layer.msg('Please contact customer service to recharge');
        })
    });
</script>
</body>
</html>
