<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}</title>
    <link rel="stylesheet" href="/public/web/layui/css/layui.css">
    <link rel="stylesheet" href="/public/web/css/common.css">
    <style>
        .user-item{ height: 40px;padding: 5px 5px;}
        .user-item .item-title{ color: #0e0e0e;font-size: 14px;font-weight: bold;}
        .user-item .item-title-strong{ color: #003b87;font-weight: bold;font-size: 16px}
        .user-item .item-value{ color: #0e0e0e;}
        .user-nav {text-align: center;padding: 10px;}
        .user-nav .layui-icon {font-size: 30px}
        .horizontal-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex; /* 使用flexbox布局 */
        }

        .horizontal-list li {
            flex: 1; /* 每个列表项占据等分的空间 */
            display: flex; /* 子元素水平排列 */
            align-items: center; /* 垂直居中 */
            margin-right: 10px; /* 列表项之间的间隔 */
        }

        .horizontal-list li img {
            width: 40px; /* 图片宽度 */
            height: auto; /* 图片高度自适应 */
            margin-right: 10px; /* 图片与文本之间的间隔 */
        }
    </style>
</head>
<body >

<div >
    <div class="">
        <div class="user-header layui-bg-blue layui-padding-3" style="position: relative;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;background: #FFC800!important">
            <div style="float: left" >
                <a href="/info">
                    <img src="{$user.avatar}" style="width: 50px;height: 50px" class="layui-circle">
                </a>

            </div>
            <div style="float: left;padding-left: 10px;" >
                <a href="/vip" class="layui-font-18" style="line-height: 18px;font-weight: bold;color: #ffffff" >
                    <img src="/public/static/img/lv{$my_vip['level']??0}.svg" style="width: 18px;height: 18px;display: inline" class="layui-circle">
                   <p style="display: inline">{$user.nickname}</p>
                </a>
                <p style="margin-top: 5px;">{:substr_replace($user['username'],'****',2,$length)}</p>
            </div>

            <div style="clear: both" ></div>
            <div  style="display: flex;justify-content: space-between;padding: 20px;color:#003b87;background: #f1f1f1;border-radius: 10px;">

                <div style="text-align: center;">
                    <h3>{$invitation_num}</h3>
                    <p>{:l('ACTIVATE_NUMBER',$lang)}</p>
                </div>

                <div style="text-align: center;" >
                    <h3>{$system['currency']}{$buy_money}</h3>
                    <p>{:l('BUY_MONEY',$lang)}</p>
                </div>
                <div style="text-align: center;">
                    <h3>{$my_vip['name']??'VIP 0'}</h3>
                    <p>{:l('LEVEL',$lang)}</p>
                </div>
            </div>
<!--            <div style="height: 30px;position: relative;margin-top: 20px;margin-bottom: 20px;">-->

<!--                <div style="float: left" >-->
<!--                    <img src="/public/static/img/lv7.svg" style="width: 40px;height: 40px" class="layui-circle">-->
<!--                </div>-->
<!--                <div style="width: auto">-->
<!--                    <div style="padding-left: 10px">-->
<!--                        <p class="layui-font-20" style="font-weight: bold">VIP7</p>-->
<!--                        <span >1500/909999</span>-->
<!--                    </div>-->
<!--                    <div style="width: 100%">-->
<!--                        <div class="layui-progress" style="width: 100%;float: left;display: inline;text-align: right">-->
<!--                            <div class="layui-progress-bar layui-bg-orange" lay-percent="30%" ></div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

    <div class="layui-padding-3" style="position: relative;top:0px;padding-top: 0px !important;">

        <div class="layui-panel layui-padding-2" style="margin-top: 10px;border-radius: 20px; text-align: center">

            <div class="layui-row  layui-font-green">

                <div class="layui-col-md4  layui-col-xs4 ">
                    <div class="user-item">
                        <p class="item-title"><em class="currency">{$system['currency']}</em>{$user.balance_in??0.00}</p>
                        <p >{:l('RECHARGE',$lang)}</p>
                    </div>
                </div>
                <div class="layui-col-md4  layui-col-xs4 ">
                    <div class="l user-item">
                        <p class="item-title"><em class="currency">{$system['currency']}</em>{$user.balance_out??0.00}</p>
                        <p >{:l('WITHDRAWAL',$lang)}</p>
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs4">
                    <div class=" user-item">
<!--                        item-title-strong-->
                        <p class="item-title"><em class="currency">{$system['currency']}</em>{$buy_money??0.00}</p>
                        <p >{:l('BUY',$lang)}</p>
                    </div>
                </div>
                <div class="layui-col-md4 layui-col-xs4 ">
                    <div class="user-item">
                        <p class="item-title"><em class="currency">{$system['currency']}</em>{$reward_money??0.00}</p>
                        <p >{:l('TASKS_REWARD',$lang)}</p>
                    </div>
                </div>
                <div class="layui-col-md4  layui-col-xs4 ">
                    <div class="user-item">
                        <p class="item-title"><em class="currency">{$system['currency']}</em>{$order_settlement_money??0.00}</p>
                        <p >{:l('PRODUCT_INCOME',$lang)}</p>
                    </div>
                </div>
                <div class="layui-col-md4  layui-col-xs4 ">
                    <div class="user-item">
                        <p class="item-title">{$order_num??0}</p>
                        <p >{:l('ORDERS',$lang)}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row" style="margin-top: 20px">
            <div class="layui-col-md3 layui-col-xs3">
                <div class="user-nav" style="text-align: center" >
                    <a class="nav-href layui-font-green">
                        <i class="layui-icon layui-icon-gift"></i>
                        <p class="nav-href layui-font-green">{:l('RECHARGE',$lang)}</p>
                    </a>
                </div>
            </div>

            <div class="layui-col-md3 layui-col-xs3">
                <div class="user-nav" style="text-align: center" >
                    <a class="nav-href layui-font-green" href="/withdraw">
                        <i class="layui-icon layui-icon-upload-drag"></i>
                        <p class="nav-href layui-font-green">{:l('WITHDRAWAL',$lang)}</p>
                    </a>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-xs3">
                <div class="user-nav" style="text-align: center" >
                    <a class="nav-href layui-font-green" href="/orders">
                        <i class="layui-icon layui-icon-list"></i>
                        <p class="nav-href layui-font-green">{:l('ORDERS',$lang)}</p>
                    </a>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-xs3">
                <div class="user-nav" style="text-align: center" >
                    <a class="nav-href layui-font-green" href="/mail">
                        <i class="layui-icon layui-icon-email"></i>
                        <p class="nav-href layui-font-green">{:l('MAIL',$lang)}</p>
                    </a>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-xs3">
                <div class="user-nav" style="text-align: center" >
                    <a class="nav-href layui-font-green" href="/info">
                        <i class="layui-icon layui-icon-username"></i>
                        <p class="nav-href layui-font-green">{:l('INFO',$lang)}</p>
                    </a>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-xs3">
                <div class="user-nav" style="text-align: center" >
                    <a class="nav-href layui-font-green" href="/password">
                        <i class="layui-icon layui-icon-key"></i>
                        <p class="nav-href layui-font-green" >{:l('LOGIN_PASSWORD',$lang)}</p>
                    </a>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-xs3">
                <div class="user-nav" style="text-align: center" >
                    <a class="nav-href layui-font-green"  href="/tradePassword">
                        <i class="layui-icon layui-icon-password"></i>
                        <p class="nav-href layui-font-green">{:l('TRADE_PASSWORD',$lang)}</p>
                    </a>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-xs3">
                <div class="user-nav" style="text-align: center" >
                    <a class="nav-href layui-font-green" href="/about">
                        <i class="layui-icon layui-icon-about"></i>
                        <p class="nav-href layui-font-green" >{:l('ABOUT',$lang)}</p>
                    </a>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-xs3">
                <div class="user-nav" style="text-align: center" >
                    <a class="nav-href layui-font-green" href="/balanceDetails">
                        <i class="layui-icon layui-icon-survey"></i>
                        <p class="nav-href layui-font-green" >{:l('BILL',$lang)}</p>
                    </a>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-xs3">
                <div class="user-nav" style="text-align: center" >
                    <a class="nav-href layui-font-green" href="/vip">
                        <i class="layui-icon layui-icon-diamond"></i>
                        <p class="nav-href layui-font-green" >VIP</p>
                    </a>
                </div>
            </div>
            <div class="layui-col-md3 layui-col-xs3">
                <div class="user-nav" style="text-align: center;color: red" >
                    <a class="nav-href layui-font-red" href="/logout" style="color: #ff5722">
                        <i class="layui-icon layui-icon-logout"></i>
                        <p class="nav-href">{:l('LOGOUT',$lang)}</p>
                    </a>
                </div>
            </div>

        </div>
        <div  style="margin-top: 30px">
            <h2 style="margin-bottom: 20px">{:l('ONLINE_SERVICE',$lang)}</h2>
            <div  style="overflow:auto;overflow-y: hidden">
                <a href="{$system['customer_config']['service_line']}">
                <div style="float: left;height: 40px;line-height: 40px;" >
                   <i class="layui-icon layui-icon-service" style="font-size: 30px"></i>
                </div>
                <div style="float: left;padding-left: 10px" >
                    <h3 class="layui-font-14" >{:l('WORKING_HOURS',$lang)}</h3>
                    <p style="color: #5f5f5f">{:l('AM',$lang)}10:00 至 {:l('PM',$lang)}06:00</p>
                </div>

                <div style="float: right;height: 40px;line-height: 40px" >
                    <i class="layui-icon layui-icon-right" style="font-size: 20px"></i>
                </div>
                </a>
            </div>
            <div style="clear: both"></div>
        </div>



    </div>
</div>


<!--	底部内容-开始	  -->
{include file="index/common/footer_nav"}
<!--	底部内容-结束	  -->

<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>

<script src="/public/web/js/fixbar.js"></script>
<script>
    layui.use(function(){
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        var util = layui.util;
        var element = layui.element;
        element.on('tab(nav)', function(data){
            var id = this.getAttribute('lay-id')
            $('.product_type').removeClass('layui-show').removeClass('layui-hide').addClass('layui-hide');
            $('.product_type_'+id).removeClass('layui-hide').addClass('layui-show');
            console.log(this); //当前Tab标题所在的原始DOM元素
            console.log(data.index); //得到当前Tab的所在下标
            console.log(data.elem); //得到当前的Tab大容器
        });

    });
</script>
</body>
</html>
