<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}</title>
    <link rel="stylesheet" href="/public/web/layui/css/layui.css">
    <link rel="stylesheet" href="/public/site/css/common.css">
</head>
<body style="background: #f1f1f1">
<div class="layui-panel layui-padding-3" style="top: 0;background: linear-gradient( 270deg, #FD7B0D 0%, #FEC46D 100%);border: none;">
    <a  href="javascript:history.back(-1)" style="color: #ffffff;font-weight: bold"><i class="layui-icon layui-icon-left layui-font-20">&nbsp;&nbsp;{$title}</i></a>
</div>

<div class="layui-margin-3"  >
    <div class="layui-panel-window layui-font-16" style="border-radius: 8px;">
        <form class="layui-form">
            <div class="demo-login-container">
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <div class="layui-input-wrap">
                                <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-vercode"></i>
                                </div>
                                <input type="text" name="code" id="code" value="" lay-verify="required" placeholder="{eq name='lang' value='Cn'}手机号验证码{else/}Mobile verification code{/eq}"  autocomplete="off" class="layui-input" >
                            </div>
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 11px;">
                                <button type="button" class="layui-btn layui-btn-fluid layui-btn-primary" id="getCode" style="color: #0e90d2 " lay-on="reg-get-vercode">{eq name="lang" value="Cn"}Send{else/}send code{/eq}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-password"></i>
                        </div>
                        <input type="password" name="trade_password"  value="" lay-verify="required" placeholder="{eq name='lang' value='Cn'}交易密码{else/}trade password{/eq}" lay-reqtext="trade password" autocomplete="off" class="layui-input" lay-affix="eye">
                    </div>
                </div>


                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-danger layui-btn-lg layui-btn-fluid layui-btn-radius" lay-submit lay-filter="trade_password" style="background: linear-gradient( 270deg, #FD7B0D 0%, #FEC46D 100%);">{:l('UPDATE_TRADE_PASSWORD',$lang)}</button>
                </div>

            </div>
        </form>

    </div>
    <div style="border-radius: 8px;background: #ffffff;margin-top: 20px;margin-bottom: 100px;padding: 20px">
        <div style="font-weight: 400;font-size: 14px;color: #666666;">
            <h2 style="border-left: 5px solid #FD7B0DFF;padding-left: 10px">explain</h2>
            <p style="padding-bottom: 10px;padding-top: 10px">
                1. The transaction password is an important credential for you to withdraw funds, add bank accounts, and delete bank accounts. Please ensure proper storage.
            </p>
            <p style="padding-bottom: 10px">
                2. Do not set the transaction password to match the login password.
            </p>
            <p style="padding-bottom: 10px">
                3. If you forget your transaction password, please reset it through your mobile OTP verification code:
            </p>

        </div>
    </div>
</div>

{include file="index/common/page_service"}

<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>


<script>
    layui.use(function(){
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate;
        var slider = layui.slider;
        var element = layui.element;

        // 提交事件
        form.on('submit(trade_password)', function(data){
            var data = data.field; // 获取表单字段值
            $.post('/tradePassword',data,function (res) {
                console.log(res)
                if(res.status==1){
                    layer.msg(res.msg,{time:3000,end:function () {
                            window.location.href='/my';
                        }});

                }else{
                    layer.msg(res.msg);
                }
            })
            return false; // 阻止默认 form 跳转
        });
        var timeLeft = 120; // 倒计时时间，单位为秒
        var timer;
        $('#getCode').click(function() {
            $('#getCode').attr('disabled', true); // 禁用按钮，防止重复点击
            $.post('/sendSms',{'type':'register','tel':'{$user["username"]}'},function (res) {
                layer.msg(res.msg);
                if(res.status==1){

                    $('#getCode').text(timeLeft + 's');
                    setTimeout(function () {
                        $("#code").val(res.result.otp)
                        layer.open({
                            type: 1,
                            area: ['100%', 'auth'], // 宽高
                            title: false, // 不显示标题栏
                            closeBtn: 0,
                            offset: 't',
                            anim: 1,
                            time:3000,
                            shade:0,
                            shadeClose: true, // 点击遮罩关闭层
                            content: '<div style="padding: 20px;background:#16b777;color: #FFFFFF ">YOU NEED TO ENSURE THAT YOUR PHONENUMBER IS CORRECT, AND TO WITHDRAWFUNDS, YOU NEED TO COLLECT AN OTPVERIFICATION CODE ON YOUR PHONE</div>'
                        });
                    },3000)

                    timer = setInterval(function() {
                        timeLeft--;
                        $('#getCode').text(timeLeft + 's');

                        if (timeLeft <= 0) {
                            clearInterval(timer);
                            $('#getCode').attr('disabled', false).text('Send');
                        }
                    }, 1000);
                }else{
                    $('#getCode').attr('disabled', false);
                }
            })

        });

    });
</script>
</body>
</html>
