<link rel="stylesheet" href="/public/nepadmin/css/formSelects.css" media="all">
<style>
    .xm-select-dl{top:unset !important;}
    .layui-table-cell {  padding: 0 5px;  }
</style>
<div class="layui-fluid" id="VIEW-notice-index-table" lay-title="通知公告列表">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">筛选数据</div>
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form" lay-filter="search-notice" id="search-notice">
                        <input type="hidden" name="order" id="order" value="id desc">
                        <div class="layui-input-inline" style="width: 120px">
                            <select name="is_publish">
                                <option value="">是否发布</option>
                                <option value="1">已发布</option>
                                <option value="2">未发布</option>
                            </select>
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <select name="is_alert">
                                <option value="">是否弹窗</option>
                                <option value="1">弹窗</option>
                                <option value="2">不弹窗</option>
                            </select>
                        </div>

                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="title" placeholder="公告标题">
                        </div>
                        <div class="layui-input-inline">
                            <div class="layui-btn layui-btn " lay-submit lay-filter="search-notice">立即搜索</div>
                            <button type="reset" class="layui-btn   layui-btn-primary">重置</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body nepadmin-pad-l10 nepadmin-pad-r10">
                    
                    <table id="notice-index-table" lay-filter="notice-index-table"></table>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/html" id="Notice_toolbar">
    <div class="layui-btn-container">
        <div class="layui-btn layui-btn-sm layui-btn-danger table-action" lay-event="del">批量删除</div>
        <div class="layui-btn layui-btn-sm table-action" lay-event='add' >添加通知</div>
        <div class="layui-btn layui-btn-sm layui-btn-primary table-action" lay-event="refresh">刷新页面</div>
    </div>
</script>
<!-- 用户列表bar tool -->
<script type="text/html" id="notice_bar">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
    </div>
</script>


<script>
    layui.use(['admin', 'table', 'form', 'dropdown','xmSelect', 'jquery'], function (admin, table, form, dropdown, $) {
        var $ = layui.jquery;
        var xmSelect = layui.xmSelect;
        var view = $('#VIEW-notice-index-table');
        var tableFilter = 'notice-index-table';
        form.render();
        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: tableFilter,
            api: 'NoticeLists',
            autoSort: false, //禁用前端自动排序。注意：该参数为 layui 2.4.4 新增
            page: true,
            cols: [[
                { title: '', type: 'checkbox', fixed: true, width: 60 },
                { title: 'ID', field: 'id', fixed: true,width: 60, sort: true},
                { title: '图片', field: 'image',width: 40,templet: function(d){
                        return d.image?'<img src="'+d.image+'" width="30px" height="30px"/>':d.image;
                    }},
                { title: '是否弹窗', field: 'type',width: 80,templet: function(d){
                        return d.is_alert==1?'弹窗':'不弹窗';
                    }},
                { title: '标题', field: 'title',minWidth: 120},
                { title: '内容', field: 'contents'},
                { title: '作者', field: 'author',width: 120},
                { title: '发布状态', field: 'is_publish',width: 80,templet: function(d){
                        return d.is_publish==1?'已发布':'未发布';
                    }},
                { title: '最后更新时间', field: 'update_time',width: 150},
                { title: '发布时间', field: 'create_time',width: 150},
                {width:120, title: '操作', fixed: 'right', toolbar:'#notice_bar'},
            ]],
            toolbar: '#Notice_toolbar',
        });


        table.on('toolbar('+tableFilter+')', function(obj){
            var checkStatus = table.checkStatus(tableFilter)
                ,data = checkStatus.data;
            var ids = [];
            $.each(data,function(i){ ids[i] = data[i]['id']; });
            var checkedCount = table.checkStatus(tableFilter).data.length;

            switch (obj.event) {
                case 'add':
                    admin.popup({
                        title:'新增公告',
                        //网页地址或本地目录
                        url:'/notice/add',
                        area: ['765px', '90%'],
                        //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                        data:{},
                        end:function () {
                            table.reload( tableFilter );
                        }
                    })
                    break;
                case   'refresh':
                    layui.view.tab.refresh();
                    break;
                case   'del':
                    if (checkedCount == 0) {
                        layer.msg('请先选择要删除的公告');
                    } else {
                        layer.open({
                            title: '温馨提示'
                            ,content: '确定删除选中公告？删除后数据将不可恢复！'
                            ,btn: ['确认','取消']
                            ,yes:function () {
                                admin.post({
                                    api: 'NoticeDel',
                                    async: false,
                                    data:{ids:ids},
                                    success:function (res) {
                                        if(res.status==1){
                                            admin.modal.success(res.msg,{end:function () {
                                                    table.reload( tableFilter );
                                                }})
                                        }else{
                                            admin.modal.warn(res.msg)
                                        }

                                    }
                                });
                            }
                        });

                    }
                    break;
            }
        })


        // 监听筛选用户
        form.on('submit(search-notice)', function (data) {
            table.reload( tableFilter, {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        //监听工具条
        table.on('tool(notice-index-table)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;
            if(layEvent === 'detail'){
                //do somehing
            } else if(layEvent === 'del'){
                layer.open({
                    title: '温馨提示'
                    ,content: '确定删除此通知？删除后数据将不可恢复！'
                    ,btn: ['确认','取消']
                    ,yes:function () {
                        admin.post({
                            api: 'NoticeDel',
                            async: false,
                            data:{ids:[data.id]},
                            success:function (res) {
                                if(res.status==1){
                                    admin.modal.success(res.msg,{end:function () {
                                            table.reload( tableFilter);
                                        }})
                                }else{
                                    admin.modal.warn(res.msg)
                                }

                            }
                        });
                    }
                    ,success: function(layero, index){
                        this.enterEsc = function(event){
                            if(event.keyCode === 13){
                                admin.post({
                                    api: 'NoticeDel',
                                    async: false,
                                    data:{ids:[data.id]},
                                    success:function (res) {
                                        if(res.status==1){
                                            admin.modal.success(res.msg,{end:function () {
                                                    table.reload( tableFilter);
                                                }})
                                        }else{
                                            admin.modal.warn(res.msg)
                                        }

                                    }
                                });
                                return false; //阻止系统默认回车事件
                            }
                        };
                        $(document).on('keydown', this.enterEsc);	//监听键盘事件，关闭层
                    }
                    ,end: function(){
                        $(document).off('keydown', this.enterEsc);	//解除键盘关闭事件
                    }
                });
            } else if(layEvent === 'edit'){
                admin.popup({
                    title:'编辑通知',
                    //网页地址或本地目录
                    url:'/notice/edit',
                    area: ['765', '90%'],
                    //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                    data:{data:data},
                    end:function () {
                        table.reload( tableFilter);
                    }
                })
            }
        });

    })
</script>