<div class="layui-fluid"id="League-add" lay-title="新增">
    <div class="layui-row layui-col-space15" style="margin-top: 20px">
        <form class="layui-form" action="" lay-filter="add-League-element">

            <div class="layui-form-item">
                <label class="layui-form-label">国家编码</label>
                <div class="layui-input-block">
                    <input type="text" name="cc" lay-verify="required" placeholder="国家编码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联赛名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" placeholder="联赛名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">积分表</label>
                <div class="layui-input-block">
                    <input type="radio" name="has_leaguetable" value="1" title="有" >
                    <input type="radio" name="has_leaguetable" value="0" title="无" checked="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">最佳名单</label>
                <div class="layui-input-block">
                    <input type="radio" name="has_toplist" value="1" title="有" >
                    <input type="radio" name="has_toplist" value="0" title="无" checked="">
                </div>
            </div>

           
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add-League-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect','upload'], function (admin, table, form) {
        var $ = layui.jquery;
        var form =layui.form;
        var view = $('#League-add');
        var element = layui.element;


        form.render(null, 'add-League-element');
        element.render('breadcrumb', 'breadcrumb');
        var index = parent.layer.index
        form.on('submit(add-League-element)', function (data) {
            admin.post({
                api: 'LeagueAdd',
                async: false,
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }
                }
            });
            return false;
        });



    });
</script>