<link rel="stylesheet" href="/public/nepadmin/css/formSelects.css" media="all">
<style>
    .xm-select-dl{top:unset !important;}
    .layui-table-cell {  padding: 0 5px;  }
</style>
<div class="layui-fluid" id="VIEW-OrderSettlement-list-table" lay-title="产品订单结算列表">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">筛选数据</div>
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form" lay-filter="search_OrderSettlement" id="search_OrderSettlement">
                        <input type="hidden" name="OrderSettlement" id="OrderSettlement" value="id desc">
                        <div class="layui-input-inline" style="width: 140px">
                            <div id="order_settlement_search_agent_id"  class="xm-select-demo"></div>
                        </div> 
                        <div class="layui-input-inline" style="width: 140px">
                            <div id="order_settlement_search_vip_id"  class="xm-select-demo"></div>
                        </div>
                        <div class="layui-input-inline"  style="width: 100px">
                            <select name="type">
                                <option value="">订单类型</option>
                                <option value="1">购买</option>
                                <option value="2">赠送</option>
                            </select>
                        </div>
                        <div class="layui-input-inline"  style="width: 100px">
                            <select name="product_type">
                                <option value="">产品类型</option>
                                <option value="1">到期收益型</option>
                                <option value="2">日收益型</option>
                                <option value="3">活动产品</option>
                            </select>
                        </div>
                        <div class="layui-input-inline"  style="width: 100px">
                            <select name="settlement_status">
                                <option value="">结算状态</option>
                                <option value="1">已入账</option>
                                <option value="2">未入账</option>
                            </select>
                        </div>
                        <div class="layui-input-inline"  style="width: 100px">
                            <select name="status">
                                <option value="">订单状态</option>
                                <option value="1">正常</option>
                                <option value="2">已作废</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="product_name" placeholder="产品名称">
                        </div>
                        <div class="layui-input-inline" style="width: 100px">
                            <input type="number" class="layui-input" name="user_id" placeholder="客户ID">
                        </div>
                        <div class="layui-input-inline"  style="width: 100px">
                            <input type="text" class="layui-input" name="username" placeholder="用户昵称或账号">
                        </div>
                        <div class="layui-input-inline"  style="width: 100px">
                            <input type="number" class="layui-input" name="order_id" placeholder="订单ID">
                        </div>
                        <div class="layui-input-inline">
                            <div class="layui-btn layui-btn " lay-submit lay-filter="search-OrderSettlement">立即搜索</div>
                            <button type="reset" class="layui-btn   layui-btn-primary">重置</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md12" >
            <div class="layui-card">

                <div class="layui-card-body nepadmin-pad-l10 nepadmin-pad-r10">
                    <table id="OrderSettlement-list-table" lay-filter="OrderSettlement-list-table"></table>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/html" id="OrderSettlement_toolbar">
    <div class="layui-btn-container">
        <div class="layui-btn layui-btn-sm layui-btn-danger table-action" data-siam-auth="OrderSettlementCancel"  lay-event="cancel">批量作废</div>
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="OrderSettlementRestore"  lay-event="restore">批量恢复</div>
        <div class="layui-btn layui-btn-sm layui-btn-primary table-action" lay-event="refresh">刷新页面</div>
    </div>
</script>
<!-- 用户列表bar tool -->
<script type="text/html" id="OrderSettlement_bar">
    <div class="layui-btn-group">
        {{# if( layui.siam.vifAuth('OrderSettlementCancel') ){}}
            {{# if( d.status==1 ){}}
                <a class="layui-btn layui-btn-sm layui-btn-danger"  lay-event="cancel">作废</a>
            {{#  } }}
        {{#  } }}
        {{# if( layui.siam.vifAuth('OrderSettlementCancel') ){}}
            {{# if( d.status==-1 ){}}
            <a class="layui-btn layui-btn-sm"  lay-event="restore">恢复</a>
            {{#  } }}
        {{#  } }}

    </div>
</script>

<script type="text/html" id="OrderSettlementShowTpl">
    <input type="checkbox" name="is_show" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="is_show" {{ d.is_show == 1 ? 'checked' : '' }}>
</script>

<script>
    layui.use(['admin', 'table', 'form', 'dropdown','xmSelect', 'jquery'], function (admin, table, form, dropdown, $) {
        var $ = layui.jquery;
        var xmSelect = layui.xmSelect;
        var view = $('#VIEW-OrderSettlement-list-table');
        var tableFilter = 'OrderSettlement-list-table';
        form.render();
        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: tableFilter,
            api: 'OrderSettlementLists',
            page: true,
            totalRow: true,
            cols: [[
                { title: '', type: 'checkbox', fixed: true, width: 40 },
                { title: 'ID', field: 'id', fixed: true, width: 60 },
                { title: '日期', field: 'date',  width: 90 },

                { title: '客户账户', field: 'username',minWidth: 200,templet: function(d){
                        return '【'+d.user_id+'】'+d.username+'【'+d.nickname+'】'
                    }},
                { title: '产品名称', field: 'product_name',minWidth:120},
                { title: '产品订单ID', field: 'order_id',width:120},
                { title: '产品类型', field: 'product_type',  minWidth: 80 ,templet:function (d) {
                        switch (d.product_type){
                            case 1:return '到期收益型';break;
                            case 2:return '日收益型';break;
                            case 3:return '活动产品';break;
                            default :return '未知'
                        }
                    }},
                { title: 'VIP级别', field: 'vip',minWidth:80},
                { title: '结算金额', field: 'settle_money', sort: true,totalRow: true,minWidth: 110},

                { title: '订单状态', field: 'status',width: 100,templet:function (d) {
                    return d.status==1?'<span class="layui-badge layui-bg-blue">正常</span>':'<span class="layui-badge layui-bg-red">已作废</span>'
                }},
                { title: '结算状态', field: 'settle_status',width: 100,templet:function (d) {
                        return d.settle_status==1?'<span class="layui-badge layui-bg-blue">已入账</span>':'<span class="layui-badge layui-bg-gray">未入账</span>'
                 }},
                { title: '入账时间', field: 'settle_time',width: 152},
                { title: '创建时间', field: 'create_time',width: 152},
                {width:60, title: '操作', fixed: 'right', toolbar:'#OrderSettlement_bar'},

            ]],
            toolbar: '#OrderSettlement_toolbar',
        });
        // 单元格编辑后的事件
        table.on('edit('+tableFilter+')', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            admin.post({
                api: 'OrderSettlementSort',
                async: false,
                data:{id:data.id,field:field,value:value},
                success:function (res) {
                    layer.msg(res.msg)
                    if(res.status==0){ table.reload( tableFilter );}
                }
            });

        });

        table.on('toolbar('+tableFilter+')', function(obj){

            var type = $(this).attr('data-type')
            var checkStatus = table.checkStatus(tableFilter)
                ,data = checkStatus.data;
            var ids = [];
            $.each(data,function(i){ ids[i] = data[i]['id']; });
            var checkedCount = table.checkStatus(tableFilter).data.length;

            switch (obj.event) {
                case 'add':
                    admin.popup({
                        title:'新增产品',
                        //网页地址或本地目录
                        url:'/OrderSettlement/add',
                        area: ['800px', '90%'],
                        //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                        data:{},
                        end:function () {
                            table.reload( tableFilter );
                        }
                    })
                    break;
                case   'refresh':
                    layui.view.tab.refresh();
                    break;
                case 'cancel':
                        if (checkedCount == 0) {
                            layer.msg('请先选择要作废的结算订单');
                        } else {
                            layer.open({
                                title: '温馨提示'
                                ,content: '确定作废选中结算订单？作废后的订单将不会产生收益！'
                                ,btn: ['确认','取消']
                                ,yes:function () {
                                    admin.post({
                                        api: 'OrderSettlementCancel',
                                        async: false,
                                        data:{ids:ids},
                                        success:function (res) {
                                            if(res.status==1){
                                                admin.modal.success(res.msg,{end:function () {
                                                     table.reload( tableFilter );
                                                }})
                                            }else{
                                                admin.modal.warn(res.msg)
                                            }

                                        }
                                    });
                                }
                            });

                        }
                    break;
                case   'restore':
                    if (checkedCount == 0) {
                        layer.msg('请先选择要恢复的结算订单');
                    } else {
                        layer.open({
                            title: '温馨提示'
                            ,content: '确定恢复选中结算订单？恢复后的订单将产生收益！'
                            ,btn: ['确认','取消']
                            ,yes:function () {
                                admin.post({
                                    api: 'OrderSettlementRestore',
                                    data:{ids:ids},
                                    success:function (res) {
                                        if(res.status==1){
                                            admin.modal.success(res.msg,{end:function () {
                                                    table.reload( tableFilter );
                                                }})
                                        }else{
                                            admin.modal.warn(res.msg)
                                        }

                                    }
                                });
                            }
                        });

                    }
                    break;
            }
        })
      
        // 监听筛选用户
        form.on('submit(search-OrderSettlement)', function (data) {
            table.reload( tableFilter, {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        //监听工具条
        table.on('tool('+tableFilter+')', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;
            if(layEvent === 'restore'){
                layer.open({
                    title: '温馨提示'
                    , content: '确定恢复选中结算订单？恢复后的订单将产生收益！'
                    , btn: ['确认', '取消']
                    , yes: function () {
                        admin.post({
                            api: 'OrderSettlementRestore',
                            async: false,
                            data: {ids: [data.id]},
                            success: function (res) {
                                if (res.status == 1) {
                                    admin.modal.success(res.msg, {
                                        end: function () {
                                            table.reload(tableFilter);
                                        }
                                    })
                                } else {
                                    admin.modal.warn(res.msg)
                                }

                            }
                        });
                    }
                })
            }else if(layEvent === 'cancel'){
                layer.open({
                    title: '温馨提示'
                    ,content: '确定作废选中结算订单？作废后的订单将不会产生收益！'
                    ,btn: ['确认','取消']
                    ,yes:function () {
                        admin.post({
                            api: 'OrderSettlementCancel',
                            async: false,
                            data:{ids:[data.id]},
                            success:function (res) {
                                if(res.status==1){
                                    admin.modal.success(res.msg,{end:function () {
                                         table.reload( tableFilter );
                                    }})
                                }else{
                                    admin.modal.warn(res.msg)
                                }

                            }
                        });
                    }
                });
            }
        });

        var order_settlement_search_vip_id = xmSelect.render({
            el: document.querySelector('#order_settlement_search_vip_id'),
            tips: '请选择VIP级别',
            toolbar: {show: true},
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'vip_id',
            filterable: false, //是否开启搜索
            height: '400px',
            data: []
        })
        //远程获取产品
        admin.post({
            api: 'VipAll',
            async: false,
            data: {},
            success:function (res) {order_settlement_search_vip_id.update({data:res.result});}
        });
        var order_settlement_search_agent_id = xmSelect.render({
            el: document.querySelector('#order_settlement_search_agent_id'),
            tips: '请选择所属代理',
            toolbar: {show: true},
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'agent_id',
            filterable: false, //是否开启搜索
            height: '400px',
            data: []
        })
        //远程获取产品
        admin.post({
            api: 'AgentAll',
            async: false,
            data: {},
            success:function (res) {order_settlement_search_agent_id.update({data:res.result});}
        });
    })
</script>