html {
	font-size: 14px;
	width: 100%;
	height: 100%
}

body {
	min-width: 1200px;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Hiragino Sans GB", "Microsoft Yahei", SimSun, Arial, "Helvetica Neue", Helvetica;
	color: #333;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	/*background: url(../img/bg_cb3e28c.jpg) no-repeat #000;*/
	background-size: 100% 100%;
	background-attachment: fixed;
	background-color: #176BEE;
}

.Login_wrap {
	width: 1080px;
	background-color: #FFFFFF;
	border-radius: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 680px;
}

.Left_box {
	border-radius: 30px 0 0 30px;
	background-color: #F6F6F6;
	width: 50%;
	text-align: center;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Right_box {
	flex: 1;
	text-align: center;
}

.input_box_wrap {
	width: 345px;
	margin: 0 auto;
}

.Right_box .login_bpx {}

.Right_box .login_bpx img {
	width: 200px;
	margin-bottom: 40px;
}

.Right_box .input_box {}

.account {
	display: flex;
	align-items: center;
	background-color: #F6F6F6;
	padding: 0 20px;
	border-radius: 6px;
	margin-bottom: 20px;
}

.password {
	display: flex;
	align-items: center;
	background-color: #F6F6F6;
	padding: 0 20px;
	border-radius: 6px;
	margin-bottom: 20px;
}

.Code_box {
	display: flex;
	align-items: center;
}

.yanzhengma {
	background-color: #F6F6F6;
	padding: 0 20px;
	border-radius: 6px;
	flex: 1;
	text-align: left;
	display: flex;
	align-items: center;
}

.code_ma {
	background-color: #705757;
	padding: 11px 0;
	border-radius: 6px;
	color: #FFFFFF;
	margin-left: 20px;
	flex: 1;
	font-size: 18px;
	cursor: pointer;
}

.login_btn {
	margin-top: 40px;
}

.ant-btn-primary {
	color: #fff;
	background-color: #005BEA;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	font-size: 18px;
}

.wx_login {
	text-align: center;
	width: 100%;
	color: #005BEA;
	font-size: 18px;
	margin-top: 20px;
}

.wx_login a {
	color: #005BEA;
}


.swiper {
	width: 100%;
	height: 80%;
}

.swiper-slide {
	text-align: center;
	padding-top: 50px;
}

.swiper_text h2 {
	
}
.swiper_text p {
	font-size: 16px;
}

.swiper-slide img {
	display: block;
	width: 400px;
	object-fit: cover;
	margin: 0 auto;
}


a {
	background-color: transparent;
	outline: 0;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: "Hiragino Sans GB", "Microsoft Yahei", SimSun, Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: 1px solid #F6F6F6;
	background-color: #F6F6F6;
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
	outline: 0
}

input[type=text],
input[type=password] {
	color: #333;
	border: 1px solid #F6F6F6;
	background-color: #F6F6F6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 8px;
	margin: 6px 0;
	width: 100%;
}

label,
select,
button,
input[type=button],
input[type=reset],
input[type=submit],
input[type=radio],
input[type=checkbox] {
	cursor: pointer
}

input[type=checkbox],
input[type=radio] {
	padding: 0
}

input[type=submit],
input[type=reset],
input[type=button],
button {
	-webkit-appearance: none
}
