<div class="layui-fluid" id="AuthGenerateAuthRule" lay-title="自动生成通用子权限">
    <style>
        .check{color: red}
    </style>
    <div class="layui-row layui-col-space15" style="margin-top: 20px">
        <form class="layui-form" action="" lay-filter="GenerateAuthRule-form-element">
            <input type="hidden" name="id">
            <div class="layui-col-md12" >
                <div class="layui-form-item">
                    <label class="layui-form-label">模块名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="required" placeholder="模块中文名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">模块路径</label>
                    <div class="layui-input-block">
                        <input type="text" name="module" value="" lay-verify="required" placeholder="模块路径" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button  class="layui-btn" lay-submit lay-filter="AuthGenerateAuthRule">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect'], function (admin, table, form) {
        var $ = layui.jquery;
        var form =layui.form;
        var view = $('#AuthGenerateAuthRule');
        var xmSelect = layui.xmSelect;
        var popup_data = POPUP_DATA.data

        form.val("GenerateAuthRule-form-element", popup_data);
        form.render(null, 'GenerateAuthRule-form-element');

        var index = parent.layer.index
        form.on('submit(AuthGenerateAuthRule)', function (data) {
            admin.post({
                api: 'AuthGenerateAuthRule',
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }
                }
            });
            return false;
        });

    });
</script>