<div class="layui-fluid"id="admin-edit" lay-title="编辑管理员">
    <div class="layui-row layui-col-space15" style="margin-top: 20px">
        <form class="layui-form" action="" lay-filter="edit-admin-element">
            <input type="hidden" name="uid" id="uid" >

            <div class="layui-form-item">
                <label class="layui-form-label">登录账号：</label>
                <div class="layui-input-block">
                    <input type="text" name="username" lay-verify="required" placeholder="请输入管理员账号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">登录密码：</label>
                <div class="layui-input-block">
                    <input type="password" name="password"  placeholder="请输入登录密码" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">昵称：</label>
                <div class="layui-input-block">
                    <input type="text" name="realname" lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="edit-admin-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect','upload'], function (admin, table, form) {
        var $ = layui.jquery;
        var form =layui.form;
        var upload =layui.upload;
        var view = $('#admin-edit');
        var xmSelect = layui.xmSelect;
        var element = layui.element;
        var token = admin.loginToken;
        var popup_data = POPUP_DATA.data
        form.val("edit-admin-element", popup_data);
        form.render(null, 'edit-admin-form');
        var index = parent.layer.index
        form.on('submit(edit-admin-element)', function (data) {
            admin.post({
                api: 'AdminsEdit',
                async: false,
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }

                }
            });
            return false;
        });


    });
</script>