<link rel="stylesheet" href="/public/nepadmin/css/formSelects.css" media="all">
<style>
    .layui-table-cell {  padding: 0 5px;  }
    .xm-select-dl{
        top:unset !important;
    }
</style>
<div class="layui-fluid" id="VIEW-Handle-list-table" lay-title="管理员操作记录列表">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">筛选数据</div>
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form" id="search_user">
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input" name="username" placeholder="管理员账号" >
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input" name="uid" placeholder="管理员ID" >
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input" name="action_name" placeholder="操作方法名称" >
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input" name="action_path" placeholder="操作方法路径" >
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input" name="ip" placeholder="访问IP" >
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input" name="province" placeholder="省份" >
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input" name="city" placeholder="城市" >
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input" name="start" id="handle_start" autocomplete="off" placeholder="起始时间">
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input"  name="end" id="handle_end" autocomplete="off" placeholder="截取时间">
                        </div>
                        <div class="layui-input-inline" style="width: 60px">
                            <input type="text" class="layui-input"  name="spend_time"  autocomplete="off" placeholder="耗时">
                        </div>

                        <div class="layui-input-inline">
                            <div class="layui-btn layui-btn " lay-submit lay-filter="search-user">立即搜索</div>
                            <button type="reset" class="layui-btn   layui-btn-primary">重置</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body nepadmin-pad-l10 nepadmin-pad-r10">
                    <table id="Handle-list-table" lay-filter="Handle-list-table"></table>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>


<script>
    layui.use(['admin', 'table', 'form', 'dropdown','xmSelect', 'jquery','laydate'], function (admin, table, form, dropdown, $) {
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var xmSelect = layui.xmSelect;
        var view = $('#VIEW-Handle-list-table');
        var tableFilter = 'Handle-list-table';
        laydate.render({elem: '#handle_start',type:'datetime'});
        laydate.render({elem: '#handle_end',type:'datetime'});
        form.render();
        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: tableFilter,
            api: 'HandleLists',
            page: true,
            cols: [[
                { title: 'ID', field: 'id',width: 70},

                { title: '管理员账号', field: 'username',width: 90},
                { title: '管理员ID', field: 'uid',width: 70},
                { title: '访问功能', field: 'action_name',width: 120},
                { title: '访问路径', field: 'action_path',width: 150},
                { title: 'IP', field: 'ip',width: 120},
                { title: '响应时长', field: 'spend_time',width: 80},
                { title: '所在省份', field: 'province',width: 80},
                { title: '所在城市', field: 'city',width: 80},
                { title: '操作时间', field: 'create_time',width: 150},
                { title: '请求参数', field: 'request_data',minWidth:120},
                { title: '返回结果', field: 'response_data'},
            ]],
            toolbar: '#handle_log_toolbar',
        });
        //监听状态
        form.on('switch(status)', function(obj){
            var value = obj.elem.checked==true?1:0;
            admin.post({
                api: 'doUserStatus',
                async: false,
                data:{value:value,id:this.value},
                success:function (res) {
                    admin.modal.success(res.msg,{area:['400px']});
                    if(res.result.status==0){table.reload( 'Handle-list-table');}
                }
            });
        });
        view.find('.table-action').click(function () {
            var type = $(this).attr('data-type')
            var checkStatus = table.checkStatus('Handle-list-table')
                ,data = checkStatus.data;
            console.log(data);
            var ids = [];
            $.each(data,function(i){ ids[i] = data[i]['id']; });
            var checkedCount = table.checkStatus(tableFilter).data.length;
            switch (type) {
                case   'refresh':
                    layui.view.tab.refresh();
                    break;
                case 'add':
                    admin.popup({
                        //网页地址或本地目录
                        title:'添加账户',
                        url:'/user/add',
                        area: ['60%', '90%'],
                        //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                        data:{},
                        end:function () {
                            table.reload( 'Handle-list-table');
                        }
                    })
                    break;
            }
        })
        //监听上架操作
        form.on('switch(status)', function(obj){
            var value = obj.elem.checked==true?1:0;
            admin.post({
                api: 'doUserStatus',
                async: false,
                data:{value:value,id:this.value},
                success:function (res) {
                    admin.modal.success(res.msg,{area:['400px']});
                    if(res.result.status==0){table.reload( 'Handle-list-table');}
                }
            });
        });
        // 监听筛选用户
        form.on('submit(search-user)', function (data) {
            table.reload( 'Handle-list-table', {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        //监听工具条
        table.on('tool(Handle-list-table)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;
            if(layEvent === 'detail'){
                //do somehing
            } else if(layEvent === 'del'){
                layer.open({
                    title: '温馨提示'
                    ,content: '确定删除此账户？删除后数据将不可恢复！'
                    ,btn: ['确认','取消']
                    ,yes:function () {
                        admin.post({
                            api: 'delUser',
                            async: false,
                            data:{ids:[data.id]},
                            success:function (res) {
                                if(res.result.status==1){
                                    admin.modal.success(res.msg,{end:function () {
                                            table.reload( 'Handle-list-table');
                                        }})
                                }else{
                                    admin.modal.warn(res.msg)
                                }

                            }
                        });
                    }
                    ,success: function(layero, index){
                        this.enterEsc = function(event){
                            if(event.keyCode === 13){
                                admin.post({
                                    api: 'delUser',
                                    async: false,
                                    data:{ids:[data.id]},
                                    success:function (res) {
                                        if(res.result.status==1){
                                            admin.modal.success(res.msg,{end:function () {
                                                    table.reload( 'Handle-list-table');
                                                }})
                                        }else{
                                            admin.modal.warn(res.msg)
                                        }

                                    }
                                });
                                return false; //阻止系统默认回车事件
                            }
                        };
                        $(document).on('keydown', this.enterEsc);	//监听键盘事件，关闭层
                    }
                    ,end: function(){
                        $(document).off('keydown', this.enterEsc);	//解除键盘关闭事件
                    }
                });
            } else if(layEvent === 'edit'){
                admin.popup({
                    //网页地址或本地目录
                    url:'/user/edit',
                    area: ['60%', '90%'],
                    //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                    data:{data:data},
                    end:function () {
                        table.reload( 'Handle-list-table');
                    }
                })
            }
        });


    })
</script>