<div class="layui-fluid"id="admin-password" lay-title="更新密码">
    <style>.layui-transfer-active .layui-btn {color: #ff5722;}.layui-transfer-active .layui-btn-disabled {color: #C9C9C9;}</style>
    <div class="layui-row layui-col-space15" style="padding-top: 20px;">
        <form class="layui-form" action="" lay-filter="password-form-element">
            <input type="hidden" name="wechat_ids" id="wechat_ids">
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-body" style="padding-top: 30px;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="re_password" lay-verify="required" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="password-form-element">更新密码</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect','upload','transfer','util'], function (admin, table, form) {
        var $ = layui.$
            ,transfer = layui.transfer
            ,layer = layui.layer
            ,util = layui.util
            ,form =layui.form
            ,upload =layui.upload;

        var view = $('#user-add');
        var token = admin.loginToken;
        form.render(null, 'password-form-element');
        var index = parent.layer.index
        form.on('submit(password-form-element)', function (data) {
            console.log(data.field)
            admin.post({
                api: 'updatePassword',
                async: false,
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }
                }
            });
            return false;
        });
    });
</script>