<link rel="stylesheet" href="/public/nepadmin/css/formSelects.css" media="all">
<style>
    .xm-select-dl{top:unset !important;}
    .layui-table-cell {  padding: 0 5px;  }
</style>
<div class="layui-fluid" id="VIEW-Vip-list-table" lay-title="VIP列表">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">筛选数据</div>
                <div class="layui-card-body">
                    <form class="layui-row layui-col-space10 layui-form" lay-filter="search_Vip" id="search_Vip">
                        <input type="hidden" name="order" id="order" value="id desc">
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="code" placeholder="VIP编码">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="name" placeholder="VIP名称">
                        </div>

                        <div class="layui-input-inline">
                            <div class="layui-btn layui-btn " lay-submit lay-filter="search-Vip">立即搜索</div>
                            <button type="reset" class="layui-btn   layui-btn-primary">重置</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body nepadmin-pad-l10 nepadmin-pad-r10">

                    <table id="Vip-list-table" lay-filter="Vip-list-table"></table>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 用户列表bar tool -->
<script type="text/html" id="Vip_bar">
    <div class="layui-btn-group">
        {{# if( layui.siam.vifAuth('VipEdit') ){}}
        <a class="layui-btn layui-btn-sm" data-siam-auth="VipEdit" lay-event="edit">编辑</a>
        {{#  } }}
        {{# if( layui.siam.vifAuth('VipDel') ){}}
        <a class="layui-btn layui-btn-danger layui-btn-sm" data-siam-auth="VipDel" lay-event="del">删除</a>
        {{#  } }}
    </div>

</script>
<script type="text/html" id="Vip_toolbar">
    <div class="layui-btn-container">
        <div class="layui-btn layui-btn-sm layui-btn-danger table-action" data-siam-auth="VipDel" lay-event="del">批量删除</div>
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="VipAdd" lay-event='add' >添加VIP</div>
        <div class="layui-btn layui-btn-sm layui-btn-primary table-action" lay-event="refresh">刷新页面</div>
    </div>
</script>


<script>
    layui.use(['admin', 'table', 'form', 'dropdown','xmSelect', 'jquery'], function (admin, table, form, dropdown, $) {
        var $ = layui.jquery;
        var xmSelect = layui.xmSelect;
        var view = $('#VIEW-Vip-list-table');
        var tableFilter = 'Vip-list-table';
        form.render();
        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: tableFilter,
            api: 'VipLists',
            page: true,
            cols: [[
                { title: '', type: 'checkbox', fixed: true, width: 60 },
                { title: 'VIP编码', field: 'code'},
                { title: 'VIP名称', field: 'name'},
                { title: 'VIP级别数字', field: 'level'},
                { title: 'VIP级别需邀请人数', field: 'people_num'},
                { title: 'VIP级别需购买产品', field: 'require_buy_s'},
                { title: '最后更新时间', field: 'update_time',width: 180},
                { title: '创建时间', field: 'create_time',width: 180},
                {width:110, title: '操作', fixed: 'right', toolbar:'#Vip_bar'},
            ]],
            toolbar: '#Vip_toolbar',
        });
        // 单元格编辑后的事件
        table.on('edit('+tableFilter+')', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            admin.post({
                api: 'VipSort',
                async: false,
                data:{id:data.id,field:field,value:value},
                success:function (res) {
                    layer.msg(res.msg)
                    if(res.status==0){table.reload( tableFilter);}
                }
            });

        });

        table.on('toolbar('+tableFilter+')', function(obj){

            var checkStatus = table.checkStatus(tableFilter)
                ,data = checkStatus.data;
            var ids = [];
            $.each(data,function(i){ ids[i] = data[i]['id']; });
            var checkedCount = table.checkStatus(tableFilter).data.length;
            switch (obj.event) {
                case 'add':
                    admin.popup({
                        title:'新增VIP',
                        //网页地址或本地目录
                        url:'/vip/add',
                        area: ['500px', '500px'],
                        //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                        data:{},
                        end:function () {
                            table.reload( tableFilter);
                        }
                    })
                    break;
                case   'refresh':
                    layui.view.tab.refresh();
                    break;
                case   'del':
                        if (checkedCount == 0) {
                            layer.msg('请先选择要删除的VIP');
                        } else {
                            layer.open({
                                title: '温馨提示'
                                ,content: '确定删除选中VIP？删除后数据将不可恢复！'
                                ,btn: ['确认','取消']
                                ,yes:function () {
                                    admin.post({
                                        api: 'VipDel',
                                        async: false,
                                        data:{ids:ids},
                                        success:function (res) {
                                            if(res.status==1){
                                                admin.modal.success(res.msg,{area:['400px'],end:function () {
                                                    table.reload( tableFilter);
                                                }})
                                            }else{
                                                admin.modal.warn(res.msg)
                                            }

                                        }
                                    });
                                }
                            });

                        }
                    break;
            }
        })
        // 单元格编辑后的事件
        table.on('edit('+tableFilter+')', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            admin.post({
                api: 'VipSort',
                async: false,
                data:{id:data.id,field:field,value:value},
                success:function (res) {
                    layer.msg(res.msg)
                    if(res.status==0){table.reload( 'category-list-table');}
                }
            });

        });
        //VIP隐藏显示
        form.on('switch(is_show)', function(obj){
            var value = obj.elem.checked==true?1:0;
            admin.post({
                api: 'VipDoStatus',
                async: false,
                data:{value:value,id:this.value,field:'is_show'},
                success:function (res) {
                    layer.msg(res.msg)
                    table.reload(tableFilter);
                }
            });
        });
        // 监听筛选用户
        form.on('submit(search-Vip)', function (data) {
            table.reload( tableFilter, {
                where: data.field
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        //监听工具条
        table.on('tool(Vip-list-table)', function(obj){
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;
            if(layEvent === 'detail'){
                //do somehing
            } else if(layEvent === 'del'){
                layer.open({
                    title: '温馨提示'
                    ,content: '确定删除此VIP？删除后数据将不可恢复！'
                    ,btn: ['确认','取消']
                    ,yes:function () {
                        admin.post({
                            api: 'VipDel',
                            async: false,
                            data:{ids:[data.id]},
                            success:function (res) {
                                if(res.result.status==1){
                                    admin.modal.success(res.msg,{area:['400px'],end:function () {
                                        table.reload( tableFilter);
                                    }})
                                }else{
                                    admin.modal.warn(res.msg)
                                }

                            }
                        });
                    }
                });
            } else if(layEvent === 'edit'){
                admin.popup({
                    title:'编辑VIP',
                    //网页地址或本地目录
                    url:'/vip/edit',
                    area: ['500px', '500px'],
                    //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                    data:{data:data},
                    end:function () {
                        table.reload( tableFilter);
                    }
                })
            }
        });


    })
</script>