<div class="layui-fluid"id="Inplay-add" lay-title="新增">
    <div class="layui-row layui-col-space15" style="margin-top: 20px">
        <form class="layui-form" action="" lay-filter="add-Inplay-element">

            <div class="layui-form-item">
                <label class="layui-form-label">联赛</label>
                <div class="layui-input-block">
                    <div id="add_league_id"  class="xm-select-demo"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">主队</label>
                <div class="layui-input-block">
                    <div id="add_home_id"  class="xm-select-demo"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客队</label>
                <div class="layui-input-block">
                    <div id="add_away_id"  class="xm-select-demo"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-block">
                    <input type="text" name="time" id="inplay_time" value="" lay-verify="required" placeholder="比赛开始时间" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">已进行时间</label>
                <div class="layui-input-block">
                    <input type="number" name="timer"  value="" lay-verify="required" placeholder="比赛已进行分钟数" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">比分</label>
                <div class="layui-input-block">
                    <input type="text" name="ss"  value="" lay-verify="required" placeholder="当前比分 如：1-2" autocomplete="off" class="layui-input">
                </div>
            </div>
           
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add-Inplay-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect','upload'], function (admin, table, form) {
        var $ = layui.jquery;
        var form =layui.form;
        var view = $('#Inplay-add');
        var xmSelect = layui.xmSelect;
        var laydate = layui.laydate;
        laydate.render({elem: '#inplay_time',type:'datetime'});

        form.render(null, 'add-Inplay-element');

        var index = parent.layer.index
        form.on('submit(add-Inplay-element)', function (data) {
            admin.post({
                api: 'InplayAdd',
                async: false,
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }
                }
            });
            return false;
        });
        var add_league_id = xmSelect.render({
            el: document.querySelector('#add_league_id'),
            tips: '请选择联赛',
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'league_id',
            height: '400px',
            toolbar: { show: true },
            filterable: true,
            remoteSearch: true,
            remoteMethod: function(val, cb, show){
                //这里如果val为空, 则不触发搜索
                if(!val){
                    return cb([]);
                }
                //远程获取产品
                admin.post({
                    api: 'LeagueAll',
                    async: false,
                    data:{
                        keyword: val,
                    },
                    success:function (res) {
                        cb(res.result)
                    },
                    error:function (e){
                        cb([]);
                    }
                });
            },
        })
        var add_home_id = xmSelect.render({
            el: document.querySelector('#add_home_id'),
            tips: '请选择主队',
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'home_id',
            height: '400px',
            toolbar: { show: true },
            filterable: true,
            remoteSearch: true,
            remoteMethod: function(val, cb, show){
                //这里如果val为空, 则不触发搜索
                if(!val){
                    return cb([]);
                }
                //远程获取产品
                admin.post({
                    api: 'TeamAll',
                    async: false,
                    data:{
                        keyword: val,
                    },
                    success:function (res) {
                        cb(res.result)
                    },
                    error:function (e){
                        cb([]);
                    }
                });
            },
        })
        var add_away_id = xmSelect.render({
            el: document.querySelector('#add_away_id'),
            tips: '请选择客队',
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'away_id',
            height: '400px',
            toolbar: { show: true },
            filterable: true,
            remoteSearch: true,
            remoteMethod: function(val, cb, show){
                //这里如果val为空, 则不触发搜索
                if(!val){
                    return cb([]);
                }
                //远程获取产品
                admin.post({
                    api: 'TeamAll',
                    async: false,
                    data:{
                        keyword: val,
                    },
                    success:function (res) {
                        cb(res.result)
                    },
                    error:function (e){
                        cb([]);
                    }
                });
            },
        })

    });
</script>