<div class="layui-fluid"id="UserBank-add" lay-title="新增员工">
    <div class="layui-row layui-col-space15" style="margin-top: 20px">
        <form class="layui-form" action="" lay-filter="add-UserBank-element">
            <div class="layui-form-item">
                <label class="layui-form-label">所属用户*</label>
                <div class="layui-input-block">
                    <div id="add_user_id"  class="xm-select-demo"></div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所属银行*</label>
                <div class="layui-input-block">
                    <div id="add_bank_id"  class="xm-select-demo"></div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">卡号*</label>
                <div class="layui-input-block">
                    <input type="text" name="card_number" lay-verify="required" placeholder="银行卡卡号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">持卡人姓名*</label>
                <div class="layui-input-block">
                    <input type="text" name="card_holder_name" lay-verify="required" placeholder="持卡人姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">使用状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="status" value="1" title="正常" checked="" >
                    <input type="radio" name="status" value="0" title="禁用" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">删除状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="is_del" value="0" title="正常" checked="" >
                    <input type="radio" name="is_del" value="1" title="已删除" >
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add-UserBank-element">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'jquery','xmSelect','upload'], function (admin, table, form) {
        var $ = layui.jquery;
        var form =layui.form;
        var upload =layui.upload;
        var view = $('#UserBank-add');

        var xmSelect = layui.xmSelect;
        var element = layui.element;
        var token = admin.loginToken;

        form.render(null, 'add-UserBank-element');
        element.render('breadcrumb', 'breadcrumb');
        var index = parent.layer.index
        form.on('submit(add-UserBank-element)', function (data) {
            admin.post({
                api: 'UserBankAdd',
                async: false,
                data:data.field,
                success:function (res) {
                    if(res.status==1){
                        admin.modal.success(res.msg,{end:function () { parent.layer.close(index)}})
                    }else{
                        admin.modal.warn(res.msg)
                    }
                }
            });
            return false;
        });
        var add_user_id = xmSelect.render({
            el: document.querySelector('#add_user_id'),
            tips: '指定用户【默认全部，可不选】',
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'user_id',
            height: '400px',
            toolbar: { show: true },
            filterable: true,
            remoteSearch: true,
            remoteMethod: function(val, cb, show){
                //这里如果val为空, 则不触发搜索
                if(!val){
                    return cb([]);
                }
                //远程获取产品
                admin.post({
                    api: 'UserAll',
                    async: false,
                    data:{
                        keyword: val,
                    },
                    success:function (res) {
                        cb(res.result)
                    },
                    error:function (e){
                        cb([]);
                    }
                });
            },
        })

        var add_bank_id = xmSelect.render({
            el: document.querySelector('#add_bank_id'),
            tips: '请选择所属银行',
            toolbar: {show: true},
            radio: true,
            clickClose: true,
            autoRow: true,
            name:'bank_id',
            filterable: false, //是否开启搜索
            height: '400px',
            data: []
        })
        //远程获取银行
        admin.post({
            api: 'BankAll',
            async: false,
            data: {},
            success:function (res) {add_bank_id.update({data:res.result});}
        });


    });
</script>