<div class="layui-tab layui-tab-brief footer-nav">
    <ul class="layui-tab-title">
        <li {eq name='page_path' value='index'}class="layui-this"{/eq} >
            <a href="/">
                <img src="/public/web/img/home{eq name='page_path' value='index'}_active{/eq}.png"/>
                <p>{:l('HOME',$lang)}</p>
            </a>
        </li>
        <li {eq name='page_path' value='blog'}class="layui-this"{/eq}>
            <a href="/blog">
                <img src="/public/web/img/fx{eq name='page_path' value='blog'}_active{/eq}.png"/>
                <p>{:l('BLOG',$lang)}</p>
             </a>
        </li>
        <li {eq name='page_path' value='invitation'}class="layui-this"{/eq}>
            <a href="/invitation">
                <img src="/public/web/img/yq{eq name='page_path' value='invitation'}_active{/eq}.png"/>
                <p>{:l('INVITE',$lang)}</p>
            </a>
        </li>
        <li {eq name='page_path' value='tasks'}class="layui-this"{/eq}>
            <a href="/tasks">
                <img src="/public/web/img/task{eq name='page_path' value='tasks'}_active{/eq}.png"/>
                <p>{:l('TASKS',$lang)}</p>
            </a>
        </li>
        <li {eq name='page_path' value='my'}class="layui-this"{/eq}>
            <a href="/my">
                <img src="/public/web/img/my{eq name='page_path' value='my'}_active{/eq}.png"/>
                <p>{:l('MY',$lang)}</p>
            </a>
        </li>
    </ul>
</div>