<div class="footer_menu">
    <div class="content">
        <a  href="/" class="item {eq name='page_path' value='index'}active{/eq}">
            <img src="/public/site/img/home{eq name='page_path' value='index'}_active{/eq}.png"/>
            <p>Home</p>
        </a>
        <a  href="/blog" class="item {eq name='page_path' value='blog'}active{/eq}">
            <img src="/public/site/img/blog{eq name='page_path' value='blog'}_active{/eq}.png"/>
            <p>Blog</p>
        </a>
        <a  href="/invitation" class="item {eq name='page_path' value='invitation'}_active{/eq}">
            <img src="/public/site/img/invite{eq name='page_path' value='invitation'}_active{/eq}.png"/>
            <p>Invite</p>
        </a>
        <a  href="/tasks" class="item {eq name='page_path' value='tasks'}active{/eq}">
            <img src="/public/site/img/tasks{eq name='page_path' value='tasks'}_active{/eq}.png"/>
            <p>Tasks</p>
        </a>
        <a href="/my" class="item {eq name='page_path' value='my'}active{/eq}">
            <img src="/public/site/img/my{eq name='page_path' value='my'}_active{/eq}.png"/>
            <p>My</p>
        </a>
    </div>
</div>