<link rel="stylesheet" href="/public/nepadmin/css/formSelects.css" media="all">
<style>
    .xm-select-dl {
        top: unset !important;
    }

    .layui-table-cell {
        padding: 0 5px;
    }
</style>
<div class="layui-fluid" id="VIEW-Team-list-table" lay-title="球队列表">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">筛选数据</div>
                <div class="layui-card-body">
                    <form class="layui-form" lay-filter="search_Team" id="search_Team">
                        <input type="hidden" name="order" id="order" value="id desc">

                        <div class="layui-inline" style="width: 120px">
                            <select name="has_squad" >
                                <option value="">是否有阵容</option>
                                <option value="1">有</option>
                                <option value="2">无</option>
                            </select>

                        </div>

                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="name" placeholder="球队名称">
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input" name="start_time" id="Team_start" autocomplete="off" placeholder="起始时间">
                        </div>
                        <div class="layui-input-inline" style="width: 120px">
                            <input type="text" class="layui-input"  name="end_time" id="Team_end" autocomplete="off" placeholder="截取时间">
                        </div>
                        <div class="layui-input-inline">
                            <div class="layui-btn layui-btn " lay-submit lay-filter="search-Team">立即搜索</div>
                            <button type="reset" class="layui-btn   layui-btn-primary">重置</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">

                <div class="layui-card-body nepadmin-pad-l10 nepadmin-pad-r10">

                    <table id="Team-list-table" lay-filter="Team-list-table"></table>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 用户列表bar tool -->
<script type="text/html" id="Team_bar">
    <div class="layui-btn-group">
        <a href="/team/{{d.id}}" target="_blank" class="layui-btn layui-btn-sm" style="color: #FFFFFF">预览</a>
        {{# if( layui.siam.vifAuth('TeamSquad') ){}}
        <a class="layui-btn layui-btn-sm" data-siam-auth="TeamSquad" lay-event="squad">更新球队阵容</a>
        {{# } }}
        {{# if( layui.siam.vifAuth('TeamEdit') ){}}
        <a class="layui-btn layui-btn-sm" data-siam-auth="TeamEdit" lay-event="edit">编辑</a>
        {{# } }}



    </div>

</script>
<script type="text/html" id="Team_toolbar">
    <div class="layui-btn-container">
        <div class="layui-btn layui-btn-sm layui-btn-danger table-action" data-siam-auth="TeamDel"
             lay-event="del">批量删除
        </div>
        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="TeamAdd" lay-event='add'>
            新增球队
        </div>
<!--        <div class="layui-btn layui-btn-sm table-action" data-siam-auth="TeamGetDataByApi" lay-event='getData'>-->
<!--            获取球队数据-->
<!--        </div>-->
        <div class="layui-btn layui-btn-sm layui-btn-primary table-action" lay-event="refresh">刷新页面</div>
    </div>
</script>


<script>
    layui.use(['admin', 'table', 'form', 'laydate', 'xmSelect', 'jquery'], function (admin, table, form, dropdown, $) {
        var $ = layui.jquery;
        var form = layui.form;
        var laydate = layui.laydate;
        var view = $('#VIEW-Team-list-table');
        var tableFilter = 'Team-list-table';
        form.render()
        laydate.render({elem: '#Team_start',type:'datetime'});
        laydate.render({elem: '#Team_end',type:'datetime'});

        admin.renderTable({
            elem: '[lay-filter="' + tableFilter + '"]',
            id: tableFilter,
            api: 'TeamLists',
            page: true,
            cols: [[
                {title: '', type: 'checkbox', fixed: true, width: 40},
                {title: 'ID', field: 'id', width: 80},
                { title: '队标', field: 'logo',width: 50,templet: function(d){ var html =d.logo? '<img src="'+d.logo+'" width="30px" height="30px"/>':'';
                        return html;
                    }},
                {title: '球队名称', field: 'name',minWidth: 110},
                {title: '国家简称', field: 'cc', minWidth: 110},
                {title: '媒体ID', field: 'image_id', minWidth: 110},
                {title: '球队阵容', field: 'has_squad', minWidth: 110,templet:function (d) {
                        return d.has_squad==0?'<span class="layui-badge layui-bg-gray">无</span>':'<span class="layui-badge layui-bg-blue">有</span>';
                    }},

                {title: '最后更新时间', field: 'update_time', width: 156},
                {title: '创建时间', field: 'create_time', width: 156},
                {width: 200, title: '操作', fixed: 'right', toolbar: '#Team_bar'},
            ]],
            toolbar: '#Team_toolbar',
        });


        table.on('toolbar(' + tableFilter + ')', function (obj) {

            var checkStatus = table.checkStatus(tableFilter)
                , data = checkStatus.data;
            var ids = [];
            $.each(data, function (i) {
                ids[i] = data[i]['id'];
            });
            var checkedCount = table.checkStatus(tableFilter).data.length;
            switch (obj.event) {

                case 'add':
                    admin.popup({
                        title: '新增球队',
                        //网页地址或本地目录
                        url: '/team/add',
                        area: ['500px', '500px'],
                        //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                        data: {},
                        end: function () {
                            table.reload(tableFilter);
                        }
                    })
                    break;
                case   'refresh':
                    layui.view.tab.refresh();
                    break;
                case   'del':
                    if (checkedCount == 0) {
                        layer.msg('请先选择要删除的球队');
                    } else {
                        layer.open({
                            title: '温馨提示'
                            , content: '确定删除选择的球队数据？删除后数据将不可恢复！'
                            , btn: ['确认', '取消']
                            , yes: function () {
                                admin.post({
                                    api: 'TeamDel',
                                    async: false,
                                    data: {ids: ids},
                                    success: function (res) {
                                        if (res.status == 1) {
                                            admin.modal.success(res.msg, {
                                                area: ['400px'], end: function () {
                                                    table.reload(tableFilter);
                                                }
                                            })
                                        } else {
                                            admin.modal.warn(res.msg)
                                        }

                                    }
                                });
                            }
                        });

                    }
                    break;
            }
        })


        // 监听筛选用户
        form.on('submit(search-Team)', function (data) {
            table.reload(tableFilter, {
                where: data.field
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        //监听工具条
        table.on('tool(Team-list-table)', function (obj) {
            let data = obj.data;
            let layEvent = obj.event;
            let tr = obj.tr;
            if(layEvent === 'squad'){
                layer.open({
                    title: '温馨提示'
                    ,content: '确定更新球队【'+data.name+'】的阵容？'
                    ,btn: ['确认','取消']
                    ,yes:function () {
                        admin.post({
                            api: 'TeamSquad',
                            async: false,
                            data:{team_id:data.id},
                            success:function (res) {
                                if(res.status==1){
                                    admin.modal.success(res.msg,{area:['400px'],end:function () {
                                            table.reload( tableFilter);
                                        }})
                                }else{
                                    admin.modal.warn(res.msg)
                                }

                            }
                        });
                    }
                });
            }else if (layEvent === 'del') {
                layer.open({
                    title: '温馨提示'
                    , content: '确定删除选择的球队数据？删除后数据将不可恢复！'
                    , btn: ['确认', '取消']
                    , yes: function () {
                        admin.post({
                            api: 'TeamDel',
                            async: false,
                            data: {ids: [data.id]},
                            success: function (res) {
                                if (res.result.status == 1) {
                                    admin.modal.success(res.msg, {
                                        area: ['400px'], end: function () {
                                            table.reload(tableFilter);
                                        }
                                    })
                                } else {
                                    admin.modal.warn(res.msg)
                                }

                            }
                        });
                    }
                });
            } else if (layEvent === 'edit') {
                admin.popup({
                    title: '编辑球队',
                    //网页地址或本地目录
                    url: '/team/edit',
                    area: ['500px', '500px'],
                    //传递参数，弹出的页面可以使用 POPUP_DATA.username 获取值
                    data: {data: data},
                    end: function () {
                        table.reload(tableFilter);
                    }
                })
            }
        });


    })
</script>