<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}_{$system.title}</title>
    <link rel="stylesheet" href="/public/web/layui/css/layui.css">
    <link rel="stylesheet" href="/public/site/css/common.css">
</head>
<body style="background: #F5F5F5">
<div class="index_header">
    <img src="/public/site/img/about_bg.png" style="max-height: 320px;width: 100%">
    <a href="/" style="position:absolute;top: 20px;left: 20px"><img src="/public/site/img/logo.png" style="width:60px;"></a>
</div>
<div class="tasks_contents" id="tasks_contents" style="overflow: hidden">
    <div class="tasks_card">
        <h4 class="layui-font-18" style="font-weight: bold">
            About us
        </h4>
        <p class="layui-font-14" style="margin-top: 20px;font-family: PingFang SC, PingFang SC;font-weight: 400;font-size: 14px;color: #666666;line-height: 24px;">
            Our purpose is to bring people and resources together to build a better world.
        </p>

        <img src="/public/site/img/about_2.png" style="width: 100%;margin-top: 10px">
    </div>
    <div class="tasks_card">
        <h4 class="layui-font-18" style="font-weight: bold">
            Our strategy maximises value and returns
        </h4>
        <p class="layui-font-14" style="margin-top: 20px;font-family: PingFang SC, PingFang SC;font-weight: 400;font-size: 14px;color: #666666;line-height: 24px;">
            We produce some of the essential resources needed to support global megatrends, such as decarbonisation, and we strive to produce them sustainably, efficiently and ethically.
        </p>
        <p class="layui-font-14" style="margin-top: 20px;font-family: PingFang SC, PingFang SC;font-weight: 400;font-size: 14px;color: #666666;line-height: 24px;">
            We produce some of the essential resources needed to support global megatrends, such as decarbonisation, and we strive to produce them sustainably, efficiently and ethically.
        </p>

        <img src="/public/site/img/about_3.png" style="width: 100%;margin-top: 10px">
    </div>
    <div class="tasks_card">
        <h4 class="layui-font-18" style="font-weight: bold">
            Board and management
        </h4>
        <p class="layui-font-14" style="margin-top: 20px;font-family: PingFang SC, PingFang SC;font-weight: 400;font-size: 14px;color: #666666;line-height: 24px;">
            Our leaders are required to hold themselves accountable for living our Company values as outlined in Our Charter.
        </p>
        <img src="/public/site/img/about_4.jpg" style="width: 100%;margin-top: 10px">
        <h4 class="layui-font-16" style="font-weight: bold">
            Board of Directors
        </h4>
        <h4 class="layui-font-16" style="color: #888888;">
            Board of Directors
        </h4>
        <p class="layui-font-14" style="margin-top: 20px;font-family: PingFang SC, PingFang SC;font-weight: 400;font-size: 14px;color: #666666;line-height: 24px;">
            Ken has been a Director of BHP Group Limited since September 2016. He was appointed Chair with effect from 1 September 2017.
        </p>
        <img src="/public/site/img/about_5.jpg" style="width: 100%;margin-top: 10px">
        <h4 class="layui-font-16" style="font-weight: bold">
            Mike Henry
        </h4>
        <h4 class="layui-font-16" style="color: #888888;">
            Chief Executive Officer
        </h4>
        <p class="layui-font-14" style="margin-top: 20px;font-family: PingFang SC, PingFang SC;font-weight: 400;font-size: 14px;color: #666666;line-height: 24px;">
            Mike was appointed as a Director of BHP Group Limited in January 2020. He was appointed Chief Executive Officer on 1 January 2020.
        </p>
        <img src="/public/site/img/about_6.jpg" style="width: 100%;margin-top: 10px">
        <h4 class="layui-font-16" style="font-weight: bold;">
            Xiaoqun Clever-Steg
        </h4>
        <h4 class="layui-font-16" style="color: #888888;">
            Director of BHP Group Limited
        </h4>
        <p class="layui-font-14" style="margin-top: 20px;font-family: PingFang SC, PingFang SC;font-weight: 400;font-size: 14px;color: #666666;line-height: 24px;">
            Diploma in Computer Science and International Marketing, MBA ,Independent Non-executive Director since October 2020
        </p>
    </div>

</div>


<!--	底部内容-开始	  -->
{include file="index/common/page_service"}
<!--	底部内容-结束	  -->


<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script>
    layui.use(function(){
        var  $= layui.jquery;
        var  layer= layui.layer;

        $('.product_type').click(function () {
            var type = $(this).attr('data-type')
            $('.product_type').removeClass('active');
            $(this).addClass('active')
            $('.product_list').removeClass('layui-hide')
            $('.product_list').removeClass('layui-show')
            $('.product_list').addClass('layui-hide')
            $('.product_type_'+type).removeClass('layui-hide').addClass('layui-show')
        })

    });
</script>
</body>
</html>
