<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>详情页</title>
    <link rel="stylesheet" href="/public/web/layui/css/layui.css">
    <link href="/public/web/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/web/css/common.css">
    <style>
        .team_img {
            display: inline-block;
            width: 140px;
            height: 140px;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            text-align: center!important;
            box-shadow: 0 0 8px #999;
            margin-bottom: 30px;
        }
    </style>
</head>
<body style="background: #f5f7fb">
<!--	底部内容-开始	  -->
{include file="index/common/header"}
<!--	底部内容-结束	  -->
<div class="layui-container">
    <div style="padding: 10px;color: #24587e;background-color: #daeefc;border-color: #cbe7fb;margin: 20px 0">
        <span class="layui-breadcrumb">
          <a href="/soccer" style="color:#467fcf !important;">⚽ {:l('Soccer',$lang)}</a>
          <a href="/league/{$competition['league']['id']}" style="color:#467fcf !important;">{$competition['league']['name']??''}</a>
          <a >
              {$competition['home']['name']??''}
               vs
              {$competition['away']['name']??''}
          </a>
        </span>

    </div>
    <div class="layui-card" style="background: none">
        <div class="layui-card-body" style="background: none">

            <div class="layui-row  layui-col-space10">
                <div class="layui-col-md2 layui-col-md-offset1" style="text-align: center !important;">
                    <div class="team_img">
                        {if condition="file_exists(EASYSWOOLE_ROOT.'/public/uploads/team_logo/'.$competition['home']['id'].'.png')"}
                        <img  src="/public/uploads/team_logo/{$competition['home']['id']}.png">
                        {else/}
                        <h3  class="layui-padding-3">  {$competition['home']['id']}{$competition.home.name}</h3>
                        {/if}

                    </div>
                    <h3 class="team_name text-home"><a href="/team/{$competition.home.id}">{$competition.home.name}</a></h3>
                    <!--                            <div class="layui-panel" style="text-align: center">-->
                    <!--                                {if condition="file_exists(EASYSWOOLE_ROOT.'/public/uploads/team_logo/'.$competition['home']['id'].'.png')"}-->
                    <!--                                    <img  src="/public/uploads/team_logo/{$v['home']['id']}.png">-->
                    <!--                                {else/}-->
                    <!--                                    <h3  class="layui-padding-3">  {$competition.home.name}</h3>-->
                    <!--                                {/if}-->


                    <!--                            </div>-->
                </div>
                <div class="layui-col-md6">
                    <div   style="text-align: center">

                        <div class="layui-padding-3">
                            <h1>
                                        <span style="font-size: 1.125rem;">
                                         <a href="/team/{$competition.home.id}">{$competition.home.name}</a>
                                         vs
                                        <a href="/team/{$competition.home.id}">{$competition.away.name}</a>
                                        <span data-dt="{$competition.timer.tm}" data-dt-format="YYYY/MM/DD HH:mm">{$competition.timer.tm}</span>
                                        <a href="/login"><i class="fa text-danger fa-heart-o"></i></a>
                                        </span>
                            </h1>
                            <p>
                                <b>体育场</b>: Visit Mallorca Estadi
                                <b>轮</b>: 31          </p>
                            <p>
                                <b>主队经理</b>: <span class="flag flag-mx"></span> 阿奎尔 哈维尔
                                <b>客队经理</b>: <span class="flag flag-it"></span> 卡洛 安切洛蒂
                            </p>
                        </div>

                    </div>

                </div>
                <div class="layui-col-md2 layui-col-md-offset">
                    <div class="team_img">
                        {if condition="file_exists(EASYSWOOLE_ROOT.'/public/uploads/team_logo/'.$competition['away']['id'].'.png')"}
                        <img  src="/public/uploads/team_logo/{$competition['away']['id']}.png">
                        {else/}
                        <h3  class="layui-padding-3">  {$competition.home.name}</h3>
                        {/if}

                    </div>
                    <h3 class="team_name text-home"><a href="/team/{$competition.away.id}">{$competition.away.name}</a></h3>

                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md12">

        </div>

        <div class="layui-col-md8">
            <div class="layui-panel"  >
                <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">比赛</li>
                    <li>对战历史</li>
                    <li>OODS</li>
                    <li>积分榜</li>

                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-card">
                            <div class="layui-card-header">数据统计</div>
                            <div class="layui-card-body">
                                <table class="layui-table" lay-skin="line">
                                    <colgroup>
                                        <col>
                                        <col width="60">
                                        <col>
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th style="text-align: right">Portugal (sane4ek8) Esports</th>
                                        <th></th>
                                        <th>England (Flewless_phoenix) Esports</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                        <tr><td style="text-align: right">{$competition['stats']['goals'][0]??0}</td><td>进球</td><td>{$competition['stats']['goals'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['corners'][0]??0}</td><td>角球</td><td>{$competition['stats']['corners'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['yellowcards'][0]??0}</td><td>黄牌</td><td>{$competition['stats']['yellowcards'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['redcards'][0]??0}</td><td>红牌</td><td>{$competition['stats']['redcards'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['penalties'][0]??0}</td><td>判罚</td><td>{$competition['stats']['penalties'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['substitutions'][0]??0}</td><td>换人</td><td>{$competition['stats']['substitutions'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['attacks'][0]??0}</td><td>进攻</td><td>{$competition['stats']['attacks'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['dangerous_attacks'][0]??0}</td><td>危险进攻</td><td>{$competition['stats']['substitutions'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['on_target'][0]??0}</td><td>射正球门</td><td>{$competition['stats']['on_target'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['off_target'][0]??0}</td><td>射偏球门</td><td>{$competition['stats']['off_target'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['possession_rt'][0]??0}%</td><td>球权％</td><td>{$competition['stats']['possession_rt'][1]??0}%</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['xg'][0]??0}</td><td>xG</td><td>{$competition['stats']['xg'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['key_passes'][0]??0}</td><td>key passes</td><td>{$competition['stats']['key_passes'][1]??0}</td></tr>
                                        <tr><td style="text-align: right">{$competition['stats']['action_areas'][0]??0}</td><td>action_areas</td><td>{$competition['stats']['action_areas'][1]??0}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div class="layui-card">
                            <div class="layui-card-header">两队交战</div>
                            <div class="layui-card-body">
                                <table class="layui-table" lay-skin="line">
                                    <thead>
                                    <tr>
                                        <th>联赛</th>
                                        <th>时间</th>
                                        <th>主队</th>
                                        <th>客队</th>
                                        <th>比分</th>
                                    </tr>
                                    <tbody>
                                    {volist name="history.h2h" id="v"}
                                        <tr>
                                            <td>{$v.league.name}</td>
                                            <td>{:date('Y-m-d H:i:s',$v['time'])}</td>
                                            <td>{$v.home.name}</td>

                                            <td>{$v.away.name}</td>
                                            <td>{$v.ss}</td>
                                        </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">主队历史</div>
                            <div class="layui-card-body">
                                <table class="layui-table" lay-skin="line">
                                    <thead>
                                    <tr>
                                        <th>联赛</th>
                                        <th>时间</th>
                                        <th>主队</th>
                                        <th>客队</th>
                                        <th>比分</th>
                                    </tr>
                                    <tbody>
                                    {volist name="history.home" id="v"}
                                    <tr>
                                        <td>{$v.league.name}</td>
                                        <td>{:date('Y-m-d H:i:s',$v['time'])}</td>
                                        <td>{$v.home.name}</td>

                                        <td>{$v.away.name}</td>
                                        <td>{$v.ss}</td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">客队历史</div>
                            <div class="layui-card-body">
                                <table class="layui-table" lay-skin="line">
                                    <thead>
                                    <tr>
                                        <th>联赛</th>
                                        <th>时间</th>
                                        <th>主队</th>
                                        <th>客队</th>
                                        <th>比分</th>
                                    </tr>
                                    <tbody>
                                    {volist name="history.away" id="v"}
                                    <tr>
                                        <td>{$v.league.name}</td>
                                        <td>{:date('Y-m-d H:i:s',$v['time'])}</td>
                                        <td>{$v.home.name}</td>
                                        <td>{$v.away.name}</td>
                                        <td>{$v.ss}</td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">OODS</div>
                    <div class="layui-tab-item">积分榜</div>

                </div>
            </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-row grid-demo">
                <div class="layui-card">
                    <div class="layui-card-header">事件</div>
                    <div class="layui-card-body">


                        <div class="layui-timeline">
                            {volist name="view.events" id="v"}
                            <div class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis"></i>
                                <div class="layui-timeline-content layui-text">
                                    <p class="layui-timeline-title">{$v.text}</p>
                                </div>
                            </div>
                            {/volist}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--	底部内容-开始	  -->
{include file="index/common/footer"}
<!--	底部内容-结束	  -->
<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script>
    layui.use(['table', 'dropdown'], function(){
        var table = layui.table;
        var dropdown = layui.dropdown;

        // 创建渲染实例
        table.render({
            elem: '#inplay',
            url: '/getInplay', // 真实接口
            // height: 'full-35', // 最大高度减去其他容器已占有的高度差
            css: [ // 重设当前表格样式
                '.layui-table-tool-temp{padding-right: 145px;}'
            ].join(''),
            cellMinWidth: 80,
            totalRow: false, // 开启合计行
            page: false,
            cols: [[
                {title: '时间', field: 'time', minWidth: 110},
                { title: '联赛', field: 'league',minWidth: 110,templet:function (d) {
                        return d.league.name;
                    }},
                { title: '主队', field: 'home',minWidth: 110,templet:function (d) {
                        return d.home.name;
                    }},
                { title: '客队', field: 'away',minWidth: 110,templet:function (d) {
                        return d.away.name;
                    }},
                {title: '比分', field: 'ss', minWidth: 80},
                {title: '时长', field: 'tm', width: 80,templet:function (d) {
                        return d.timer.tm?"'"+d.timer.tm:'';
                    }},
            ]],
            done: function(){

            },
            error: function(res, msg){
                console.log(res, msg)
            }
        });

        // 工具栏事件
        table.on('toolbar(test)', function(obj){
            var id = obj.config.id;
            var checkStatus = table.checkStatus(id);
            var othis = lay(this);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(layui.util.escape(JSON.stringify(data)));
                    break;
                case 'getData':
                    var getData = table.getData(id);
                    console.log(getData);
                    layer.alert(layui.util.escape(JSON.stringify(getData)));
                    break;
                case 'LAYTABLE_TIPS':
                    layer.alert('自定义工具栏图标按钮');
                    break;
            };
        });
        // 表头自定义元素工具事件 --- 2.8.8+
        table.on('colTool(test)', function(obj){
            var event = obj.event;
            console.log(obj);
            if(event === 'email-tips'){
                layer.alert(layui.util.escape(JSON.stringify(obj.col)), {
                    title: '当前列属性配置项'
                });
            }
        });



        // 行单击事件( 双击事件为: rowDouble )
        table.on('row(inplay)', function(obj){
            var data = obj.data; // 获取当前行数据

            // 显示 - 仅用于演示
            layer.msg('查看比赛详情：<br>'+ data.home.name+' VS '+data.away.name, {

            });

        });

    });
</script>
</body>
</html>
