<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}_{$system.title}</title>
    <link rel="stylesheet" href="/public/web/layui/css/layui.css">
    <link rel="stylesheet" href="/public/site/css/common.css">
</head>
<body style="background: #F5F5F5">
<div class="index_header">
    <img id="banner" src="/public/site/img/banner1.png" style="max-height: 320px;width: 100%">
    <a href="/" style="position:absolute;top: 20px;left: 20px"><img src="/public/site/img/logo.png" style="width:60px;"></a>
    <a href="/mail" class="message"   style="position:absolute;top: 20px;right: 20px">
        <img src="/public/site/img/message.png" style="width:24px;">
    </a>
</div>
<div class="product_nav" style="overflow: hidden">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs4" >
            <div class="product_type active" data-type="1">Long Term</div>
        </div>
        <div class="layui-col-xs4">
            <div class="product_type"  data-type="2">Short Term</div>
        </div>
        <div class="layui-col-xs4 ">
            <div class="product_type"  data-type="3">Activity</div>
        </div>
    </div>
</div>

<div class="product_list product_type_1">
    {volist name='product' id="v"}
    {eq name='v.type' value="1"}
    <div class="product_details">
        <div class="product_title">
            <div class="left">
                {$v.name} <img src="/public/site/img/lv{$v['level']}.svg">
            </div>
            <a href="/product_details/{$v.id}" class="right">
                Buy
            </a>
        </div>
        <div class="product_info">
            <div class="left">
                <img src="{$v.image}">
            </div>
            <div class="right">
                <p>
                    <span>Price</span>
                    <span class="price">{$v['price']}</span>
                </p>
                <p>
                    <span>Days</span>
                    <span class="value">{$v['revenue_days']}</span>
                </p>
                <p>
                    <span>Daily Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield'],2)}</span>
                </p>
                <p>
                    <span>Total Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield']*$v['revenue_days'],2)}</span>
                </p>
            </div>
        </div>
    </div>
    {/eq}
    {/volist}

    <!--        <div class="product_details">-->
    <!--            <div class="product_title">-->
    <!--                <div class="left">-->
    <!--                    Catering delicacies<img src="/public/site/img/lv{$v['level']}.svg">-->
    <!--                </div>-->
    <!--                <a class="right">-->
    <!--                    Buy-->
    <!--                </a>-->
    <!--            </div>-->
    <!--            <div class="product_info">-->
    <!--                <div class="left">-->
    <!--                    <img src="/public/site/img/product@3x.png">-->
    <!--                </div>-->
    <!--                <div class="right">-->
    <!--                    <p>-->
    <!--                        <span>Price</span>-->
    <!--                        <span class="price">₦20000.00</span>-->
    <!--                    </p>-->
    <!--                    <p>-->
    <!--                        <span>Days</span>-->
    <!--                        <span class="value">5</span>-->
    <!--                    </p>-->
    <!--                    <p>-->
    <!--                        <span>Daily Income</span>-->
    <!--                        <span class="value">₦175000.00</span>-->
    <!--                    </p>-->
    <!--                    <p>-->
    <!--                        <span>Total Income</span>-->
    <!--                        <span class="value">₦875000.00</span>-->
    <!--                    </p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->

</div>
<div class="product_list product_type_2 layui-hide">
    {volist name='product' id="v"}
    {eq name='v.type' value="2"}
    <div class="product_details">
        <div class="product_title">
            <div class="left">
                {$v.name} <img src="/public/site/img/lv{$v['level']}.svg">
            </div>
            <a href="/product_details/{$v.id}" class="right">Buy</a>
        </div>
        <div class="product_info">
            <div class="left">
                <img src="{$v.image}">
            </div>
            <div class="right">
                <p>
                    <span>Price</span>
                    <span class="price">{$system['currency']}{$v['price']}</span>
                </p>
                <p>
                    <span>Days</span>
                    <span class="value">{$v['revenue_days']}</span>
                </p>
                <p>
                    <span>Daily Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield'],2)}</span>
                </p>
                <p>
                    <span>Total Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield']*$v['revenue_days'],2)}</span>
                </p>
            </div>
        </div>
    </div>
    {/eq}
    {/volist}
</div>
<div class="product_list product_type_3 layui-hide">
    {volist name='product' id="v"}
    {eq name='v.type' value="3"}
    <div class="product_details">
        <div class="product_title">
            <div class="left">
                {$v.name} <img src="/public/site/img/lv{$v['level']}.svg">
            </div>
            <a href="/product_details/{$v.id}" class="right">
                Buy
            </a>
        </div>
        <div class="product_info">
            <div class="left">
                <img src="{$v.image}">
            </div>
            <div class="right">
                <p>
                    <span>Price</span>
                    <span class="price">{$system['currency']}{$v['price']}</span>
                </p>
                <p>
                    <span>Days</span>
                    <span class="value">{$v['revenue_days']}</span>
                </p>
                <p>
                    <span>Daily Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield'],2)}</span>
                </p>
                <p>
                    <span >Total Income</span>
                    <span class="value">{$system['currency']}{:round($v['price']*$v['daily_yield']*$v['revenue_days'],2)}</span>
                </p>
            </div>
        </div>
    </div>
    {/eq}
    {/volist}

</div>

<textarea id="notice_content" style="display: none">{$notice.contents??''}</textarea>
<!--	底部内容-开始	  -->
{include file="index/common/service"}
<!--	底部内容-结束	  -->
<!--	底部内容-开始	  -->
{include file="index/common/footer_menu"}
<!--	底部内容-结束	  -->

<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script>
    layui.use(function(){
        var  $= layui.jquery;
        var  layer= layui.layer;
        var l = "{$lang}"
        //not
        var noticle_title = "{$notice.title??''}"
        if(noticle_title){
            var notice_contents = '<div style="padding: 20px;border-radius: 10px">' +
                '<h2 style="border-bottom: 1px solid #F0F0F0;padding-bottom: 10px;">'+noticle_title+'</h2>' +
                '<p class="rules_contents" style="margin-top: 10px;font-family: PingFang SC, PingFang SC; font-weight: 400; font-size: 13px; color: #3D3D3D; line-height: 24px;white-space: pre-wrap;">'+$('#notice_content').val()+'</p>' +
                '</div>'

            layer.open({
                type: 1,
                area: ['90%', 'auto'], // 宽高
                title: false, // 不显示标题栏
                closeBtn: true,
                shadeClose: true, // 点击遮罩关闭层
                content: notice_contents
            });
        }
        var Telegram_channel = '{$system["customer_config"]["Telegram_channel"]}';
        var whats_group = '{$system["customer_config"]["whats_group"]}';
        var content ='<div style="padding: 20px;border-radius: 10px">' +
            '<h2 style="border-bottom: 1px solid #F0F0F0;padding-bottom: 10px "><img src="/public/site/img/telegram.png" style="width: 40px">Telegram</h2>' +
            '<p style="padding: 10px 0;font-family: PingFang SC, PingFang SC; font-weight: 400; font-size: 16px; color: #3D3D3D; ">Publikasi informasi resmi</p>' +
            '<p class="rules_contents" style="font-family: PingFang SC, PingFang SC; font-weight: 400; font-size: 13px; color: #3D3D3D; line-height: 24px;">kuti saluran Ty resmi kami untuk mendapatkan berita terbaru dan informasikesejahteraan</p>' +
            '<a href="'+Telegram_channel+'" target="_blank" class="layui-btn layui-btn-lg  layui-btn-radius layui-btn-fluid" style="margin: 10px 0;background: linear-gradient( 270deg, #FE8118 0%, #FFAD40 100%);">FOLLOW NOW</a>' +
            '<h2 style="border-bottom: 1px solid #F0F0F0;padding-bottom: 10px;margin-top: 10px"><img src="/public/site/img/whatsapp.png" style="width: 40px">WhatsApp</h2>' +
            '<p style="padding: 10px 0;font-family: PingFang SC, PingFang SC; font-weight: 400; font-size: 16px; color: #3D3D3D; ">Kelompok resmi</p>' +
            '<p class="rules_contents" style="font-family: PingFang SC, PingFang SC; font-weight: 400; font-size: 13px; color: #3D3D3D; line-height: 24px;">Bergabung dengan kelompok whatsAppkami untuk mendapatkan informasikeuntungan terbaru dan membantu Andamendapatkan lebih banyak uang</p>' +
            '<a href="'+whats_group+'"  target="_blank"  class="layui-btn layui-btn-lg  layui-btn-radius layui-btn-fluid" style="margin: 10px 0;background: linear-gradient( 270deg, #FE8118 0%, #FFAD40 100%);">FOLLOW NOW</a>' +
            '</div>'
        layer.open({
            type: 1,
            area: ['90%', 'auto'], // 宽高
            title: false, // 不显示标题栏
            closeBtn: true,
            shadeClose: true, // 点击遮罩关闭层
            content: content
        });
        $('.product_type').click(function () {
            var type = $(this).attr('data-type')
            $('#banner').attr('src','/public/site/img/banner'+type+'.png')
            $('.product_type').removeClass('active');
            $(this).addClass('active')
            $('.product_list').removeClass('layui-hide')
            $('.product_list').removeClass('layui-show')
            $('.product_list').addClass('layui-hide')
            $('.product_type_'+type).removeClass('layui-hide').addClass('layui-show')
        })
        var elem = $('.message');
        var is_show = 1;
        setInterval(function(){
            if(is_show==1){
                $('.message').hide();
                is_show = 0;
            }else{
                $('.message').show();
                is_show = 1;
            }

        }, 1500);
    });
</script>
</body>
</html>
