<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$system.title}_{$title}</title>
    <link rel="stylesheet" href="/public/web/layui/css/layui.css">

</head>
<body style="background: #f1f1f1">
<div class="layui-container">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">正在比赛中</li>
            <li>即将开始的比赛</li>
            <li>已经结束的比赛</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-card">
                    <div class="layui-card-header">正在进行的比赛</div>
                    <div class="layui-card-body">
                        <table class="layui-hide" id="inplay" lay-filter="inplay"></table>
                    </div>
                </div>

            </div>
            <div class="layui-tab-item">
                <div class="layui-card">
                    <div class="layui-card-header">赛程</div>
                    <div class="layui-card-body">
                        <table class="layui-hide"  id="upcoming" lay-filter="upcoming"></table>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-card">
                    <div class="layui-card-header">结果</div>
                    <div class="layui-card-body">
                        <table class="layui-hide"  id="ended"  lay-filter="ended"></table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script src="/public/web/js/fixbar.js"></script>
<script>
    layui.use(['table', 'dropdown'], function(){
        var table = layui.table;
        var dropdown = layui.dropdown;

        // 创建渲染实例
        table.render({
            elem: '#inplay',
            url: '/getInplay', // 真实接口
            // height: 'full-35', // 最大高度减去其他容器已占有的高度差
            css: [ // 重设当前表格样式
                '.layui-table-tool-temp{padding-right: 145px;}'
            ].join(''),
            cellMinWidth: 80,
            totalRow: false, // 开启合计行
            page: false,
            cols: [[
                {title: '时间', field: 'time', minWidth: 110},
                { title: '联赛', field: 'league',minWidth: 110,templet:function (d) {
                        return d.league.name;
                    }},
                { title: '主队', field: 'home',minWidth: 110,templet:function (d) {
                        return d.home.name;
                    }},
                { title: '客队', field: 'away',minWidth: 110,templet:function (d) {
                        return d.away.name;
                    }},
                {title: '比分', field: 'ss', minWidth: 80},
                {title: '时长', field: 'tm', width: 80,templet:function (d) {
                        return d.timer.tm?"'"+d.timer.tm:'';
                    }},
            ]],
            done: function(){

            },
            error: function(res, msg){
                console.log(res, msg)
            }
        });
        //即将开始
        table.render({
            elem: '#upcoming',
            url: '/getUpcoming', // 真实接口
            where:{},
            cellMinWidth: 80,
            page: true,
            cols: [[
                {title: '时间', field: 'time', minWidth: 110},
                { title: '主队', field: 'home',minWidth: 110,templet:function (d) {
                        return d.home.name;
                    }},
                { title: '客队', field: 'away',minWidth: 110,templet:function (d) {
                        return d.away.name;
                    }},
            ]],
        });
        //即将开始
        table.render({
            elem: '#ended',
            url: '/getEnded', // 真实接口
            where:{},
            cellMinWidth: 80,
            page: true,
            cols: [[
                {title: '时间', field: 'time', minWidth: 110},

                { title: '主队', field: 'home',minWidth: 110,templet:function (d) {
                        return d.home.name;
                    }},
                { title: '客队', field: 'away',minWidth: 110,templet:function (d) {
                        return d.away.name;
                    }},
                {title: '比分', field: 'ss', minWidth: 80},
            ]],
        });




        // 行单击事件( 双击事件为: rowDouble )
        table.on('row(inplay)', function(obj){
            var data = obj.data; // 获取当前行数据
            window.location.href = '/competition/'+data.id
        });
        // 行单击事件( 双击事件为: rowDouble )
        table.on('row(upcoming)', function(obj){
            var data = obj.data; // 获取当前行数据
            window.location.href = '/competition/'+data.id
        });
        // 行单击事件( 双击事件为: rowDouble )
        table.on('row(ended)', function(obj){
            var data = obj.data; // 获取当前行数据
            window.location.href = '/competition/'+data.id
        });
    });
</script>
</body>
</html>
