<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$system.title}</title>
    <!-- 引入 layui.css -->
    <link href="/public/web/layui/css/layui.css" rel="stylesheet">
    <link href="/public/web/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/web/css/common.css?v=1.0" rel="stylesheet">
    <style>
        .card-tabs-item + .card-tabs-item {
            border-left: 1px solid rgba(0, 40, 100, 0.12);
        }
        .layui-table[lay-skin=line] {border:none !important;}
        .layui-table  td{border:none;border-top: 1px solid rgba(0, 40, 100, 0.12) !important;}
        .col-auto {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;
        }
        .list-inline {
            padding-left: 0;
            list-style: none;
        }
        .list-inline-item:not(:last-child) {
            margin-right: 0.5rem;
        }
        .list-inline-item {
            display: inline-block;
        }
        .list-inline-dots .list-inline-item + .list-inline-item:before {
            content: '· ';
            margin-left: -2px;
            margin-right: 3px;
        }

    </style>
</head>
<body>
<div class="layui-panel" style="padding: 0.95rem;box-shadow:none!important;border-bottom: 1px solid rgba(0, 40, 100, 0.12);border-style:none;">
    <div class="layui-container header">
        <div style="padding-left: 0.75rem">
            <a  style="font-weight: 600;line-height: 1.75rem;font-size: 1.75rem;"><span style="color: #5F6E37">Bets</span><span style="color: #C18C00">API</span></a>
        </div>
        <div>
            <button class="layui-btn layui-btn-primary lang" style="border: none">
             <i class="fa fa-language"></i> {:language($lang)}
            </button>
            <button class="layui-btn layui-btn-sm layui-btn-primary gologin" style="color: #467fcf;border-color: #467fcf;">
                {:l('Login',$lang)}
            </button>
        </div>
    </div>
</div>
<div class="layui-panel" style="padding: 0px;box-shadow:none!important;">
    <div class="layui-container" style="padding:0px;display: flex;justify-content:space-between;">
        <div class="layui-tab layui-tab-brief"  style="width: 60%;margin: 0px">
            <ul class="layui-tab-title ">
                <li class="layui-this"><a><i class="fa fa-play layui-font-14"></i> {:l('In_Play',$lang)}</a></li>
                <li><a><i class="fa fa-calendar layui-font-14"></i>  {:l('Fixtures',$lang)}</a></li>
                <li><a><i class="fa fa-calendar-check-o layui-font-14"></i>  {:l('Results',$lang)}</a></li>
                <li><a><i class="layui-icon layui-icon-verticalright layui-font-14"></i> {:l('More',$lang)}</a></li>
                <li><a><i class="fa fa-plane layui-font-14"></i> {:l('VIP',$lang)}</a></li>
                <li><a><i class="layui-icon layui-icon-read layui-font-14"></i> {:l('API',$lang)}</a></li>
            </ul>
        </div>
        <div class="layui-form">
            <div class="layui-input-wrap" style="margin-top: 5px">
                <input type="text" lay-affix="search" lay-filter="search" lay-options="{split: true}" placeholder="Search..." class="layui-input">
            </div>
        </div>
    </div>
</div>

<div class="layui-container" style="padding-left: 0.75rem">
    <div style="margin-top: 40px;display: flex;justify-content: space-between;margin-bottom: 20px">
        <h3 style="color: #2f363c">{:l('Live_Scores',$lang)}</h3>
        <p class="layui-btn layui-btn-primary layui-btn-sm Skip_Esports" style="font-weight: bold;background: #fff">{:l('Skip_Esports',$lang)}</p>
    </div>

    <div class="card">
        <div class="card-tabs text-center">
            <a href="/" class="card-tabs-item active">
                {:l('All',$lang)} ({:count($inplay)??0})
            </a>
            <a href="/ciz/football" class="card-tabs-item">
                {:l('Football',$lang)}({:count($inplay)??0})
            </a>
        </div>
    </div>
    <div style="padding: 10px;color: #24587e;background-color: #daeefc;border-color: #cbe7fb;margin-bottom: 10px">
        <span style="font-weight: bold;font-size: 1.2rem">BETA!</span> <a href="/login" style="color: #467fcf">Login</a> to see live updates without Refresh!
    </div>
    <div>
        <table class="layui-table" lay-skin="line" style="background: #f5f7fb">
            <colgroup>
                <col width="100">
                <col width="245">
                <col width="192">
                <col width="245">
                <col width="92">
                <col width="245">
                <col width="100">
            </colgroup>

            <tbody>
                {volist name="inplay" id="v"}
                    <tr style="color:#467fcf ;text-align: left">
                        <td>{:l('Football',$lang)}</td>
                        <td><a style="color:#467fcf ;" href="/league/{$v['league']['id']}">{$v['league']['name']}</a></td>
                        <td style="color: red">
                            {gt name="v['timer']['tm']" value="9"}
                                {$v['timer']['tm']}'
                            {else/}
                                0{$v['timer']['tm']}'
                            {/gt}
                           </td>
                        <td style="text-align: right">{$v['home']['name']}</td>
                        <td style="text-align: center"><a style="color:#467fcf ;" href="/competition/{$v.id}">查看</a></td>
                        <td style="text-align: left ">{$v['away']['name']}</td>
                        <td style="text-align: right">
                            <i style="color: red;cursor: pointer" class="layui-icon layui-icon-heart" ></i>
                            <i style="cursor: pointer" class="layui-icon layui-icon-file"></i>
                        </td>
                    </tr>
                {/volist}


            </tbody>
        </table>
        <hr style="border-top: 1px solid rgba(0, 40, 100, 0.12);    margin: 2rem 0 !important;     display: block; unicode-bidi: isolate;margin-block-start: 0.5em; margin-block-end: 0.5em;   margin-inline-start: auto; margin-inline-end: auto;">
    </div>


</div>
<div class="footer" style=" background: #fff;border-top: 1px solid rgba(0, 40, 100, 0.12);font-size: 0.875rem;padding: 1.25rem 0;color: #9aa0ac;">
   <div class="layui-container" style="display: flex;justify-content: space-between;">
       <p>Copyright © 2024</p>
       <div class="col-auto">
           <ul class="list-inline list-inline-dots mb-0">
               <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
               <li class="list-inline-item"><a href="/Service">Terms of Service</a></li>
               <li class="list-inline-item"><img src="/public/web/img/18.svg"></li>
           </ul>
       </div>
   </div>
</div>
<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script>
    layui.use( function(){
        var $ = layui.jquery;
        var table = layui.table;
        var dropdown = layui.dropdown;
        var form = layui.form;

        // 输入框点缀事件 - 搜索示例
        form.on('input-affix(search)', function(data){
            var elem = data.elem; // 输入框
            var value = elem.value; // 输入框的值
            // if(!value){
            //     layer.msg('请输入搜索内容');
            //     return elem.focus()
            // };

            //搜索跳转
             location.href = '/search?q='+ value;
        });
        // 水平对齐方式
        dropdown.render({
            elem: '.lang',
            // align: 'center' // align 已配置在元素 `lay-options` 属性上
            data: [{
                title: 'English',
                lang: 'En',
                id: 1
            },{
                title: '简体中文',
                lang: 'Cn',
                id: 2
            }],
            click: function(item){
                var url = window.location.href;
                window.location.href =  replaceUrlParam(url,'lang',item.lang)
            }
        });
        $('.Skip_Esports').click(function () {
            var url = window.location.href;
            window.location.href =  replaceUrlParam(url,'skipE',1)
        })
        function replaceUrlParam(url, paramName, paramValue) {
            var urlObj = new URL(url);
            urlObj.searchParams.set(paramName, paramValue);
            return urlObj.toString();
        }
    });
</script>
</body>
</html>
