<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$system.title}</title>
    <!-- 引入 layui.css -->
    <link href="/public/web/layui/css/layui.css" rel="stylesheet">
    <link href="/public/web/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/web/css/common.css?v=1.0" rel="stylesheet">
    <style>
    .search-container a{ color:#467fcf !important; }

    .search-container ul {
        display: block;
        list-style-type: disc !important;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
    }
    .search-container ul li {
        text-indent: -1em;padding-left: 1em;
        display: list-item;
        text-align: -webkit-match-parent;
        unicode-bidi: isolate;
        list-style: disc !important;
    }
    .search-container ul li::marker {
        unicode-bidi: isolate;
        font-variant-numeric: tabular-nums;
        text-transform: none;
        text-indent: 0px !important;
        text-align: start !important;
        text-align-last: start !important;
        line-height: 1.5;
        margin-bottom:5px;
    }
    </style>
</head>
<body>
<div class="layui-panel" style="padding: 0.95rem;box-shadow:none!important;border-bottom: 1px solid rgba(0, 40, 100, 0.12);border-style:none;">
    <div class="layui-container header">
        <div style="padding-left: 0.75rem">
            <a  style="font-weight: 600;line-height: 1.75rem;font-size: 1.75rem;"><span style="color: #5F6E37">Bets</span><span style="color: #C18C00">API</span></a>
        </div>
        <div>
            <button class="layui-btn layui-btn-primary lang" style="border: none">
             <i class="fa fa-language"></i> {:language($lang)}
            </button>
            <button class="layui-btn layui-btn-sm layui-btn-primary gologin" style="color: #467fcf;border-color: #467fcf;">
                {:l('Login',$lang)}
            </button>
        </div>
    </div>
</div>
<div class="layui-panel" style="padding: 0px;box-shadow:none!important;">
    <div class="layui-container" style="padding:0px;display: flex;justify-content:space-between;">
        <div class="layui-tab layui-tab-brief"  style="width: 60%;margin: 0px">
            <ul class="layui-tab-title ">
                <li class="layui-this"><a><i class="fa fa-play layui-font-14"></i> {:l('In_Play',$lang)}</a></li>
                <li><a><i class="fa fa-calendar layui-font-14"></i>  {:l('Fixtures',$lang)}</a></li>
                <li><a><i class="fa fa-calendar-check-o layui-font-14"></i>  {:l('Results',$lang)}</a></li>
                <li><a><i class="layui-icon layui-icon-verticalright layui-font-14"></i> {:l('More',$lang)}</a></li>
                <li><a><i class="fa fa-plane layui-font-14"></i> {:l('VIP',$lang)}</a></li>
                <li><a><i class="layui-icon layui-icon-read layui-font-14"></i> {:l('API',$lang)}</a></li>
            </ul>
        </div>
        <div class="layui-form">
            <div class="layui-input-wrap" style="margin-top: 5px">
                <input type="text" lay-affix="search" lay-filter="search" lay-options="{split: true}" placeholder="Search..."  lay-affix="clear" class="layui-input">
            </div>
        </div>
    </div>
</div>

<div class="layui-container search-container" style="padding-left: 0.75rem;">
    <div style="margin: 50px 0">
        <h1 style="color: #2f363c">{:l('Results',$lang)}-{$q}</h1>
        <div style="margin-top: 40px;display: flex;justify-content: center;margin-bottom: 20px">

            <div class="layui-form">
                <div class="layui-input-inline">
                    <select name="type " lay-filter="aihao">
                        <option value="All">{:l('All',$lang)}</option>
                        <option value="0">{:l('Soccer',$lang)}</option>
                    </select>
                </div>
                <div class="layui-input-inline layui-input-wrap">
                    <input type="text" name="q" lay-verify="required" placeholder="Search..."  lay-affix="clear" class="layui-input">
                </div>
                <div class="layui-input-inline layui-input-wrap">
                    <button class="layui-btn layui-btn-normal">{:l('Search',$lang)}</button>
                </div>
                <div class="layui-input-inline layui-input-wrap">
                    <p class="layui-btn layui-btn-primary  Skip_Esports" >{:l('Skip_Esports',$lang)}</p>
                </div>
            </div>

        </div>
        <div class="layui-row layui-col-space4">
            <div class="layui-col-xs12 layui-col-md6">
                <h2 style="color: #2f363c;margin-bottom: 0.66em;">{:l('League',$lang)}</h2>
                <ul  >
                    {volist name="league" id="v"}
                    <li >[<a href="/">{:l('Soccer',$lang)}</a>]<a href="/league/{$v.id}">{$v.name}</a></li>
                    {/volist}
                </ul>
            </div>
            <div class="layui-col-xs12 layui-col-md6">
                <h2 style="color: #2f363c;margin-bottom: 0.66em;">{:l('Team',$lang)}</h2>
                <ul >
                    {volist name="team" id="v"}
                         <li >[<a href="/">{:l('Soccer',$lang)}</a>]<a href="/team/{$v.id}">{$v.name}</a></li>
                    {/volist}
                </ul>
            </div>
        </div>

    </div>


</div>
<!--	底部内容-开始	  -->
{include file="index/common/footer"}
<!--	底部内容-结束	  -->

<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script>
    layui.use( function(){
        var $ = layui.jquery;
        var table = layui.table;
        var dropdown = layui.dropdown;
        var form = layui.form;

        // 输入框点缀事件 - 搜索示例
        form.on('input-affix(search)', function(data){
            var elem = data.elem; // 输入框
            var value = elem.value; // 输入框的值
            // if(!value){
            //     layer.msg('请输入搜索内容');
            //     return elem.focus()
            // };

            //搜索跳转
             location.href = '/search?q='+ value;
        });
        // 水平对齐方式
        dropdown.render({
            elem: '.lang',
            // align: 'center' // align 已配置在元素 `lay-options` 属性上
            data: [{
                title: 'English',
                lang: 'En',
                id: 1
            },{
                title: '简体中文',
                lang: 'Cn',
                id: 2
            }],
            click: function(item){
                var url = window.location.href;
                window.location.href =  replaceUrlParam(url,'lang',item.lang)
            }
        });
        $('.Skip_Esports').click(function () {
            var url = window.location.href;
            window.location.href =  replaceUrlParam(url,'skipE',1)
        })
        function replaceUrlParam(url, paramName, paramValue) {
            var urlObj = new URL(url);
            urlObj.searchParams.set(paramName, paramValue);
            return urlObj.toString();
        }
    });
</script>
</body>
</html>
