<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}</title>
    <!-- 引入 layui.css -->
    <link href="/public/web/layui/css/layui.css" rel="stylesheet">
    <link href="/public/web/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/web/css/common.css?v=1.0" rel="stylesheet">
    <style>thead{display: none !important;}</style>
</head>
<body>
<!--	底部内容-开始	  -->
{include file="index/common/header"}
<!--	底部内容-结束	  -->

<div class="layui-container" style="padding-left: 0.75rem">
    <div style="margin-top: 40px;display: flex;justify-content: space-between;margin-bottom: 20px">
        <h3 style="color: #2f363c"> {:l('Soccer',$lang)} Live In Play Betting & Odds, Fixtures and Results</h3>
        <p class="layui-btn layui-btn-primary layui-btn-sm Skip_Esports" style="font-weight: bold;background: #fff">{:l('Skip_Esports',$lang)}</p>
    </div>

    <div class="card">
        <div class="card-tabs text-center">
            <a href="/soccer" class="card-tabs-item active text-center">
                {:l('Matches',$lang)}
            </a>
            <a href="/soccer/inplay" class="card-tabs-item text-center">
                {:l('In_Play',$lang)}
            </a>
            <a href="/results" class="card-tabs-item text-center">
                {:l('Results',$lang)}
            </a>
            <a href="/fixtures" class="card-tabs-item text-center">
                {:l('Fixtures',$lang)}
            </a>
            <a href="/soccer/data" class="card-tabs-item text-center">
                {:l('Data',$lang)}
            </a>

        </div>
    </div>

    <div style="border-top: 3px solid #5eba00 !important;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);border-radius: 3px 3px 0 0;background: #ffffff">
        <div style="margin: 20px;display: flex;justify-content: space-between">
            <h3> {:l('Fixtures',$lang)}</h3>
            <a href="/fixtures" class="layui-btn layui-btn-primary layui-btn-sm"> {:l('More',$lang)}</a>
        </div>
        <table class="layui-table" lay-skin="line" style="background: #ffffff">
            <colgroup>

                <col width="">
                <col width="192">
                <col width="">
                <col width="">
                <col width="">
            </colgroup>

            <tbody>
            {volist name="fixtures.list" id="v"}
            <tr style="color:#467fcf ;text-align: left">

                <td><a style="color:#467fcf ;" href="/league/{$v['league']['id']}">{$v['league']['name']}</a></td>
                <td style="color: #24587e">
                    {:date("m/d H:i",strtotime($v['time']))}
                </td>
                <td style="text-align: left">
                    <a href="/team/{$v['home']['id']}" style="color:#467fcf ;">
                        {if condition="file_exists(EASYSWOOLE_ROOT.'/public/uploads/team_logo/'.$v['home']['id'].'.png')"}
                        <img style="width: 20px" src="/public/uploads/team_logo/{$v['home']['id']}.png">
                        {/if}
                        {$v['home']['name']}
                    </a>
                    <span style="color: #24587e">v</span>
                    <a  href="/team/{$v['home']['id']}" style="color:#467fcf ;">
                        {$v['away']['name']}
                        {if condition="file_exists(EASYSWOOLE_ROOT.'/public/uploads/team_logo/'.$v['away']['id'].'.png')"}
                        <img style="width: 20px" src="/public/uploads/team_logo/{$v['away']['id']}.png">
                        {/if}
                    </a>
                </td>
                <td style="text-align: left">
                    <a style="color:#467fcf ;" href="/competition/{$v.id}">
                        {empty name="v.ss"}
                        {:l('View',$lang)}
                        {else/}
                        {$v['ss']}
                        {/empty}
                    </a>
                </td>


            </tr>
            {/volist}


            </tbody>
        </table>
        <hr style="border-top: 1px solid rgba(0, 40, 100, 0.12);    margin: 2rem 0 !important;     display: block; unicode-bidi: isolate;margin-block-start: 0.5em; margin-block-end: 0.5em;   margin-inline-start: auto; margin-inline-end: auto;">
    </div>

    <div style="border-top: 3px solid #5eba00 !important;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);border-radius: 3px 3px 0 0;background: #ffffff">
        <div style="margin: 20px;display: flex;justify-content: space-between">
            <h3> {:l('Results',$lang)}</h3>
            <a href="/results" class="layui-btn layui-btn-primary layui-btn-sm"> {:l('More',$lang)}</a>
        </div>
        <table class="layui-table" lay-skin="line" style="background: #ffffff">

            <tbody>
            {volist name="results.list" id="v"}
                <tr style="color:#467fcf ;text-align: left">

                    <td><a style="color:#467fcf ;" href="/league/{$v['league']['id']}">{$v['league']['name']}</a></td>
                    <td style="color: #24587e">
                        {:date("m/d H:i",strtotime($v['time']))}
                    </td>
                    <td style="text-align: left">
                        <a href="/team/{$v['home']['id']}" style="color:#467fcf ;">
                            {if condition="file_exists(EASYSWOOLE_ROOT.'/public/uploads/team_logo/'.$v['home']['id'].'.png')"}
                            <img style="width: 20px" src="/public/uploads/team_logo/{$v['home']['id']}.png">
                            {/if}
                            {$v['home']['name']}
                        </a>
                        <span style="color: #24587e">v</span>
                        <a  href="/team/{$v['home']['id']}" style="color:#467fcf ;">
                            {$v['away']['name']}
                            {if condition="file_exists(EASYSWOOLE_ROOT.'/public/uploads/team_logo/'.$v['away']['id'].'.png')"}
                            <img style="width: 20px" src="/public/uploads/team_logo/{$v['away']['id']}.png">
                            {/if}
                        </a>
                    </td>
                    <td style="text-align: left">
                        <a style="color:#467fcf ;" href="/competition/{$v.id}">
                            {empty name="v.ss"}
                            {:l('View',$lang)}
                            {else/}
                            {$v['ss']}
                            {/empty}
                        </a>
                    </td>


                </tr>
            {/volist}

            </tbody>
        </table>
        <hr style="border-top: 1px solid rgba(0, 40, 100, 0.12);    margin: 2rem 0 !important;     display: block; unicode-bidi: isolate;margin-block-start: 0.5em; margin-block-end: 0.5em;   margin-inline-start: auto; margin-inline-end: auto;">
    </div>


</div>
<!--	底部内容-开始	  -->
{include file="index/common/footer"}
<!--	底部内容-结束	  -->
<!-- body 末尾处引入 layui -->
<script src="/public/web/layui/layui.js"></script>
<script src="/public/web/js/fixbar.js"></script>
<script>
    layui.use(['table', 'dropdown'], function(){

        var $ = layui.jquery;
        var table = layui.table;
        var dropdown = layui.dropdown;
        var form = layui.form;
        var laypage = layui.laypage;
        var laydate = layui.laydate;
        // 英文版
        laydate.render({
            elem: '#date',
            lang: '{$lang=="En"?"en":"cn"}',
            done: function(value, date){
                var url = window.location.href;
                url = replaceUrlParam(url,'page',1)
                window.location.href  = replaceUrlParam(url,'date',value)
            },
            change: function(value, date, endDate){
                console.log(value)
                var url = window.location.href;
                url = replaceUrlParam(url,'page',1)
                window.location.href  = replaceUrlParam(url,'date',value)

            }
        });

        // 输入框点缀事件 - 搜索示例
        form.on('input-affix(search)', function(data){
            var elem = data.elem; // 输入框
            var value = elem.value; // 输入框的值
            //搜索跳转
            location.href = '/search?q='+ value;
        });
        // 水平对齐方式
        dropdown.render({
            elem: '.lang',
            // align: 'center' // align 已配置在元素 `lay-options` 属性上
            data: [{
                title: 'English',
                lang: 'En',
                id: 1
            },{
                title: '简体中文',
                lang: 'Cn',
                id: 2
            }],
            click: function(item){
                var url = window.location.href;
                window.location.href =  replaceUrlParam(url,'lang',item.lang)
            }
        });
        $('.Skip_Esports').click(function () {
            var url = window.location.href;
            window.location.href =  replaceUrlParam(url,'skipE',1)
        })
        function replaceUrlParam(url, paramName, paramValue) {
            var urlObj = new URL(url);
            urlObj.searchParams.set(paramName, paramValue);
            return urlObj.toString();
        }
        // 创建渲染实例
        table.render({
            elem: '#league',
            url: '/getLeague', // 真实接口
            // height: 'full-35', // 最大高度减去其他容器已占有的高度差
            css: [ // 重设当前表格样式
                '.layui-table-tool-temp{padding-right: 145px;}'
            ].join(''),
            cellMinWidth: 80,
            limit:50,
            page:true,
            page: { // 支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['prev', 'page', 'next'], //自定义分页布局
                groups: 5, //只显示 1 个连续页码
                prev:'Prev',
                next:'Next',
                theme: '#1E9FFF',
            },

            limits:[50,100,200,500],
            totalRow: false, // 开启合计行
            cols: [[
                { title: '联赛名称', field: 'name',minWidth: 110,templet:function (d) {
                        return '<span class="layui-badge layui-bg-blue">'+d.id+' </span> <a href="/league/'+d.id+'" style="color: #467fcf">'+d.name+'</a> ';
                }},
                // { title: '国家', field: 'cc',minWidth: 110},
            ]]
        });



        $('.getLeague').click(function () {

            var cc = $(this).attr('data-cc')
            // 完整重载 -  所有属性属性(options)均可参与到重载中
            table.reload('league', {
                where: { // 传递数据异步请求时携带的字段
                    "cc": cc,
                },
            });
        })

        // 行单击事件( 双击事件为: rowDouble )
        table.on('row(league)', function(obj){
            var data = obj.data; // 获取当前行数据
            window.location.href = '/league/'+data.id
        });

    });
</script>
</body>
</html>
